.first-div {
  background-color: #383127;
}

.first-h1 {
  margin-top: 70px;
  margin-bottom: 70px;
  color: white;
}

#first-img {
  height: 319px;
  width: 100%;
}



@media (max-width: 1010px) {
  #first-img {
    /*height: auto !important;*/
    height: 100%;

  }

  .first-div, h1{
    padding-bottom: 20px;
  }

}

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {

  color: white;
}





@media screen and (max-width: 767px) {

  h1 {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
.page-heading{
  background-color: #f1f1f1;
  color: #5d6063;
}
