<div class="row" id="main">
  <!-- <div class="margin-top-white"></div> -->
  <div class="col-md-4 col-xs-12 p-0">
    <img src="../../../../../assets/img/tech4.PNG" id="first-img" alt="" />
  </div>
  <div class="col-md-8 col-xs-12 first-div">
    <!-- <h1 class="first-h1 padding-left first-padding-right">
      Technology… opening doors for businesses
    </h1> -->
    <h2 class="first-h2" style="padding-top: 75px;  padding-left: 45px; padding-right: 45px; font-family: IBMPlexSerif-ExtraLight; line-height: 35px;" >
      Perception IT helps businesses  navigate through the pelehra of technologies.  Matching you to your exact needs. help your company become more productive, increase performance, save money, improve the customer experience, streamline communications and enhance managerial decision-making.Some statistics.
    </h2>
  </div>
</div>
