.featured-services {
  padding: 0;
  background-color: #f9f9fa;
  padding-bottom: 20px;
}

.featured-services .icon-box {
  padding: 20px;
  color: #5f687b;
  background: white ;
  border-radius: 4px;
  border: 1px solid white;
  transition: 0.3s;
}

.featured-services .icon {
  margin: 0 0 15px 0;
}

.featured-services .icon i {
  color: #16df7e;
  font-size: 36px;
}

.featured-services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #5f687b;
  transition: 0.3s;
}

.featured-services .icon-box:hover {
  border-color: #eaecef;
}

.featured-services .icon-box:hover .title a {
  color: #16df7e;
}

.featured-services .description {
  line-height: 24px;
  font-size: 14px;
}

.testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -14px 0 0 80px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.testimonials-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 85px;
  color: #111;
}

.testimonials-subname {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 85px;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #e4e6ea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: white;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #16df7e;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #16df7e;
}

/* my classes */

.first-card-image{
  max-height: 250px;
}
