<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="margin-left-right" >
    <div class="row" style="margin-top: 100px;">
      <div class="col-lg-6 col-md-12" style="padding-right: 0px !important;" >
        <div class="icon-box" style="height: 435px;">
          <h4 class="title"><a href="">Dev Ops</a></h4>
          <h3 class="title">Bussiness at the speed of digital</h3>
          <p class="description">
           Accelerate innovation, adaption, learning and customer value.
            Derive and provide immediate, actionable guidence.
             Manage imerging periorites seemlessly.
          </p>
          <img src="assets/img/devops.png" class="img-fluid animated first-card-image" alt="">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" style="padding-right: 0px !important;">
        <div class="icon-box"  style="height: 435px;">
          <h4 class="title"><a href="">Managed Right</a></h4>
          <p class="description">
           Bussiness grow without breaks when the are riding on strong tech foundation desigined by people who understand yor need.
          </p>
          <p class="description">
          Perception IT invest time in understanding your requirnments devises and best solution required to give your bussiness the compitetive advantage 
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="icon-box" style="height: 210px; margin-bottom: 10px;">
          <h4 class="title"><a href="">Buid Ones!</a></h4>
          <p class="description">
            Invest in strong tech foundation that is Perception It invest time in understanding your requirnment in order to devise the best slution required to give your bussiness the compitetive advantage
          </p>
        </div>
        <div class="icon-box" style="height: 215px;">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim. Aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Services Section -->
