<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="margin-left-right">
    <div class="row" id="row-margin">
      <div class="col-lg-6 col-md-12" id="col-1">
        <div class="icon-box" id="box-1">
          <h4 class="title"><a href="">Dev Ops</a></h4>
          <h3 class="title">Bussiness at the speed of digital</h3>
          <p class="description">
            Accelerate innovation, adaption, learning and customer value. Derive
            and provide immediate, actionable guidence. Manage imerging
            periorites seemlessly.
          </p>
          <img
            src="assets/img/devops.png"
            class="img-fluid animated first-card-image"
            alt=""
          />
          <div id="button-text-1" class="text-end">
            <small><b>[Dev Ops]</b></small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" id="col-2">
        <div class="icon-box" id="box-2">
          <h4 class="title"><a href="">Managed Right</a></h4>
          <p class="description">
            Bussiness grow without breaks when the are riding on strong tech
            foundation desigined by people who understand yor need.
          </p>
          <p class="description">
            Perception IT invest time in understanding your requirnments devises
            and best solution required to give your bussiness the compitetive
            advantage
          </p>
          <div id="button-text-2">
            <small><b>[Managed Services]</b></small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="icon-box" id="box-3-1">
          <h4 class="title"><a href="">Buid Ones!</a></h4>
          <p class="description">
            Invest in strong tech foundation that is Perception It invest time
            in understanding your requirnment in order to devise the best
            slution required to give your bussiness the compitetive advantage
           <span id="bottom-text-3-1" class="pull-right"><small><b>[Consulting]</b></small></span> 
          </p>
        </div>
        <div class="icon-box" id="box-3-2">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim. Aliquam eget
              nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              
            </p>
            <img
              src="assets/img/testimonials/testimonials-1.jpg"
              class="testimonial-img"
              alt=""
            />
            <span id="bottom-text-3-2"><small><b>[Testimonial]</b></small></span>
            <!-- <p class="text-end">
              <small><b>[Testimonial]</b></small>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Services Section -->
