<!--Networking Management Services div -->
<div class="page-heading padding-right padding-left margin-top-5" id="NMS">
  <h3 style="padding-top: 25px">Networking Management Services</h3>
</div>

<!--divs-->
<div class="row">
  <div id="Applications" class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div class="header-1 text-center color-NMS" style="padding: 21px">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <div class="box-0-NMS">
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Your
      </h2>

      <ul class="body-text col-padding-right col-padding-left">
        <li class="fonts-li">
          <p style="font-size: medium">Failover Network Configuration</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">
            Failover Internet Access Configuration.
          </p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Failover Remote Access Configuration</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">
            Unauthorization Network: Access<br />protection.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div id="Applications" class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div class="header-1 text-center color-1-NMS" style="padding: 21px">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <div class="box-0-NMS">
      <h2
        class="col-padding-left col-padding-right"
        style="
          padding-top: 45px;
          padding-bottom: 25px;

          font-family: SFPro-thin;
        "
      >
        We provide
      </h2>

      <ul class="body-text col-padding-right col-padding-left">
        <li class="fonts-li">
          <p style="font-size: medium">Security Assessment.</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Failover Network Solutions</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">design,development and</p>
        </li>
        <li class="fonts-li"><p style="font-size: medium">implemenation</p></li>
      </ul>
    </div>
  </div>
</div>
