/* NMS styling */
.row{
  background-color: #3c3e45;
}
#NMS{
  background-color: #707070;
}

.color-NMS {
  background-color: #131E3A;
}

.color-1-NMS {
  background-color: #1D2957
}
.box {
  border-right: 0.1px solid #7a7979;

}
.box-1-NMS {
 /* border: 0.1px 0.1px 0px 0.1px  solid #BCB8B8;*/
  background-color: #3c3e45;
  color: white;
  height: 420px;
}



.box-0-NMS {
  border-left: 0.1px solid #84858B;
  border-right: 0.1px solid #84858B;
  background-color: #3c3e45;
  color: white;
  height: 420px;
}
