<div class="row">
<div class="col  page-heading padding-right padding-left margin-top-3" >
  <div
    class=""
    style="
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    "
  >
    <h3 class="pb-1">Technology</h3>
    <h4>
      Our MS team is always working in the background to predict a possible
      disruption and take proactive actions to remediate it.
    </h4>
  </div>
</div>
<div
  class="links-tab padding-left third border-bottom-1 sticky-xl-top fw-bold "
  id="links-tab"
>
  <div class="social-links">
    <a href="#" class="align-middle" id="abc">
      <h5 class="third-h5">IBM control desk</h5>
    </a>
    <a href="#" class="left-line align-middle" id="abc">
      <h5 class="third-h5">Jira </h5>
    </a>
    <a href="#" class="left-line align-middle" id="abc">
      <h5 class="third-h5">IBM Watson ai ops</h5>
    </a>
    <a href="#" class="left-line align-middle" id="abc">
      <h5 class="third-h5">Instana </h5>
    </a>
    <a href="#" class="left-line align-middle" id="abc">
      <h5 class="third-h5">Humio</h5>
    </a>
    <a href="#" class="align-middle" id="abc">
      <h5 class="third-h5"> Pending</h5>
    </a>
    <!-- <a href="#" class="left-line align-middle" id="abc">
      <h5 class="third-h5">Cost benefit</h5>
    </a>
    <a href="#" class="align-middle" id="abc">
      <h5 class="third-h5">Business benefit</h5>
    </a> -->
  </div>

  <!-- <h5 class="third-h5">
        Supported Hardware | Services | After Sales Service | Hardware
        Consultancy | Warranty Support | Testimonials
      </h5> -->
</div>
</div>
