#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1) !important;
}


#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1) !important;
  padding: 12px 0;
}

#header .logo {
  font-size: 25px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #5f687b;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 1160px) {
  #header {
    padding-top: 20px !important;
  }
}


.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:"SFPro-SemiBold";
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  font-size: 18px;
  color: #5c768d;
  white-space: nowrap;
  transition: 0.3s;
}

a {
  font-family: "IBMPlexSerif-Regular";
}

/* .navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
} */

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
  color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee;
}

.navbar .getstarted {
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 1;
  color: #5f687b;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #cdd1d9;
}

.navbar .getstarted:hover {
  background: #206bfb;
  color: #fff;
  border-color: #206bfb;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  /* box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); */
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #5f687b;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.padding-top-20{
  padding-top: 20px;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.padding-bottom-20{
  padding-bottom: 20px;
}


.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1160px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .padding-top-20{
    padding-top: 0px !important;
  }
  
  .padding-bottom-10{
    padding-bottom: 0px !important;
  }
  
  .padding-bottom-20{
    padding-bottom: 20px !important;
  }
  
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(73, 80, 94, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px !important;
  /* font-size: 15px; */
  color: #5f687b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee;
}

.navbar-mobile .getstarted {
  margin: 15px;
  padding: 10px 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.left-padding {
  padding-left: 8px !important;
  padding-right: 5px !important;
}

.navbar>ul>li {
  border-right: 1px solid #e5e5e7;
}

.left-line {
  border-right: 1px solid #e5e5e7;
}

.navbar>ul>li:last-child {
  border: none;
}


/* mega menu */
/* .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: red;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
} */


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 400px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: white;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
} */


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
/* #topbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  height: 40px;
  padding: 0;
} */

.contact-info a {
  line-height: 0;
  color: #444;
  transition: 0.3s;
  
}

.contact-info a:hover {
  /* color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee; */
  cursor:pointer;
}

.contact-info i {
  color: #428bca;
  line-height: 0;
  margin-right: 5px;
}

.contact-info .phone-icon {
  margin-left: 15px;
}

.social-links a {
  color: #5c768d;
  padding: 0px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee;
}

#bellow-bar {
  background-color: #0c2f70;
  color: white;
}

#bellow-bar>div {
  color: white;
}

.paragraph-margin {
  margin-top: 10px;
}

.dot {
  height: 6px;
  width: 6px;
  margin-right: 100px;
  margin-top: 2px !important;
  display: inline-block
}

@media (max-width: 1160px) {
  #scroller {
    margin-top: 67px !important;
  }
  .header-bottom-border{
    margin-top: 60px !important;
    }
}

.header-bottom-border{
background-color: #132D6F;
height: 6px;
margin-top: 99px;
}

#scroller {
  margin-top: 110px;
}

.news-height {
  padding-top: 5px;
  height: 35px;
}

.blue-background {
  background-color: rgb(16, 16, 97);
}

.text-white {
  color: white;
}
