

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
 box-shadow: 0 3px 3px #4d4c4c;
}



#header.header-scrolled {
  box-shadow: 0 3px 3px #4d4c4c;
  padding: 12px 0;
}

#header .logo {
  font-size: 25px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #5d6063;
}

#header .logo img {
  max-height: 40px;
}

.p-logo-div {
  padding-top: 30px;
}


.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "SFPro";
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  font-size: 17px;
  color: #5d6063;
  white-space: nowrap;
  transition: 0.3s;
}

h4 {
  font-size: 17px;
}

a {
  font-family: "IBMPlexSerif-Regular";
}









/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #5d6063;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.padding-top-20 {
  padding-top: 30px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 26px;
}


.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1160px) {



  .p-logo-div {
    padding-top: 10px !important;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .padding-top-20 {
    padding-top: 20px !important;
  }

  .padding-bottom-10 {
    padding-bottom: 0px !important;
  }

  .padding-bottom-20 {
    padding-bottom: 20px !important;
  }

}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(73, 80, 94, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px !important;

  color: #5d6063;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee;

}

.navbar-mobile .getstarted {
  margin: 15px;
  padding: 10px 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0 3px 6px #000000;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee;

}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;

}

.left-padding {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

/* .navbar>ul>li {
  border-right: 1px solid #e5e5e7;
} */

/* .navbar>ul>li:last-child {
  border: none;
} */





.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 400px;
  left: 0;
  box-shadow: 0 3px 6px #000000;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: white;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.contact-info a {
  line-height: 0;
  color: #444;
  transition: 0.3s;

}

.contact-info a:hover {
  /* color: #929496;
  border-bottom: 3px solid #929496;
  background-color: #e7eaee; */
  cursor: pointer;
}

.contact-info i {
  color: #428bca;
  line-height: 0;
  margin-right: 5px;
}

.contact-info .phone-icon {
  margin-left: 15px;
}

.top-header a {
  color: #5d6063;
  padding: 0px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

.top-header>a>h4 {
  font-family: "SFPro-Light";
}

/* .top-header a:hover {
  color: #cccecf  !important;
  border-bottom: 2px solid #e7eaee;
  background-color: #e7eaee;
} */

#bellow-bar {
  background-color: #0c2f70;
  color: white;
}

#bellow-bar>div {
  color: white;
}

.paragraph-margin {
  margin-top: 10px;
}

.dot {
  height: 6px;
  width: 6px;
  margin-right: 100px;
  margin-top: 2px !important;
  display: inline-block
}

@media (max-width: 1160px) {
  #scroller {
    margin-top: 70px !important;
  }

  .header-bottom-border {
    margin-top: 60px !important;
  }
}

.header-bottom-border {
  background-color: #132D6F;
  height: 6px;
  margin-top: 99px;
}

#scroller {
  margin-top: 120px;
}

.news-height {
  padding-top: 5px;
  height: 35px;
}

.blue-background {
  background-color: rgb(16, 16, 97);
}

.text-white {
  color: white;
}

.pointer {
  cursor: pointer;
}

.active-link {
  color: #443737 !important;
  background-color: #E0E0E0;

  border-radius: 8px;
}


/* media query for perception logo  */
@media (max-width: 793px) and (min-width:300px) {

  .perception-logo {

    /*max-width: 320px;
    max-height: 70px;*/
    max-width: 170px;
    max-height: 60px;
  }
}

.perception-logo {
  padding-top: 15px;
}
