<!-- <div class="row" style="margin: 0.1rem">
  <div
    class="col-3 d-flex align-items-center justify-content-center"
    style="border: 1px solid #d4d4d4"
  >
    <h4 class="">Case Study</h4>
  </div>
  <div
    class="col-3 d-flex align-items-center justify-content-center"
    style="border: 1px solid #d4d4d4"
  >
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
      reiciendis quae, similique numquam asperiores sint rerum necessitatibus
      obcaecati dolore quo omnis officiis aperiam nulla nemo velit suscipit.
      Doloribus, quidem consectetur!
    </div>
  </div>
  <div class="col-6" style="border: 1px solid #d4d4d4">
    <img src="../../../../../assets/img/Capture.PNG" class="card-img" alt="" />
  </div>
</div> -->
<div class="row" style="margin: 0.1rem">
  <div
    class="col mt-5"
    style="background-color: #020a2c; color: white; padding: 20px"
  >
    <p class="mt-3">
      Contact | PolicyTearms of use | Accessibility | Cookie preferences
    </p>
  </div>
</div>
