<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <span>Manage Services Cost benefit</span>
      <h2>Manage Services Cost benefit</h2>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">How you can get the most
              Benefit from the right technology.</a>
          </h4>
          <p class="padding-right padding-left">
            PENDING Any business that is using software or apps for innovation and growth, regardless of industry, should consider developing a DevOps environment. DevOps has however been identified to enhance performance in the following industries: Financial services | Healthcare / Banking / Insurance / Hospitality / Inventory management/ Manufacturing.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="">Why use perception IT as
              Your technology partner?</a>
          </h4>
          <p class="padding-right padding-left">
            PENDING Your consumers expect new and enhanced software solutions without having to wait. Your business must keep up to meet their ever-increasing demands. However, a lack of proper communication and collaboration between teams often leads to inefficiency, causing hindrances in the workflow.
            DevOps aims to encourage process automation and collaboration between the business, development, and operations teams for improved teamwork, seamless management, streamlined processes, and enhanced productivity. Departments that previously operated as separate entities now make use of te
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4>
            <a href=""
              >You don’t have to Invest in purchase and maintenance of IT
              equipment</a
            >
          </h4>
          <p class="padding-right padding-left">
            • You aren’t buying equipment, setting it up, maintaining it and
            dedicating precious office space to it. And don’t ignore the benefit
            of freeing up office space that was once taken up by servers,
            routers and other tin boxes. Imagine a law firm, for example, and
            consider how much more value they get from office space that has
            fee-earning lawyers in it, compared with space that’s devoted to IT.
          </p> <br>
          <p class="padding-right padding-left">
            • MSPs can do this for less because they buy at a scale that brings
            costs down significantly. Moreover, the customer is buying only a
            piece of that equipment, so the costs are even lower.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
