.first-div {
  background-color: black;
  background-image: url(../../../../assets/img/about1.webp);
}

.first-h1 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: white;
}

.first-h2 {
  padding-bottom: 30px;
  color: white;
}

.third {
  background-color: black;
  color: white;
}


.blue-background {
  background-color: #04103E;
  border: #132D6F;
  margin-top: 1px;
}

.third-div {
  margin-top: 3px;
  background-image: url(../../../../assets/img/about2.webp);
  background-color: #FFA217;
  background-repeat: no-repeat;
  color: #060F33;
  box-shadow: 0 3px 6px #000000;
}

@media (max-width: 980px) {
  #links-tab {
    height: 60px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
}

.forth-div {
  margin-top: 3px;
  background-color: #3C3E45;
  color: white;
}

.color {
  background-color: #707070;
}

.color-1 {
  background-color: #555555;
}

.fifth-div {
  background-color: #3C3E45;
  color: white;
}



.box {
  /* border: 0.1px 0.1px 0px 0.1px  solid #BCB8B8; */
  border-left: 0.1px solid #7a7979;
  border-right: 0.1px solid #7a7979;
}



.blog-padding {
  padding-top: 30%;
}

@media (max-width: 778px) {
  #p5 {
    padding-bottom: 0px !important;
  }

  #p5-up {
    padding-top: 0px !important;
  }

  .blog-padding {
    padding-top: 10% !important;
  }
}






#customer {
  font-size: 12px !important;
}

#customer::after {
  width: 130px;
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}







.header-1 {
  padding: 21px;
}

.header-2 {
  padding-top: 45px;
  padding-bottom: 25px;

}

.body-3 {
  font-family: "SFPro";

  line-height: 35px;
}
