<div class="overflow-hidden">
  <div class="first-div">
    <div class="col-md-6">
      <h1 class="padding-left first-h1">
        Perception IT has been leading the way in delivering truly unique IT
        operations solutions
      </h1>
      <h2 class="padding-left first-h2">
        <b>2020</b> Perception IT manages the IT operational infrastructure for
        companies with the most critical SLAs in thw world
      </h2>
    </div>
  </div>
  <div class="page-heading padding-left padding-right margin-top-3">
    <h3 class="pb-1">About Us</h3>
    <h4>Perceiving the present and future</h4>
  </div>
  <div class="links-tab padding-left third border-bottom-1" id="links-tab">
    <div class="social-links">
      <a href="#" class="align-middle">
        <h5 class="third-h5">Banking</h5>
      </a>
      <a href="#" class="left-line align-middle">
        <h5 class="third-h5">Telecom</h5>
      </a>
      <a href="#" class="left-line align-middle">
        <h5 class="third-h5">Manufacturing</h5>
      </a>
    </div>
    <div style="height: 2px"></div>
  </div>
  <div class="third-div">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h1 class="padding-right padding-left pt-5">
          We are uniquely positioned to work with businesses and drive the
          change required to realize their true value through the latest
          technologies
        </h1>
        <p class="padding-right padding-left body-3 pt-3 pb-5">
          DevOps focuses on rapid IT service delivery through the adoption of
          agile and lean practices in the context of a system-oriented approach.
          By uniting software development and tech operations and automating
          their processes from end to end, companies can clear a seamless path
          from idea to production.
        </p>
      </div>
    </div>
  </div>
  <div class="forth-div">
    <div class="row">
      <div class="col-md-6">
        <h2 class="padding-left padding-right padding-top">
          Entire organizations need to be agile for a business to realize their
          true value <small style="font-size: small">-McKinsey Digita</small>
        </h2>
        <br />
        <p
          class="padding-left padding-right m-0 pt-2 body-3"
          style="color: #dddcdc"
        >
          Perception IT was established in 2010 London UK as a tech-first
          responsible company that could provide the high-quality services
          required in his specialism. In 2016 he Perception IT expanded into
          Pakistan, where the team continue to grow, to cater for both the
          domestic market and operate as an offshore managed support centre and
          development hub
        </p>
        <br />
        <p
          class="padding-left padding-right padding-bottom body-3"
          style="color: #dddcdc"
        >
          Perception IT boasts of a highly skilled team in DevOPs Cloud…. Etc
          etc. Perception IT was established in 2010 London UK as a tech-first
          responsible company that could provide the high-quality services
          required in his specialism.
        </p>
      </div>
      <div class="col-md-6">
        <p
          class="padding-left padding-right padding-top body-3"
          style="color: #dddcdc; "
        >
          In 2016 he Perception IT expanded into Pakistan, where the team
          continue to grow, to cater for both the domestic market and operate as
          an offshore managed support centre and development hub
        </p>
        <p
          class="padding-left padding-right pt-2 body-3"
          style="color: #dddcdc"
        >
          Perception IT boasts of a highly skilled team in DevOPs Cloud…. Etc
          etc.
        </p>
        <p
          class="padding-left padding-right pt-2 body-3"
          style="color: #dddcdc"
        >
          Perception IT was established in 2010 London UK as a tech-first
          responsible company that could provide the high-quality services
          required in his specialism. In 2016 he Perception IT expanded into
          Pakistan, where the team continue to grow, to cater for both the
          domestic market and operate as an offshore managed support centre and
          development hub
        </p>
        <p
          class="padding-left padding-right pt-2 padding-bottom body-3"
          style="color: #dddcdc"
        >
          Perception IT boasts of a highly skilled team in DevOPs Cloud…. Etc
          etc.
        </p>
      </div>
    </div>
  </div>
  <div class="row fifth-div">
    <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box-0">
      <div class="header-1 color text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2 class="header-2 col-padding-left col-padding-right" style="font-family: SFPro-thin">
        Any Specialism?
      </h2>
      <p class="body-3 col-padding-right col-padding-left "  style="color: #dddcdc">
        DevOps primarily applies to businesses that build or assemble their own
        software, versus just using pre-built software.
      </p>
      <p class="body-3 col-padding-right col-padding-left " style="color: #dddcdc; padding-bottom: 45px;">
        DevOps offers the greatest value to businesses where speed of delivery
        provides a significant competitive advantage.
      </p>
    </div>
    <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
      <div class="header-1 color-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2 class="header-2 col-padding-left col-padding-right" style="font-family: SFPro-thin">
        Any Specialism?
      </h2>
      <p class="body-3 col-padding-right col-padding-left " style="color: #dddcdc">
        DevOps primarily applies to businesses that build or assemble their own
        software, versus just using pre-built software.
      </p>
      <p class="body-3 col-padding-right col-padding-left" style="color: #dddcdc">
        DevOps offers the greatest value to businesses where speed of delivery
        provides a significant competitive advantage.
      </p>
    </div>
    <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-body box-0">
      <div class="header-1 color text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2 class="header-2 col-padding-left col-padding-right" style="font-family: SFPro-thin">
        Any Specialism?
      </h2>
      <p class="body-3 col-padding-right col-padding-left" style="color: #dddcdc">
        To improve the pipeline, we make it’s health and metrics visible to
        stakeholders through application performance management tools
      </p>
    </div>
    <div
      id="InfrastructureServices"
      class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box"
    >
      <div class="header-1 color-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2 class="header-2 col-padding-left col-padding-right" style="font-family: SFPro-thin">
        Any Specialism?
      </h2>
      <p class="body-3 col-padding-right col-padding-left" style="color: #dddcdc">
        To improve the pipeline, we make it’s health and metrics visible to
        stakeholders through application performance management tools
      </p>
    </div>
  </div>

</div>
