 <!--<div class="overflow-hidden">
 <div class="first-div">
    <div class="col-md-6">
      <h1 class="padding-left first-h1">
        Perception IT is leading the way in delivering IT operations solutions
      </h1>
      <h2 class="padding-left first-h2">
        Perception IT manages the IT operational infrastructure for companies
        with huge infrastructure and stringent SLAs
      </h2>
    </div>
  </div>
  <div class="page-heading padding-left padding-right margin-top-3">
    <h3 class="pb-1">About Us</h3>
    <h4>Perceiving the present and future</h4>
  </div>
  <div class="links-tab padding-left third border-bottom-1" id="links-tab">
    <div class="social-links">
      <a  class="align-middle" (click)="scroll('#SM')">
        <h5 class="third-h5">Systems Management</h5>
      </a>
      <a  class="left-line align-middle" (click)="scroll('#DevOps')">
        <h5 class="third-h5">DevOps</h5>
      </a>
      <a  class="left-line align-middle " (click)="scroll('#SD')">
        <h5 class="third-h5">Service Desk</h5>
      </a>
      <a  class="left-line align-middle" (click)="scroll('#CM')">
        <h5 class="third-h5">Cloud Migration</h5>
      </a>
      <a (click)="scroll('#PP')" class="left-line align-middle">
        <h5 class="third-h5">Why Partner With Perception IT</h5>
      </a>
    </div>
    <div style="height: 2px"></div>
  </div>
  <div class="third-div">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h1 class="padding-right padding-left pt-5" id="abouttext">
          We are uniquely positioned to drive change in your business through
          the latest technologies
        </h1>
        <p class="padding-right padding-left body-3 pt-3 pb-5">
          Our experience bridges large-scale operations with new cloud and
          devops technologies, enabling your business to realise its true
          potential.
        </p>
      </div>
    </div>
  </div>
  <app-clients></app-clients>
  <div class="forth-div">
    <div class="row">
      <div class="col-md-12">
        <h2 class="padding-left padding-right padding-top">
          Entire organizations need to be agile for a business to realize their
          true value <small style="font-size: small">-McKinsey Digita</small>
        </h2>
        <br />
        <p
          class="padding-left padding-right m-0 pt-2 body-3"
          style="color: #464646"
        >
          Perception IT was established in London in 2010, specialising in
          high-quality systems management consultancy. In 2016 Perception IT
          expanded into Pakistan, where the team continue to grow, to both cater
          for the domestic market and operate as an offshore managed support
          centre and development hub
        </p>
        <br />
        <p
          class="padding-left padding-right padding-bottom body-3"
          style="color: #464646"
        >
          Perception IT boasts of a highly skilled team, proficient in
          Operational Support software, Service Desk, DevOps, Cloud and Software
          Development
        </p>
      </div>-->
      <!-- <div class="col-md-6">
        <h2 class="padding-left padding-right padding-top" style="padding-bottom: 30px">
          Our Partner
        </h2>
        <div class="row " style="padding-bottom: 30px">
          <div
            class="
              col-lg-4 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../../assets/over partners logo's/1280px-Lenovo_logo_2015.svg.png"
              class="img-fluid"
              alt=""
              height="100"
              width="100"
            />
          </div>
          <div
            class="
              col-lg-4 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../../assets/over partners logo's/3697051-middle.png"
              class="img-fluid"
              alt=""
              height="100"
              width="100"
            />
          </div>
          <div
            class="
              col-lg-4 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../../assets/over partners logo's/cisco-logo-transparent.png"
              class="img-fluid"
              alt=""
              height="100"
              width="100"
            />
          </div>
        </div>
        <div class="row" style="padding-bottom: 30px">
          <div
            class="
              col-lg-4 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../../assets/over partners logo's/dell-logo-vector-download-11574216103ng3d4rrcip.png"
              class="img-fluid"
              alt=""
              height="100"
              width="100"
            />
          </div>
          <div
            class="
              col-lg-4 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../../assets/over partners logo's/Fortinet_Logo.png"
              class="img-fluid"
              alt=""
              height="100"
              width="100"
            />
          </div>
          <div
            class="
              col-lg-4 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../../assets/over partners logo's/Hewlett_Packard_Enterprise-Logo.wine.png"
              class="img-fluid"
              alt=""
              height="100"
              width="100"
            />
          </div>
        </div>
        <div class="row" style="padding-bottom: 30px">
          <div
            class="
              col-lg-4 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../../assets/over partners logo's/Sophos-Logo.png"
              class="img-fluid"
              alt=""
              height="100"
              width="100"
            />
          </div>
        </div>
      </div>
    </div> -->
  <!--</div>
  <div class="row fifth-div">
    <div id="SM" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box-0">
      <div class="header-1 color text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="header-2 col-padding-left col-padding-right"
        style="font-family: SFPro-thin"
      >
        Systems Management
      </h2>
      <p
        class="body-3 col-padding-right col-padding-left"
        style="color: #dddcdc; padding-bottom: 45px"
      >
        Our customers process millions of alarms each day. We help them make
        sense of the volume of data and to automate their responses.
      </p>
    </div>
    <div id="DevOps" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
      <div class="header-1 color-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="header-2 col-padding-left col-padding-right"
        style="font-family: SFPro-thin"
      >
        DevOps
      </h2>
      <p
        class="body-3 col-padding-right col-padding-left"
        style="color: #dddcdc; padding-bottom: 45px"
      >
        We help our customers reduce toil and improve accuracy by automating
        processes such as release management.
      </p>
    </div>
    <div id="SD" class="col-lg-3 col-md-6 col-sm-12 p-0 box-body box-0">
      <div class="header-1 color text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="header-2 col-padding-left col-padding-right"
        style="font-family: SFPro-thin"
      >
        Service Desk
      </h2>
      <p
        class="body-3 col-padding-right col-padding-left"
        style="color: #dddcdc"
      >
        We help enterprise customers create, automate and report on their
        business processes through service desk delivery and customisation. Each
        day our customers process tens of thousands of new tickets through
        appropriate ITIL processes
      </p>
    </div>
    <div
      id="CM"
      class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box"
    >
      <div class="header-1 color-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="header-2 col-padding-left col-padding-right"
        style="font-family: SFPro-thin"
      >
        Cloud Migration
      </h2>
      <p
        class="body-3 col-padding-right col-padding-left"
        style="color: #dddcdc"
      >
        We are working with companies to reduce costs and improve reliability
        through use of cloud services and hybrid solutions
      </p>
    </div>
  </div>
</div>-->
<div class="overflow-hidden">
  <app-about-hero (childevent)="divid=$event"></app-about-hero>
  <app-about-info [parentDate]="divid"></app-about-info>
</div>

<div class="overflow-hidden">
  <div class="header-height"></div>
  <app-footer-section></app-footer-section>
</div>
