<div class="overflow-hidden">
<div class="first-div">
  <div class="col-md-6">
    <h1 class="padding-left first-h1">
      Perception IT has been leading the way in delivering truly unique IT operations solutions
    </h1>
    <h2 class="padding-left first-h2"><b>2020</b> Perception IT manages the IT operational infrastructure for companies with the most critical SLAs in thw world
    </h2>
  </div>
</div>
<div class="page-heading padding-left padding-right margin-top-3">
  <div class="" style="  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">
    <h3 class="pb-1">About Us</h3>
    <h4>
      Perceiving the present and future
    </h4>
  </div>
</div>
<div class="links-tab padding-left third border-bottom-1" id="links-tab">
  <div class="social-links">
    <a href="#" class="align-middle">
      <h5 class="third-h5">
        Banking</h5>
    </a>
    <a href="#" class="left-line align-middle" id="down1">
      <h5 class="third-h5" >
        Telecom</h5>
    </a>
    <a href="#" class="left-line align-middle" id="down">
      <h5 class="third-h5">
        Manufacturing</h5>
    </a>
  </div>
  <div style="height: 2px;">

  </div>
</div>
<div class="third-div">
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <h1 class="padding-right padding-left pt-5">
        We are uniquely positioned to work with businesses and drive the change required to realize their true value
        through the latest technologies
      </h1>
      <p class="padding-right padding-left body-2 pt-3 pb-5">DevOps focuses on rapid IT service delivery through the adoption of
        agile and lean practices in
        the context of
        a system-oriented approach. By uniting software development and tech operations and automating their processes
        from end to end, companies can clear a seamless path from idea to production. </p>
    </div>
  </div>
</div>
<div class="forth-div">
  <div class="row">
    <div class="col-md-6">
      <p class="padding-left padding-right padding-top">Entire organizations need to be agile for a business to realize
        their true value <sub>-McKinsey Digita</sub>
      </p>
      <p class="padding-left padding-right pt-2">Perception IT was established in 2010 London UK as a tech-first
        responsible company that could
        provide the high-quality services required in his specialism.
        In 2016 he Perception IT expanded into Pakistan, where the team continue to grow, to cater for both the
        domestic market and operate as an offshore managed support centre and development hub</p>
      <br>
      <p class="padding-left padding-right padding-bottom">
        Perception IT boasts of a highly skilled team in DevOPs Cloud…. Etc etc.
        Perception IT was established in 2010 London UK as a tech-first responsible company that could provide the
        high-quality services required in his specialism.
      </p>
    </div>
    <div class="col-md-6">
      <p class="padding-left padding-right padding-top">
        In 2016 he Perception IT expanded into Pakistan, where the team continue to grow, to cater for both the
        domestic market and operate as an offshore managed support centre and development hub
      </p>
      <p class="padding-left padding-right pt-2">Perception IT boasts of a highly skilled team in DevOPs Cloud…. Etc
        etc.</p>
      <p class="padding-left padding-right pt-2">Perception IT was established in 2010 London UK as a tech-first
        responsible company that could provide the
        high-quality services required in his specialism.
        In 2016 he Perception IT expanded into Pakistan, where the team continue to grow, to cater for both the
        domestic market and operate as an offshore managed support centre and development hub
      </p>
      <p class="padding-left padding-right pt-2 padding-bottom">Perception IT boasts of a highly skilled team in DevOPs
        Cloud…. Etc etc.</p>
    </div>
  </div>
</div>
<div class="row fifth-div">
  <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box-0">
    <div class="box-header color text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Any Specialism?
    </h2>
    <p class="body-text  col-padding-right col-padding-left mb-0">
      DevOps primarily applies to businesses that build or assemble their own software, versus just using pre-built
      software.
     </p>
     <p class="body-text  col-padding-right col-padding-left">
      DevOps offers the greatest value to businesses where speed of delivery provides a significant competitive
      advantage.
     </p>
  </div>
  <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
    <div class="box-header color-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Any Specialism?
    </h2>
    <p class="body-text  col-padding-right col-padding-left mb-0">
      DevOps primarily applies to businesses that build or assemble their own software, versus just using pre-built
      software.
     </p>
     <p class="body-text  col-padding-right col-padding-left">
      DevOps offers the greatest value to businesses where speed of delivery provides a significant competitive
      advantage.
     </p>
  </div>
  <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-body box-0">
    <div class="box-header color text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Any Specialism?
    </h2>
    <p class="body-text  col-padding-right col-padding-left">
      To improve the pipeline, we make it’s health and metrics visible to stakeholders through application performance
      management tools
    </p>
  </div>
  <div id="InfrastructureServices" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
    <div class="box-header color-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Any Specialism?
    </h2>
    <p class="body-text  col-padding-right col-padding-left">
      To improve the pipeline, we make it’s health and metrics visible to stakeholders through application performance
      management tools
    </p>
  </div>
</div>
<div style="background-color: #EDEEF1;" class="header-height">
</div>
<!-- <div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;border-right: 1px solid #707070;">
      <h5 class="blog-padding text-center">Case Study</h5>
      <div
        style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 50%;">
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;border-right: 1px solid #707070;">
      <div class="member d-flex align-items-start">
        <div class="pic"><img src="assets/img/psx.svg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span id="customer"><b>KPIs ans SLAs met to satisfaction</b></span>
          <h4>PSX</h4>
          <span id="customer">https://jazz.com.pk</span>
          <p>stakeholders through application performance management tools stakeholders through stakeholders through
            application
          </p>
        </div>
      </div>
      <div
        style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 80%;">
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;border-right: 1px solid #707070;">
      <div class="member d-flex align-items-start">
        <div class="pic"><img src="assets/img/bank-islamic.svg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span id="customer"><b>Completed within schedule</b></span>
          <h4>BankIslami</h4>
          <span id="customer">https://bankislami.com.pk</span>
          <p>stakeholders through application performance management tools stakeholders through stakeholders through
            application
          </p>
        </div>
      </div>
      <div
        style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 80%;">
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;">
      <div class="member d-flex align-items-start">
        <div class="pic"><img src="assets/img/jazz.svg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span id="customer"><b>Customer for over 10 years</b></span>
          <h4>Jazz Mobilink</h4>
          <span id="customer">https://jazz.com.pk</span>
          <p>stakeholders through application performance management tools stakeholders through stakeholders through
            application
          </p>
        </div>
      </div>
      <div
        style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 80%;">
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070">
      <h5 class="blog-padding text-center">Testimonial</h5>
      <div
        style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 50%;">
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070">
      <div class="member d-flex align-items-start">
        <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span id="customer" class="text-danger">Customer for over 4 year</span>
          <h4>Walter White</h4>
          <span>Chief Medical Officer</span>
          <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
          <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070">
      <div class="member d-flex align-items-start">
        <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span id="customer" class="text-danger">Customer for over 4 year</span>
          <h4>Amanda Jepson</h4>
          <span>Neurosurgeon</span>
          <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
          <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0">
    <div style="height: 250px;border-top: 1px solid #707070 ">
       <div class="member d-flex align-items-start">
        <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
        <div class="member-info">
          <span id="customer" class="text-danger">Customer for over 4 year</span>
          <h4>Sarah Jhonson</h4>
          <span>Anesthesiologist</span>
          <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
          <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div style="background-color: #EDEEF1;" class="header-height">
</div>
</div>
