<div class="page-heading padding-right padding-left pt-4">
  <h3>Tech Lead</h3>
</div>
<div class="row first-div" id="main">

  <div class="col-md-4 col-xs-12 p-0">
    <img
      src="../../../../../assets/img/david.webp"
      class="image-fluid"
      alt=""
      id="image-width"
      style="height: 100%;"
    />
  </div>
  <div class="col-md-8 col-xs-12 body-5 ">
    <h1 class="first-h1  first-padding-right">David Pridmore</h1>
    <h2 class="pt-2 first-h2  first-padding-right" style="line-height: 35px; ">
      Based out of London, UK, David’s career has spanned across multiple
      regions and amassed valuable experience working with many of the largest
      Telecom and Banking companies in the UK, Africa and S.Asian sector;
      delivering value and improving software architecture.
    </h2>
    <h2 class="first-h2  first-padding-right"style="line-height: 35px; ">
      David’s contractual work in the IT Industry has won his solutions awards
      such as the: <br />
      <span
        >IBM Tivoli Business Partner Management Solution Award <br />
        & IBM Business Innovation award
      </span>
    </h2>
  </div>
</div>
<div class="row icons-row">
  <div class="col-lg-4">
    <p class="body-text padding-right padding-left pt-4 pb-4">
      Davids contractual career has built a reputation as a highly sought-after
      consultant in systems management solutions and amassed considerable global
      experience delivering IT Service Management solutions to top-tier
      enterprise customers such as:
    </p>
  </div>
  <!-- <div class="col-lg-8 pt-lg-5">
    <div class="padding-right padding-left">
      <img src="../../../../../assets/img/bt.svg" class="image-fluid" alt="" />
      <img
        src="../../../../../assets/img/rb.svg"
        class="pl-2 image-fluid"
        alt=""
      />
      <img
        src="../../../../../assets/img/barclays.svg"
        class="pl-2 image-fluid"
        alt=""
      />
      <img
        src="../../../../../assets/img/lloy.svg"
        class="pl-2 image-fluid"
        alt=""
      />
      <img
        src="../../../../../assets/img/douchBank.svg"
        class="pl-2 image-fluid"
        alt=""
      />
      <img
        src="../../../../../assets/img/helios.svg"
        class="pl-2 image-fluid"
        alt=""
      />
      <img
        src="../../../../../assets/img/jazzT.svg"
        class="pl-2 image-fluid"
        alt=""
      />
      <img
        src="../../../../../assets/img/df.svg"
        class="pl-2 image-fluid"
        alt=""
      />
    </div>
  </div> -->
</div>
<div class="row tsia-div">
  <div class="col-lg-4">
    <h2 class="heading padding-left padding-right">Tech Lead model</h2>
    <p
      class="padding-right padding-left pt-3 pb-4"
      style="line-height: 35px; color: #dddcdc"
    >
      The Tech Lead engages seamlessly the wider business functions of our
      clients with the deliverables from the development team. Our Tech Lead
      Model articulates the ‘how’ aspect of this role… what do we do In order to
      deliver the expected value to our customers:
    </p>
  </div>
  <div class="col-lg-8 text-center">
    <img
      src="../../../../../assets/img/technicalLead.svg"
      class="img-fluid first-img"
      alt=""
    />
  </div>
</div>
