.first-div {
  background-color: #E4E4E4;
}

.first-h1 {
 
  
  font-size: 25px !important;
  
}

.first-img {
  width: 70%;
}

.pl-2 {
  padding-left: 17px;
}

.body-text {
  /* font-size: 16px; */
  font-family: "SFPro-regular";
  line-height: 30px;
  background-color: #F1F1F1;
  color: #707070;
}

.heading {
  padding-top: 40px;
  padding-bottom: 16px;
  /* font-size: 30px; */
  font-family: "SFPro-thin";
}


.icons-row {
  background-color: #E4E4E4;
}

/*.first-h2 > span{
  font-style: italic;
}*/

.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 30px;
  color: white;
  font-size: 17px;
  line-height: 23px;
}

.first-h3 {

  font-size: 17px;

}

.second-h4 {
  color: white;
}

.page-heading {
  height: 60px;
}

.third {
  background-color: #1f96b1;
}

.third-h5 {
  color: white;
}

.tsia-div {
  /* margin-top: 3px;*/
  /* background-color: #3C3E45; */
  background-color: #E4E4E4;
  /* box-shadow: 0 3px 6px #000000;*/
  color: #3C3E45;
}

.social-links {
  padding-top: 12px;
  padding-bottom: 10px;
}

/*  ////////////////////////////////////////////   //////                           */
@media (max-width:800px) {
  #image-width {
    width: 100%;
    padding-right: 53px;



  }

  .first-img {
    padding-bottom: 20px;
  }
}

.page-heading {
  background-color: #1D2957;
  color: white;
}


#image-width {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1366px) and (min-width: 1000px) {
  #image-width {
   /* height: auto;*/
   height: 412px;
  }

}

/*          for clients        */
/*#cliens {
  padding: 12px 0;
  text-align: center;
}

#cliens img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

#cliens img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #cliens img {
    max-width: 40%;
  }
}*/
/*   */
/*.title-tech {
  text-align: center;
  padding: 30px 0 0;
  position: relative;
}

.title-tech h2 {
  font-size: 22px;
  font-weight: 700; 
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
   color: #5f687b; 
  color: #c9c9c9;
  position: relative;
  z-index: 2;
  font-family: "SFPro"

}*/