<div class="sub-header page-heading padding-left padding-right margin-top-3">
  <!--<h3 class="pb-1">Tech Lead</h3>-->
</div>
<div class="row first-div" *ngIf="!width">

  <a href="https://www.linkedin.com/in/david-pridmore-31379217/" target="_blank">
    <div><img src="../../../../assets/teachlead/NNN- tech lead banner- 2200 -W 750 H – PATHS.png" alt=""
        class="img-fluid">
    </div>
  </a>

</div>
<div class="row first-div" *ngIf="width">

  <a href="https://www.linkedin.com/in/david-pridmore-31379217/" target="_blank">
    <div><img src="../../../../assets/teachlead/Tech page- phone banner 960 ×700 – 11.svg" alt="" class="img-fluid">
    </div>
  </a>
</div>

<div class="row tsia-div" data-aos="zoom-in-up">
  <div class="col-lg-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <h2 class="heading padding-left padding-right">Tech Lead model</h2>

    <p class="padding-right padding-left  "
      style="line-height: 35px; color: #464646; font-family: SFPro-regular;font-size: small;">
      Our Tech Lead Model articulates the ‘how’ aspect of this role. What do we do In order to deliver the expected
      value to our customers.
      The Tech Lead engages seamlessly the wider business functions of our clients with the deliverables from the
      development team.
    </p>
  </div>
  <div class="col-lg-8 text-center" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <img src="../../../../assets/Dia/image (10).png" class="img-fluid first-img" alt="" />
  </div>
</div>
