<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="mb-0" style="font-family: SFPro-thin;color: #E58707 ;">CUSTOMER</p>
    <p>
        Orb Data is a UK based company that has been offering IBM ITSM services since 1998. Orb Data are in the business of saving our clients money in their IT Operations, through IT modernisation and transformation by providing consultancy, technology solutions, training and managed services. Their extensive experience spans design, architecture and implementation of ITSM, Security & Storage solutions.They operate across clients of varying size and complexity in virtually every industry sector and across many geographical locations wordlwide.
      
      
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Transformation</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus necessitatibus voluptas animi, porro eos dolorem?
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Business challenge</p>
    <p>
        OpsAlert is a cloud platform for enterprise monitoring.
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <h4 class="mt-3 mb-3" style="color: #E58707;font-family: SFPro-thin; ;">Results</h4>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f8f8f8;
      height: 120px;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
        Issue identification and reporting time decreased
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--30% decrease in processing times enables more responsive customer service-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
    
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Frees employees to focus on innovation by simplifying IT management-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      height: 120px;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Business challenge story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Defining a vision - DUM MY TEXT >>>>>>>>>SUB HEADING</p>-->
    <p style="line-height: 35px;">
        OpsAlert is a platform for providing Enterprise Monitoring tools to customers in the cloud. The aim of the solution is to allow customers to reduce the cost of ownership of running their event management tools, which are typically on prem and/or in cloud. Different organizations will ultimately use this one cloud solution to get integrate their collectors (probes) to get the information at one place which can then be used for better correlation, enrichment and prediction
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707">Transformation story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Supercharging business performance - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellendus repellat consectetur recusandae qui quod et aliquid neque repudiandae, sunt sed velit explicabo dolor atque.
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Results story</h3>
    <!--<p class="pt-4" style="color: #E58707;">Living up to green principles - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
        Issue identification time decreased which ultimately decreased issue reporting time. Downtime of systems decreased, and quality of service improved.
      
    </p>
  </div>
</div>



