<!-- ======= Cta Section ======= -->
<section id="devops" class="devops">
  <div class="row">
    <div class="col-md-8 col-xs-12 first-div">
      <div class="container mt-4">
        <h3>Business-led IT Consultancy</h3>
        <h5>
          Perception IT provides technological direction and structure for your
          growing business; enhancing organizational engagement, reducing risk
          and increasing enterprise value. <br /><br />
          Minimize risk & future proof your business using best-of-breed
          technology.
        </h5>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 p-0 first-div" style="height: 250px">
      <img
        src="../../../../assets/img/it-cover.png"
        class="img-height card-img"
        alt=""
      />
    </div>
  </div>

  <div class="blue-background main-heading">
    <div class="container">
      <b>
        <h1 class="title"><a href="">IT Consultancy</a></h1>
      </b>
      <p class="description">
        A road map aligning your business with technology
      </p>
    </div>
  </div>
  <div class="links-tab">
    <div class="container">
      <div class="social-links">
        <p class="description">
          AI OPs | IT Service Management | DevOps and Cloud Migration |
          Infrastructure Services Case study | Testimonials
        </p>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="icon-box">
          <p class="text container" style="margin-top: 70px">
            We provide expert advice on how you can improve visibility and
            <br />
            efficiency of what is important to your business. <br />
            We work with our clients to devise the most efficient ways of
            achieving <br />
            specific goals, and help identify areas where business's can make
            <br />
            operational efficiencies that provide the most value across <br />
            organisations.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 center-divs">
        <div class="box-2-1">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">Al Ops</h5>
            </div>
          </div>
          <div class="container">
            <p>
              Stop guessing. Start knowing Instantly. <br />Overcome data chaos
              and get continuous insight <br />
              into your IT operations through: <br />
              Monitoring <br />
              Alarm aggregation <br />
              Historical analysis <br />
              Al algorithms
              <br />
              Runbook Automation <br />Service Desk Integration
            </p>
          </div>
        </div>
        <div class="box-2">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">DevOps and Cloud Migration</h5>
            </div>
          </div>
          <div class="container">
            <p>
              Stop guessing. Start knowing Instantly. <br />
              Overcome data chaos and get continuous insight <br />
              into your IT operations through: <br />
              Kubernetes <br />
              Docker <br />
              CI Pipelines <br />
              Git <br />
              AWS <br />
              Azure and <br />
              GCP
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-2-1">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">IT Service Management</h5>
            </div>
          </div>
          <div class="container">
            <p>
              Stop guessing. Start knowing Instantly. <br />
              Overcome data chaos and get continuous <br />
              insight into your IT operations through: <br />
              ITSM processes <br />
              ITIL, Customised applications <br />
              Jira <br />
              IBM Control Desk
            </p>
          </div>
        </div>
        <div class="box-2">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">Infrastructure Services</h5>
            </div>
          </div>
          <div class="container">
            <p>
              roadmap is focused on the infrastructure, equipment in service.
              This type of roadmap is my favorite way to show senior IT
              leadership when specific models of gear will be retired. The
              infrastructure hardware roadmap is best used for areas where you
              have a large amount of equipment. This one also works great with
              any spreadsheet application.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="last-box">
          <p class="text container">
            <b> <h5 class="card-title">Case Study</h5> </b> <br />
            <b>Banking</b> <br />
            <b>Client: Islami</b> <br />
            <b>Industry: XXX</b> <br />
            <b>Overcome Data Chaos and Get Continuous Insight into</b>
            <br />
            <b>Your IT Operations .</b> <br />
            Artificial intelligence for IT operations (AlOps) refers to the
            <br />
            automation of IT operations tasks through artificial intelligence
            <br />
            (AI). AIOps platforms free ITOps and drive better business
            <br />
            outcomes, by ingesting operations data to identify
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="last-box">
          <img
            src="../../../../assets/img/5.PNG"
            class="img-height card-img"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="contanier">
    <div >
      <div class="row">

      </div>
    </div>
  </div> -->

  <div id="doctors" class="doctors">
    <div class="container">
      <b>
        <h1 class="testimonial-heading">Testimonial</h1>
      </b>
      <div class="row mt-4">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-4">
              <img
                src="assets/img/Jazz.png"
                class="img-fluid animated"
                alt=""
              />
            </div>
            <div class="col-6 p-0">
              <b>
                <p class="mb-0">
                  Clinet : Jazz
                  <br />
                  Industry: Telecom
                  <br />
                  Overcome Data Chaos and Get Continuous Insight into Your IT
                </p>
              </b>
              <p>
                Artificial intelligence for IT operations (AlOps) refers to the
                automation of IT operations tasks through artificial
                intelligence (Al). AlOps platforms free ITOps and drive better
                business outcomes, by ingesting operations data to identify
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/doctors/doctors-1.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <span id="customer" class="text-danger"
                    >Customer for over 4 year</span
                  >
                  <h4>Walter White</h4>
                  <span>Chief Medical Officer</span>
                  <span id="customer" class="text-danger"
                    >https://www.onlineocr.net/</span
                  >
                  <p>
                    Explicabo voluptatem mollitia et repellat qui dolorum quasi
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/doctors/doctors-2.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <span id="customer" class="text-danger"
                    >Customer for over 4 year</span
                  >
                  <h4>Sarah Jhonson</h4>
                  <span>Anesthesiologist</span>
                  <span id="customer" class="text-danger"
                    >https://www.onlineocr.net/</span
                  >
                  <p>
                    Aut maiores voluptates amet et quis praesentium qui senda
                    para
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/doctors/doctors-3.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <span id="customer" class="text-danger"
                    >Customer for over 4 year</span
                  >
                  <h4>William</h4>
                  <span>Cardiology</span>
                  <span id="customer" class="text-danger"
                    >https://www.onlineocr.net/</span
                  >
                  <p>
                    Quisquam facilis cum velit laborum corrupti fuga rerum quia
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/doctors/doctors-4.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <span id="customer" class="text-danger"
                    >Customer for over 4 year</span
                  >
                  <h4>Amanda Jepson</h4>
                  <span>Neurosurgeon</span>
                  <span id="customer" class="text-danger"
                    >https://www.onlineocr.net/</span
                  >
                  <p>
                    Dolorum tempora officiis odit laborum officiis et et
                    accusamus
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Team Section -->
</section>
<!-- End Cta Section -->
