<!-- ======= Cta Section ======= -->
<section id="devops" class="devops">
  <div class="row">
    <div class="col-6" style="background-color: gray; margin-bottom: 5px">
      <h3 style="margin: 40px">Business-led IT Consultancy</h3>
      <p>
        Perception IT provides technological direction and structure for your
        growing business; enhancing organizational engagement, reducing risk and
        increasing enterprise value. <br /><br />
        Minimize risk & future proof your business using best-of-breed
        technology.
      </p>
    </div>
    <div class="col-6">
      <img
        src="../../../../assets/img/Capture.PNG"
        class="card-img"
        alt=""
        style="margin-bottom: 5px"
      />
    </div>
  </div>

  <div style="background-color: rgb(16, 16, 97); height: 100px">
    <div class="container">
      <b>
        <h1 class="title"><a href="">IT Consultancy</a></h1>
      </b>
      <p class="description">
        A road map aligning your business with technology
      </p>
    </div>
  </div>
  <div style="height: 35px; background-color: black; padding-top: 5px">
    <div class="container">
      <div class="social-links d-none d-md-block">
        <p class="description">
          AI OPs | IT Service Management | DevOps and Cloud Migration |
          Infrastructure Services Case study | Testimonials
        </p>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="icon-box" style="background-color: rgba(58, 83, 155, 1)">
          <div class="card-body">
            <p class="text" style="margin: 60px">
              We provide expert advice on how you can improve visibility and
              <br />
              efficiency of what is important to your business. <br />
              We work with our clients to devise the most efficient ways of
              achieving <br />
              specific goals, and help identify areas where business's can make
              <br />
              operational efficiencies that provide the most value across <br />
              organisations.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-2-1" style="background-color: rgba(58, 83, 155, 1)">
          <div class="card-body">
            <h5 class="header">Al Ops</h5>

            <p>
              Stop guessing. Start knowing Instantly. <br />Overcome data chaos
              and get continuous insight <br />
              into your IT operations through: <br />
              Monitoring <br />
              Alarm aggregation <br />
              Historical analysis <br />
              Al algorithms
              <br />
              Runbook Automation <br />Service Desk Integration
            </p>
          </div>
        </div>
        <div class="box-2" style="background-color: rgba(58, 83, 155, 1)">
          <div class="card-body">
            <h5 class="header">DevOps and Cloud Migration</h5>

            <p>
              Stop guessing. Start knowing Instantly. <br />
              Overcome data chaos and get continuous <br />
              insight into your IT operations through: <br />
              Kubernetes <br />
              Docker <br />
              CI Pipelines <br />
              Git <br />
              AWS <br />
              Azure and <br />
              GCP
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-2-1" style="background-color: rgba(58, 83, 155, 1)">
          <div class="card-body">
            <h5 class="header">Infrastructure Services</h5>

            <p>
              roadmap is focused on the infrastructure, equipment in service.
              This type of roadmap is my favorite way to show senior IT
              leadership when specific models of gear will be retired. The
              infrastructure hardware roadmap is best used for areas where you
              have a large amount of equipment. This one also works great with
              any spreadsheet application.
            </p>
          </div>
        </div>

        <div class="box-2" style="background-color: rgba(58, 83, 155, 1)">
          <div class="card-body">
            <h5 class="header">Warranty</h5>

            <p>
              We support your IT, technology warranties and industry specific
              systems as part of our
              <br />
              continuing commitment to provide you with<br />great service.
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contanier">
    <div >
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="icon-box-1" style="margin-top: 10px">
            <div class="card-body">
              <p class="text" style="margin: 45px">
                <b> <h5 class="card-title">Case Study</h5> </b> <br />
                <b>Banking</b> <br />
                <b>Client: Islami</b> <br />
                <b>Industry: XXX</b> <br />
                <b>Overcome Data Chaos and Get Continuous Insight into</b>
                <br />
                <b>Your IT Operations .</b> <br />
                Artificial intelligence for IT operations (AlOps) refers to the
                <br />
                automation of IT operations tasks through artificial
                intelligence <br />
                (AI). AIOps platforms free ITOps and drive better business
                <br />
                outcomes, by ingesting operations data to identify
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="box-2">
            <img src="../../../../assets/img/5.PNG" class="card-img" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- <div
    style="
      height: 35px;
      background-color: rgb(16, 16, 97);
      margin-top: 10px;
      padding-top: 5px;
    "
  >
    <div class="container">
      <p class="description">
        Architect your bussiness for real-time adaptability,teamwork and
        automation accross a range of industries
      </p>
    </div>
  </div>
  <div style="height: 150px"></div>
  <hr /> -->
    <!-- ======= Team Section ======= -->
    <div id="doctors" class="doctors">
      <div class="card-body">
        <h1 class="title">Testimonial</h1>
        <br />

        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="text">
                <p>
                  <b>
                    Clinet : Jazz <br />
                    Industry: Telecom <br />
                    Overcome Data Chaos and Get <br />
                    Continuous Insight into Your IT</b
                  >
                </p>
                <p>
                  Artificial intelligence for IT operations (AIOps) refers to
                  the automation of IT operations tasks through artificial
                  intelligence (AI). AIOps platforms free ITOps and drive better
                  business outcomes, by ingesting operations data to identify
                </p>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-6">
                  <div class="member d-flex align-items-start">
                    <div>
                      <img
                        src="assets/img/doctors/doctors-1.jpg"
                        class="img-fluid rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >Customer for Over 9 Years</small
                        >
                      </p>
                      <h4 class="title">Tim Carter</h4>
                      <h6 class="subtitle">Ask the Bulider</h6>
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >http://www.askthebuilder.com/
                        </small>
                      </p>
                      <p class="card-text">
                        Today I sent out my first newsletter using AWeber and
                        the results were outstanding. I used the click-tracking
                        feature to see how many people went to the links I
                        provided and was not disappointed.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="member d-flex align-items-start">
                    <div>
                      <img
                        src="assets/img/doctors/doctors-1.jpg"
                        class="img-fluid rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >Customer for Over 9 Years</small
                        >
                      </p>
                      <h4 class="title">Tim Carter</h4>
                      <h6 class="subtitle">Ask the Bulider</h6>
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >http://www.askthebuilder.com/
                        </small>
                      </p>
                      <p class="card-text">
                        Today I sent out my first newsletter using AWeber and
                        the results were outstanding. I used the click-tracking
                        feature to see how many people went to the links I
                        provided and was not disappointed.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="member d-flex align-items-start">
                    <div>
                      <img
                        src="assets/img/doctors/doctors-1.jpg"
                        class="img-fluid rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >Customer for Over 9 Years</small
                        >
                      </p>
                      <h4 class="title">Tim Carter</h4>
                      <h6 class="subtitle">Ask the Bulider</h6>
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >http://www.askthebuilder.com/
                        </small>
                      </p>
                      <p class="card-text">
                        Today I sent out my first newsletter using AWeber and
                        the results were outstanding. I used the click-tracking
                        feature to see how many people went to the links I
                        provided and was not disappointed.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="member d-flex align-items-start">
                    <div>
                      <img
                        src="assets/img/doctors/doctors-1.jpg"
                        class="img-fluid rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >Customer for Over 9 Years</small
                        >
                      </p>
                      <h4 class="title">Tim Carter</h4>
                      <h6 class="subtitle">Ask the Bulider</h6>
                      <p class="card-text">
                        <small class="text" style="color: red"
                          >http://www.askthebuilder.com/
                        </small>
                      </p>
                      <p class="card-text">
                        Today I sent out my first newsletter using AWeber and
                        the results were outstanding. I used the click-tracking
                        feature to see how many people went to the links I
                        provided and was not disappointed.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/doctors/doctors-2.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Anesthesiologist</span>
                  <p>
                    Aut maiores voluptates amet et quis praesentium qui senda
                    para
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/doctors/doctors-3.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>William Anderson</h4>
                  <span>Cardiology</span>
                  <p>
                    Quisquam facilis cum velit laborum corrupti fuga rerum quia
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/doctors/doctors-4.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>Amanda Jepson</h4>
                  <span>Neurosurgeon</span>
                  <p>
                    Dolorum tempora officiis odit laborum officiis et et
                    accusamus
                  </p>
                </div>
              </div>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Team Section -->
</section>
<!-- End Cta Section -->
