<div class="row" >
  <div class="col-lg-1 ">
  <a style=" font-weight:bold ">Filter by:</a>
</div>
<div class="col-lg-11 active-link">
  <a class="btn btn-primary main"
   routerLink="/product/solution/solution-list"
   routerLinkActive="active"
   >
    All
  </a>
  <a class="btn btn-primary main"
   routerLink="/product/solution/solution-telecom"
   routerLinkActive="active"
   >
    Telecome
  </a>
  <a class="btn btn-primary main"
   routerLink="/product/solution/solution-bank"
   routerLinkActive="active"
   >
    Banking
  </a>
  <a class="btn btn-primary main"
   routerLink="/product/solution/solution-textile"
   routerLinkActive="active"
   >
    Textile & Manufacturer
  </a>
  <!--<a class="btn btn-primary main"> Notifications </a>-->
</div>
</div>
<hr />
