@media (max-width:600px){
    #field .col-3{
     width: 100%;
     padding-bottom: 10px;
    }

   
   .col-4 {
     width: 100%;
     padding-right: 0;
     padding-left: 0;

   }

   #contact-icon .col-lg-2 {
     width: 20%;
       
   }
   #contact-icon .col-lg-10 {
     width: 50%;
     float: left;
     
 }
    #p-text{
     width: 300px;
 }
}