<!-- ======= Services Section ======= -->

<!-- <section id="services" class="services section-bg">
  <div>
    <div id="CB" class="section-title">
      <h2>DevOps Business Benefit</h2>
    </div>

    <div class="row padding-left padding-right">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" >
        <div class="icon-box" >
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="" class="">Does Your Business Need a <br> DevOps Culture</a>
          </h4>
          <p class="padding-left padding-right">
            In general, any business that is using software or apps for
            innovation and growth, regardless of industry, should consider
            developing a DevOps environment.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="">DevOps - How does the end consumer benefit, keeping you ahead of
              the competition</a>
          </h4>
          <p class="padding-right padding-left">
            Your consumers expect new and enhanced software solutions without
            having to wait. Your business must keep up to meet their
            ever-increasing demands. However, a lack of proper communication and
            collaboration between teams often leads to inefficiency, causing
            hindrances in the workflow. DevOps aims to encourage process
            automation and collaboration between the business, development, and
            operations teams for improved teamwork, seamless management,
            streamlined processes, and enhanced productivity. Departments that
            previously operated as separate entities now make use of technology
            to collaborate and reduce the system development life cycle
            immensely. Perception IT assists you in identifying your core
            problem areas and implementing the perfect DevOps strategy for your
            needs which uses Continuous Integration, Delivery, and Deployment as
            core practices to achieve your goals
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4>
            <a href=""
              >Industries that can benefit from Managed services</a
            >
          </h4>
          <p class="padding-right padding-left">
            Any business that is using software or apps for innovation and
            growth, regardless of industry, should consider developing a DevOps
            environment. DevOps has however been identified to enhance
            performance in the following industries: Financial services |
            Healthcare / Banking / Insurance / Hospitality / Inventory
            management/ Manufacturing.
          </p>
        </div>
      </div>


    </div>
  </div>
</section> -->
<section id="PP" class="services section-bg">
  <div class="text-center">
    <img
    src="../../../../../assets/img/icon.svg"
    class="img-fluid"
    alt=""
    height="50"
    width="80"
    />
  </div>
  <div>
    <div id="PP" class="title-new">
      <h2 style="font-size: 22px">Why use perception IT DevOP solutions</h2>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
    </div>

    <div class="row padding-left padding-right ">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Running a service, yourself is expensive</a>
          </h4>
          <p class="padding-right padding-left">
            PENDING Talk about our methodology / the value points of going with
            Perception IT in specific/ experience Perception IT assists you in
            identifying your core problem areas and implementing the perfect
            DevOps strategy for your needs which uses Continuous Integration,
            Delivery, and Deployment as core practices to achieve your goals.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="">Low capital outlay and predictable monthly costs</a>
          </h4>
          <p class="padding-right padding-left">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus impedit porro accusamus. Magnam deserunt eveniet et ex,
            magni iusto quaerat, suscipit quos vitae id deleniti eaque, dicta
            sint rem! Velit.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"id="add-height" >
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Running a service, yourself is expensive</a>
          </h4>
          <p class="padding-right padding-left">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
            assumenda facilis, voluptas magnam itaque ipsam harum alias unde,
            modi officia provident, labore voluptates! Voluptatem ea beatae
            voluptatum obcaecati rem expedita?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- <app-footer-section></app-footer-section> -->
<div class="overflow-hidden"><app-footer-section></app-footer-section></div>
