<div class="row" id="main">
  <div class="col-md-8 col-xs-12 first-div">
    <div class="container p-5">
      <h3>Always-On!</h3> <br><br>
      <h5>
        Perception IT Managed Service is the smart choice to ensure an
        “always-on” approach to business.
      </h5>
    </div>
  </div>
  <div class="col-md-4 col-xs-12 p-0">
    <img
      src="../../../../assets/img/it-cover.png"
      class="card-img"
      alt=""
      style="height: 250px"
    />
  </div>
</div>
<div class="blue-background main-heading" id="main">
  <div class="container p-3" style="margin-top: -4px; ">
    <b>
      <h1 class="title" >Managed Services</h1>
    </b>
    <p class="title">
      Our MS team is always working in the background to predict a possible
      disruption and take proactive actions to remediate it.
    </p>
  </div>
</div>


<div class="links-tab" style="background-color: #4c5e62" id="main">
  <div class="container" style="margin-bottom: -12px">
    <div class="social-links">
      <p class="title">
        | AI OPs | DevOps and Cloud Migration | IT Service Management |
        Infrastructure Services | Commodity services | Software Applications
      </p>
    </div>
  </div>
</div>
