.first-div {
  background-color: #080501;
}

.first-h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  color: white;
}

#first-img {
  height: 317px;
  width: 100%;
}

@media (max-width: 1390px) {
  #links-tab{
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  #abc{
    padding-left: 0px !important;
  }
}

@media (max-width: 950px) {
  #first-img {
    height: 417px !important;
  }

}

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 70px;
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #4C5E62;
}

.third-h5 {
  color: white;
}

.social-links {
  padding-top: 3px;
}

/* .social-links a {
  color: white;
  display: inline-block;
  padding: 0 12px;
} */

.social-links a:first-child {
  padding-left: 0px !important;
}

.left-line {
  border-right: 1px solid #e5e5e7;
}
