.first-div{
  background-color: #080501;
  margin-bottom: 5px;
  color:white;
  height: 250px;
}
.blue-background{
  background-color: #020a2c;
}

.main-heading{
 padding-bottom: 20px;
}
.title{
  color: white;
  font-family: SF Pro;
}

#main{
  margin: 0.1em;
}
