<div class="row" id="main">
  <!-- <div class="margin-top-white"></div> -->
  <div class="col-md-8 col-xs-12 first-div">
        <h1 class="first-h1 padding-left first-padding-right">The ‘Always-On’ approach to business!</h1>
        <h2 class="first-h2 padding-left first-padding-right">
          Future proof your business, using best-of-breed technology with low capital outlay and predictable monthly costs.
        </h2>
  </div>
  <div class="col-md-4 col-xs-12 p-0">
    <img src="../../../../../assets/img/img5.PNG" id="first-img" alt="">
  </div>
</div>
<div class="page-heading padding-right padding-left margin-top-3">
  <div class="" style="  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">
    <h3>Managed Services</h3>
    <h4>

      Our MS team is always working in the background to predict a possible disruption and take proactive actions to remediate it.
    </h4>
  </div>
</div>
  <div class="links-tab padding-left third header-height" id="links-tab">
      <div class="social-links">
        <a href="#" class="left-line  align-middle" id=abc>
          <h5 class="third-h5">
            AIOPs </h5>
        </a>
        <a href="#" class="left-line align-middle" id=abc>
          <h5 class="third-h5">
            DevOps and Cloud Migration </h5>
        </a>
        <a href="#" class="left-line align-middle" id=abc>
          <h5 class="third-h5">
            IT Service Management </h5>
        </a>
        <a href="#" class="left-line align-middle" id=abc>
          <h5 class="third-h5">
            Infrastructure Services</h5>
        </a>
        <a href="#" class="left-line align-middle" id=abc>
          <h5 class="third-h5">
            Commodity services </h5>
        </a>
        <a href="#" class="align-middle" id=abc>
          <h5 class="third-h5">
            Software Application</h5>
        </a>
        <a href="#" class="left-line align-middle" id=abc>
          <h5 class="third-h5">
            Cost benefit  </h5>
        </a>
        <a href="#" class="align-middle" id=abc>
          <h5 class="third-h5">
            Business benefit</h5>
        </a>
    </div>

  <!-- <h5 class="third-h5">
        Supported Hardware | Services | After Sales Service | Hardware
        Consultancy | Warranty Support | Testimonials
      </h5> -->
</div>
