.first-div {
  background-color: #080501;
}

.first-h1 {
  margin-top: 70px;
  /* margin-bottom: 35px; */
  color: white;
}

#first-img {
  height: 317px;
  width: 100%;
}

/* @media (max-width: 1250px) {
  #links-tab{
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  #abc{
    padding-left: 0px !important;
  }
} */

@media (max-width: 950px) {
  #first-img {
    height: 417px !important;
  }

}

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 70px;
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #1f96b1;
}

.third-h5 {
  color: white;
}

.tsia-div{
  margin-top: 3px;
  background-color: #8A8A89;
  box-shadow: 0 3px 6px #000000;
}

.social-links {
  padding-top: 12px;
  padding-bottom: 10px;
}