<div class="row">
  <div class="col-lg-1" >
    <a style="font-weight: bold; padding-left: 15px">Filter by:</a>
  </div>

  <div class="col-lg-11 active-link" >
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked4 }"
      (click)="onClickAllData()"
      style="margin-bottom: 10px"
    >
      All
    </a>

    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked1 }"
      (click)="onClickForFilter('IBM DB-2, Regex')"
      style="margin-bottom: 10px"
    >
      IBM DB-2, Regex
    </a>

    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked2 }"
      (click)="onClickForFilter('SNMP, Websphere')"
      style="margin-bottom: 10px"
    >
      SNMP, Websphere
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked3 }"
      (click)="onClickForFilter('Perl, Shell, Java, SQL, IBM DB-2')"
      style="margin-bottom: 10px"
    >
      Perl, Shell, Java, SQL, IBM DB-2
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked5 }"
      (click)="onClickForFilter('IBM-DB2, SQL')"
      style="margin-bottom: 10px"
    >
      IBM-DB2, SQL
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked6 }"
      (click)="onClickForFilter('Tivoli Datawarehouse, IBM-DB2')"
      style="margin-bottom: 10px"
    >
      Tivoli Datawarehouse, IBM-DB2
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked7 }"
      (click)="
        onClickForFilter('Websphere, IBM-DB2, Perl, Shell, Java, Impact')
      "
      style="margin-bottom: 10px"
    >
      Websphere, IBM-DB2, Perl, Shell, Java, Impact
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked8 }"
      (click)="
        onClickForFilter('Websphere, IBM-DB2, Java, Python, Perl')
      "
      style="margin-bottom: 10px"
    >
    Websphere, IBM-DB2, Java, Python, Perl
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked9 }"
      (click)="
        onClickForFilter('Angular, Ionic, Firebase')
      "
      style="margin-bottom: 10px"
    >
    Angular, Ionic, Firebase
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked10 }"
      (click)="
        onClickForFilter('Firebase Authentication, Flutter, MySql, Redis, Angular, Sequelize, Node.Js, FCM cloud messaging, RSA Encryption')
      "
      style="margin-bottom: 10px"
    >
    Firebase Authentication, Flutter, MySql, Redis, Angular, Sequelize, Node.Js, FCM cloud messaging, RSA Encryption
    </a>
    <a
      class="btn btn-primary main"
      [ngClass]="{ 'active-linked': clicked11 }"
      (click)="
        onClickForFilter('Angular, Java Spring Framework (Boot, JPA, Messaging), Hibernate, PostgreSQL, PrimeNg, LDAP/Oauth2, Rest Client (for Inter Process Communication of microservices), Kafka (consumer, listener, streams), Cassandra (for big data), Jenkins (for CI/CD pipelines), Kubernetes (for service discovery, scaling and managing), Node ')
      "
      style="margin-bottom: 10px"
    >
    Angular, Java Spring Framework (Boot, JPA, Messaging), Hibernate, PostgreSQL, PrimeNg, LDAP/Oauth2, Rest Client (for Inter Process Communication of microservices), Kafka (consumer, listener, streams), Cassandra (for big data), Jenkins (for CI/CD pipelines), Kubernetes (for service discovery, scaling and managing), Node 
    </a>
    
    <!-- <a
      class="btn btn-primary main {{ activeClass }}"
      (click)="onClickForFilter(c)"
      *ngFor="let c of filterCatagory"
    >
      {{ c }}
    </a>-->
  </div>
</div>
<hr />
<div
  class="row mt-5"
  style="background-color: #f1f1f1"
  *ngFor="let project of filterData"
>
  <div class="col-3">
    <img
    [src]="project.image"
      alt=""
      class="image fluid"
      style="width: 100%"
    />
  </div>
  <div class="col-9">
    <p class="mb-4" style="line-height: 35px">
      <strong>Industry: {{ project.industry }}</strong> <br />
      <strong> Software Products: {{ project.softwareProducts }} </strong>
      <br />
      <strong>Technologies: {{ project.technologies }}</strong
      ><br />
      <strong>Client: {{ project.client }} </strong>
    </p>
    <hr />
    <h5 style="line-height: 35px">
      <strong> {{ project.title }} </strong>
    </h5>
    <p style="line-height: 35px">
      {{ project.summary }}
    </p>
    <div class="d-flex flex-row-reverse" id="more-button">
      <p
        style="
          margin-top: 15px;
          padding-right: 10px;
          padding-left: 15px;
          cursor: pointer;
        "
        class="mb-0"
        id="more-text"
      >
        <a routerLink="{{ project.route }}" style="color: black"> Read more </a>
        <i class="fa fa-long-arrow-right fa-lg"></i>
      </p>
      <h6
        class="m-2"
        style="
          border: 1px solid #b7b7b7;
          border-radius: 8px;
          background-color: #1d2957;
        "
      >
        <p class="p-2 mb-0">
          <a (click)="scroll('#helps')" class="pointer" style="color: white">
            Need help with a similar project?</a
          >
        </p>
      </h6>
    </div>
  </div>
</div>
