<div class="header-height"></div>
<div class="row">
  <div class="col-lg-2 col-padding-left col-padding-right padding-header-top">
    <h3><img src="../../../../../assets/img/ibm.PNG" alt="" /> <b>Watson</b> </h3>
    <hr />
    <p class="body-fonts-1" >Accelerate your journey to AI.</p>
    <hr />
    <p class="body-fonts-1">
      Operationalize AI and transform how work gets done with our proven
      capabilities and experience with +100 million users.
    </p>
  </div>
  <div class="col-lg-10 col-padding-left col-padding-right padding-header-top">
    <div class="row">
      <div class="col first-div">
        <p class="p-1 body-fonts-2">
        <strong>What is Watson? </strong>  <br />IBM’s portfolio of business-ready tools,
          applications and solutions, designed to reduce the costs and hurdles
          of AI adoption while optimizing outcomes and responsible use of AI.
        </p>
        <p class="pt-2">
          <strong
            >Put Watson to work at scale across your business with IBM’s
            industry-leading portfolio of AI solutions:</strong
          >
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg first-color box">
        <img
          class="rounded mx-auto d-block mt-4"
          src="../../../../../assets/img/ibm1.PNG"
          alt=""
        />
        <h2 class="text-center pt-4 body-fonts-1">AI for financial operations</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg second-color box">
        <img
          class="rounded mx-auto d-block mt-4"
          src="../../../../../assets/img/ibm2.PNG"
          alt=""
        />
        <h2 class="text-center pt-4 body-fonts-1">AI for advertising</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg third-color box">
        <img
          class="rounded mx-auto d-block mt-4"
          src="../../../../../assets/img/ibm3.PNG"
          alt=""
        />
        <h2 class="text-center pt-4 body-fonts-1">AI for business Automation</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg foth-color box">
        <img
          class="rounded mx-auto d-block mt-4"
          src="../../../../../assets/img/ibm4.PNG"
          alt=""
        />
        <h2 class="text-center pt-4 body-fonts-1">AI for Healthcare</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg five-color box">
        <img
          class="rounded mx-auto d-block mt-4"
          src="../../../../../assets/img/ibm5.PNG"
          alt=""
        />
        <h2 class="text-center pt-4 body-fonts-1">AI for customer Service</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 five-color box-1 body-3">
        <img
          class="rounded mx-auto d-block mt-4"
          src="../../../../../assets/img/ibm6.PNG"
          alt=""
        />
        <h2 class="text-center pt-5 body-fonts-1">AI for IT operations</h2>
      </div>
    </div>

    <div class="row second-div">
      <div class="col-lg-2 col-md-6 col-sm-12 p-4">Key Features</div>
      <div class="col-lg-10 col-md-6 col-sm-12 p-4">
        Manage IT operational assets + Create software App Store + Analyze
        change impacts + Use self-service service catalog + Manage software
        assets + Manage changes + Manage issues + Employ flexible pricing and
        deployment
      </div>
    </div>
    <div class="row" style="background-color: black">
      <div class="col p-2" style="color: white; text-align: end">Enquire</div>
    </div>
    <div class="header-height"></div>
    <div class="row second-div">
      <div class="col-lg-2 col-md-6 col-sm-12 p-4">Key Benefits</div>
      <div class="col-lg-10 col-md-6 col-sm-12 p-4">
        <p>
          <strong>Enterprise ready</strong> <br />
          Reduce storage requirements by 47% and increase compression rates by
          39%¹. Align with the latest NIST and FIPS standards.
        </p>
        <p>
          <strong>Cost effective</strong> <br />
          Use data virtualization to reduce data extraction and transformation
          requests between 25% and 65%². Multimodal data management can save an
          additional USD 200,000³.
        </p>

        <p>
          <strong>Developer ready</strong> <br />
          Integrate with up to 10 modern programming languages. The REST service
          enables interaction with Db2 data from your web, mobile or cloud
          application.
        </p>
        <p>
          <strong>Resilient and consumable</strong> <br />
          Reduce operational overhead costs by up to 26%⁴. Reduce infrastructure
          and application development platform costs by an average of 38%⁵ using
          cloud-native databases and platform integration.
        </p>
      </div>
    </div>
    <div class="row" style="background-color: black">
      <div class="col p-2" style="color: white; text-align: end">Enquire</div>
    </div>
  </div>
</div>
