.first-div {
  background-color: #F0F0F0;
  /* height: 50px; */
}
.first-color{
  background-color: #400404;
  border-top: 0.1px solid white;
  border-left: 0.1px solid white;
  border-right: 0.1px solid white;

}
.second-color{
  background-color: #5D0606;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}
.third-color{
  background-color: #760606;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}
.foth-color{
  background-color: #930707;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;
}
.five-color{
  background-color: #AF0404;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}

.box {
  color: white;
  /* width: 215px; */
  height: 250px;

}
.box-1{
  width: 217px;
  color: white;
  height: 250px;

}

.second-div{
 background-color:  #F0F0F0;

}
@media only screen and (max-width: 580px) and (min-width: 500px) {
  .body-3{
    /* height: auto; */
    width: 100%;
  }
 }
 .body-fonts-1{
  font-family: SFPro-thin;
  /* font-size: 2px; */
}
.body-fonts-2{
  font-family: SFPro-Regular;
  /* font-size: 2px; */
}
.body-fonts-3{
  font-family:  SFPro-SemiBold;;
}
