<!-- ======= Cta Section ======= -->
<section id="devops" class="devops">
  <div class="row">
    <div class="col-md-8 col-xs-12 first-div">
      <div class="container mt-4">
        <h3>Always-On</h3>
        <h5>
          Perception IT Management service is the smart choice to ensure an “always-on” approach to business.
        </h5>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 p-0 first-div" style="height: 250px;">
      <img src="../../../../assets/img/it-cover.png" class="img-height card-img" alt="" />
    </div>
  </div>

  <div class="blue-background main-heading">
    <div class="container">
      <b>
        <h1 class="title"><a href="">Managed Services</a></h1>
      </b>
      <p class="description">
        Our MS team is always working in the background to predict a possible disruption and take proactive actions to
        remediate it.
      </p>
    </div>
  </div>
  <div class="links-tab">
    <div class="container">
      <div class="social-links">
        <a href="#" class="left-line">IT Service Management</a>
        <a href="#" class="left-line">AI OPs</a>
        <a href="#" class="left-line">DevOps and Cloud Migration</a>
        <a href="#" class="left-line">Infrastructure Services</a>
        <a href="#" class="left-line">Commodity services</a>
        <a href="#" class="left-line">Software Applications</a>
        <a href="#" class="left-line">Case Studies</a>
        <a href="#" class="">Testimonial</a>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="icon-box">
          <p class="text container" style="margin-top: 70px;">
            • Future proof your business, using best-of-breed technology and back up.
            <br>
            • Develop the predictive capabilities needed to outperform in thes fast-changing times.
            <br>
            • Get to the precise root cause and eliminate alert storms
            <br>
            • Minimize risk and get out of "break-fix" mode. Bringing a MS
            onboard is the smart choice to ensure an "always-on" approach to
            business.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 center-divs">
        <div class="box-2-1">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">Al Ops</h5>
            </div>
          </div>
          <div class="container">
            <p>
             <b> Stop guessing. Start knowing Instantly.Overcome data chaos
              and get continuous insight
              into your IT operations through:</b> <br />
              Monitoring <br />
              Alarm aggregation <br />
              Historical analysis <br />
              Al algorithms
              <br />
              Runbook Automation <br />Service Desk Integration
            </p>
          </div>
        </div>
        <div class="box-2">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">DevOps and Cloud Migration</h5>
            </div>
          </div>
          <div class="container">
            <p>
             <b> Stop guessing. Start knowing Instantly.
              Overcome data chaos and get continuous
              insight into your IT operations<br/></b>
              Artificial intelligence for IT operations (AlOps) refers to the automation of IT operations tasks through artificial intelligence (Al). AlOps platforms two ITOps and drive better business outcomes, by ingesting operations data to identify 
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="box-3-1">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">Infrastructure Services</h5>
            </div>
          </div>
          <div class="container">
            <p>
            <b>  Pools of hypervisors within the cloud operational system can support large numbers of virtual machines and the </b><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore of dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. 
            </p>
          </div>
        </div>
        <div class="box-3-2">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">Warranty</h5>
            </div>
          </div>
          <div class="container">
            <p>
              We support your IT, technology warranties and industry specific
              systems as part of our
              <br />
              continuing commitment to provide you with<br />great service.
              <br />
            </p>
          </div>
        </div>
        <div class="box-3-3">
          <div class="header-bg">
            <div class="container">
              <h5 class="header">Warranty</h5>
            </div>
          </div>
          <div class="container">
            <p>
              We support your IT, technology warranties and industry specific
              systems as part of our
              <br />
              continuing commitment to provide you with<br />great service.
              <br />
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="last-box">
          <p class="text container">
            <b>
              <h5 class="card-title">Case Study</h5>
            </b> <br />
            <b>Banking</b> <br />
            <b>Client: Islami</b> <br />
            <b>Industry: XXX</b> <br />
            <b>Overcome Data Chaos and Get Continuous Insight into</b>
            <br />
            <b>Your IT Operations .</b> <br />
            Artificial intelligence for IT operations (AlOps) refers to the
            <br />
            automation of IT operations tasks through artificial
            intelligence <br />
            (AI). AIOps platforms free ITOps and drive better business
            <br />
            outcomes, by ingesting operations data to identify
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="last-box">
          <img src="../../../../assets/img/5.PNG" class="img-height card-img" alt="" />
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="contanier">
      <div >
        <div class="row">
          
        </div>
      </div>
    </div> -->


  <div id="doctors" class="doctors">
    <div class="container">
      <b>
        <h1 class="testimonial-heading">Testimonial</h1>
      </b>
      <div class="row mt-4">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/Jazz.png" class="img-fluid animated" alt="" />
            </div>
            <div class="col-6 p-0">
              <b>
                <p class="mb-0">Clinet : Jazz
                  <br>
                  Industry: Telecom
                  <br>
                  Overcome Data Chaos and Get Continuous Insight into Your IT
                </p>
              </b>
              <p>Artificial intelligence for IT operations (AlOps) refers to the automation of IT operations tasks
                through artificial intelligence (Al). AlOps platforms free ITOps and drive better business outcomes, by
                ingesting operations data to identify
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">

            <div class="col-lg-6">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <span id="customer" class="text-danger">Customer for over 4 year</span>
                  <h4>Walter White</h4>
                  <span>Chief Medical Officer</span>
                  <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
                  <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <span id="customer" class="text-danger">Customer for over 4 year</span>
                  <h4>Sarah Jhonson</h4>
                  <span>Anesthesiologist</span>
                  <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
                  <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <span id="customer" class="text-danger">Customer for over 4 year</span>
                  <h4>William</h4>
                  <span>Cardiology</span>
                  <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
                  <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <span id="customer" class="text-danger">Customer for over 4 year</span>
                  <h4>Amanda Jepson</h4>
                  <span>Neurosurgeon</span>
                  <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
                  <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div><!-- End Team Section -->

</section>
<!-- End Cta Section -->
