<!-- <section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-4 "
        data-aos="fade-up"
        data-aos-delay="100"
        style="background-color: #282672; color: white"
      >
        <h5 class="p-3">Customised software</h5>
        <p class="p-3">
          Our experts have wide-ranging experience creating customised plans
          specific to your business! <br />
          <br />
          Custom solutions benefit your business by: <br />
          <br />
          • Creating anaccomplished services plan that is just for your
          business. <br />

          • Are able to work with changing industries & developing businesses.
          <br />

          • Able to adjustwithabundant industries and situations.
        </p>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
        style="background-color: black;"
      >

      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <img class="card-img" src="../../../../assets/img/card-3.PNG" alt="" />
      </div>
    </div>
  </div>
</section> -->
<div class="row m-3">
  <div
    class="col"
    style="background-color: #012660; color: white; border: 5px solid white"
  >
    <h5 class="p-3">Customised software</h5>
    <p class="p-3">
      Our experts have wide-ranging experience creating customised plans
      specific to your business! <br />
      <br />
      Custom solutions benefit your business by: <br />
      <br />
      • Creating anaccomplished services plan that is just for your business.
      <br />

      • Are able to work with changing industries & developing businesses.
      <br />

      • Able to adjustwithabundant industries and situations. <br> <br>
      <img
        src="../../../../assets/img/img-landing2.PNG"
        alt=""
        class="card-img p-2"
      />
    </p>
  </div>
  <div
    class="col"
    style="background-color: black; color: white; border: 5px solid white"
  >
    <h5 class="p-3">Infrastructure Services</h5>
    <p class="p-3">
      100% uptime means you can continue business 24x7<br />
      <br />
      Power Backup solutions that proactive fault avoidance and reactive
      resolution. Perception IT and Emerson mechanisms such as Power
      Conditioning, Uninterruptable Power Supply (UPS) and timely Battery
      Replacement increase efficiency and help businesses in power sizing, power
      density, and cooling decisions. <br> <br>
      <img
        src="../../../../assets/img/img-landing1.PNG"
        alt=""
        class="card-img p-2 "
      />
    </p>
  </div>
  <div
    class="col"
    style="background-color: #c14242; color: white; border: 5px solid white"
  >
    <h5 class="p-3">Industry Solutions</h5>
    <p class="p-3">
      Drive at optimum capability <br />
      <br />
      Learn how Perception IT can help you streamline your business by: Make
      efficient price
      <br />
      <br />
      Our solutions help with enterprise xxxx Xxx, accelerating xxx information
      to the point of need while reducing xxxx integration costs and
      inefficiencies

      <br />

      through a client-centric approach to data liquidity nd interoperability
      with the help of our xxxx built on a true vendor-neutral archive
      foundation.
      <br />
    </p>
  </div>
</div>
