<!-- <section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-4 "
        data-aos="fade-up"
        data-aos-delay="100"
        style="background-color: #282672; color: white"
      >
        <h5 class="p-3">Customised software</h5>
        <p class="p-3">
          Our experts have wide-ranging experience creating customised plans
          specific to your business! <br />
          <br />
          Custom solutions benefit your business by: <br />
          <br />
          • Creating anaccomplished services plan that is just for your
          business. <br />

          • Are able to work with changing industries & developing businesses.
          <br />

          • Able to adjustwithabundant industries and situations.
        </p>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
        style="background-color: black;"
      >

      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <img class="card-img" src="../../../../assets/img/card-3.PNG" alt="" />
      </div>
    </div>
  </div>
</section> -->
<div class="row m-3">
  <div
    class="col"
    style="background-color: #012660; color: white; border: 5px solid white"
  >
    <h5 class="p-3">Customised solutions</h5>
    <p class="p-3">
      Our experts have wide-ranging experience and can create customised plans
      that are specific to your business! <br />
      <br />
      Custom solutions provide benefit by: <br />
      <br />
      • Integrating with key and customised software you already use.
      <br />

      • Automating areas where your staff spend time repeating actions.
      <br />

      • We can respond quickly to your business requirements. <br> <br>
      <img
        src="../../../../assets/img/img-landing2.PNG"
        alt=""
        class="card-img p-2"
      />
    </p>
  </div>
  <div
    class="col"
    style="background-color: black; color: white; border: 5px solid white"
  >
    <h5 class="p-3">Infrastructure Services</h5>
    <p class="p-3">
      Assurity of your service from the ground up<br />
      <br />
      Perception IT can provide infrastructure services such as hardware SLA, Backup and UPS that will ensure that your
      on-premise equipment is fault-tolerant and consistently available.
      We can help you to appropriately size your solution for the service levels your business requires.<br> <br>
      <img
        src="../../../../assets/img/img-landing1.PNG"
        alt=""
        class="card-img p-2 "
      />
    </p>
  </div>
  <div
    class="col"
    style="background-color: #c14242; color: white; border: 5px solid white"
  >
    <h5 class="p-3">Industry Solutions</h5>
    <p class="p-3">
      Gain value from our industry-specific knowledge<br />
      <br />
      Perception IT can help you focus on areas to streamline your business
      <br />
      <br />
      We have key insights from areas such as Banking, Telecoms and Manufacturing that can help you focus on areas with demonstrable value
      <br />
    </p>
  </div>
</div>
