<div class="header-height"></div>
<div class="row">
  <div class="col-2 col-padding-left col-padding-right padding-header-top">
    <img src="../../../../../assets//img/ibm.PNG" alt="">
    <p style="line-height: 3rem;">Control Desk</p>
    <hr />
    <p>
      Reduces costs and increases satisfaction through self-service, automated
      service management and integrated, best practice-based service desk
      capabilities.
    </p>
  </div>
  <div class="col-10 col-padding-left col-padding-right padding-header-top">
    <div class="row">
      <div class="col first-div">
        <p class="p-2 ">What is IBM control desk ?</p>
        <p class="p-2" >
          IBM® Control Desk provides the IT Service Management (ITSM) needed to
          simplify support of users and infrastructures.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col  first-color box">
        <img class="rounded mx-auto d-block mt-4"  src="../../../../../assets/img//pic1.PNG" alt="">
        <h2 class="text-center pt-4 ">Reduce help desk calls</h2>
        <p class="text-center pt-4">
          The Service Catalog and Enterprise App Store allow users to select
          available services and deploy approved software to their devices
          without help from IT staff.
        </p>
      </div>
      <div class="col second-color box">
        <img class="rounded mx-auto d-block mt-4"  src="../../../../../assets/img//pic2.PNG" alt="">
        <h2 class="text-center pt-4">Improve first call resolutions</h2>
        <p class="text-center pt-4">
          IT practitioners benefit from best practice-based process automation
          capabilities, integrated knowledge and problem management, and
          visibility into asset, configuration and change information.
        </p>
      </div>
      <div class="col third-color box">
        <img class="rounded mx-auto d-block mt-4"  src="../../../../../assets/img//pic3.PNG" alt="">
        <h2 class="text-center pt-4">Reduce outages</h2>
        <p class="text-center pt-4">
          Organizations can lower business risk by using advanced impact
          analysis and automated change procedures to ensure integrity of
          existing infrastructure and multicloud environments.
        </p>
      </div>
      <div class="col foth-color box">
        <img class="rounded mx-auto d-block mt-4"  src="../../../../../assets/img//pic4.PNG" alt="">
        <h2 class="text-center pt-5">Improve IT asset utilization</h2>
        <p class="text-center pt-4">
          Gain significant savings per year in reducing software license waste
          due to bad asset management across traditional infrastructures and
          multicloud environments.
        </p>
      </div>
      <div class="col five-color box">
        <img class="rounded mx-auto d-block mt-4"  src="../../../../../assets/img//pic4.PNG" alt="">
        <h2 class="text-center pt-5">Improve control of IT environments</h2>
        <p class="text-center pt-4">
          The Service Catalog and Enterprise App Store allow users to select
          available services and deploy approved software to their devices
          without help from IT staff.
        </p>
      </div>
    </div>

    <div class="row">
      <div class=" col-3 five-color box-1">
        <img class="rounded mx-auto d-block mt-4"  src="../../../../../assets/img//pic5.PNG" alt="">
        <h2 class="text-center pt-4">Improve service level objectives</h2>
        <p class="text-center pt-4">
          Manage IT Services and IT Operations in context of business objectives
          and commitments.
        </p>
      </div>
    </div>

    <div class="row second-div">
      <div class="col-3 p-4">Key Features</div>
      <div class="col-9 p-4">
        Manage IT operational assets + Create software App Store + Analyze
        change impacts + Use self-service service catalog + Manage software
        assets + Manage changes + Manage issues + Employ flexible pricing and
        deployment
      </div>
    </div>
    <div class="row" style="background-color: black; ">
      <div class="col p-2" style="color: white; text-align: end;">Enquire</div>
    </div>
  </div>
</div>
