.first-div {
  background-color: #F0F0F0;
  /* height: 50px; */
}
.first-color{
  background-color: #020e1f;
  border-top: 0.1px solid white;
  border-left: 0.1px solid white;
  border-right: 0.1px solid white;

}
.second-color{
  background-color: #041A39;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}
.third-color{
  background-color: #0A254A;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}
.foth-color{
  background-color: #0B356E;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;
}
.five-color{
  background-color: #174384;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}
.box {
  color: white;
  /* width: 215px; */
  height: 500px;

}
.box-1{
  /* width: 217px; */
  color: white;
  height: 500px;

}

.second-div{
 background-color:  #F0F0F0;

}
.first-h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  color: white;
}
@media only screen and  (min-width: 1000px) {
  .box-1{
    /* height: auto; */
   /* background-color: brown;
    */
    width: 217px;
  }
 }
.body-fonts-1{
  font-family: SFPro-thin;
  /* font-size: 2px; */
}
.body-fonts-2{
  font-family: SFPro-Regular;
  /* font-size: 2px; */
}
.body-fonts-3{
  font-family:  SFPro-SemiBold;;
}
