<div class="row" id="main">
  <div class="col-md-8 col-xs-12 first-div">
    <div class="container p-5">
      <h3>Business-led IT Consultancy</h3>
      <br />
      <h5>
        Perception IT provides technological direction and structure for your
        growing business; enhancing organizational engagement, reducing risk and
        increasing enterprise value.
        <br />
        <br />

        Minimize risk & future proof your business using best-of-breed
        technology.
      </h5>
    </div>
  </div>
  <div class="col-md-4 col-xs-12 p-0">
    <img
      src="../../../../assets/img/it-cover.png"
      class="card-img"
      alt=""
      style="height: 250px"
    />
  </div>
</div>
<div class="blue-background main-heading" id="main">
  <div class="container p-3" style="margin-top: -4px">
    <b>
      <h1 class="title">IT Consultancy</h1>
    </b>
    <p class="title">A road map aligning your business with technology</p>
  </div>
</div>

<div
  class="links-tab"
  style="background-color: #6c0909; margin-top: -2px"
  id="main"
>
  <div class="container" style="margin-bottom: -13px">
    <div class="social-links">
      <p class="title">
        AI OPs | IT Service Management | DevOps and Cloud Migration
      </p>
    </div>
  </div>
</div>
