.first-div {
  background-color: #74716C;
}



.first-h1 {
  padding-top: 70px;
  padding-bottom: 35px;
  color: white;
}

#first-img {
  height: 317px;
  width: 100%;
}

/* @media (max-width: 1250px) {
  #links-tab{
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  #abc{
    padding-left: 0px !important;
  }
} */

/* @media (max-width: 950px) {
  #first-img {
    height: 417px !important;
  }

} */

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  /* margin-bottom: 70px; */
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #1D2957;
}

.third-h5 {
  color: white;
}

.tsia-div {
  margin-top: 3px;
  background-color: #8A8A89;
  box-shadow: 0 3px 6px #000000;
}

@media (max-width:775px) {
  .left-line {
    border-left: none;
    /* padding-left: 0; */
    display: block;
    padding: 0;
  }
.first-h2{
  padding-bottom: 100px;
}
.linksTopPadding{
  padding-top: 7px;
    }
}
.page-heading{
  background-color: #f1f1f1;
  color: #5d6063;
}

.highlight-pink {
  background-color: pink;
}

.highlight-black {
  background-color: black;
  color: white;
}

/*   */
@media  (max-width:1170px){
  #first-img{
   height: 100%;

  }
}
