.first-div {
  background-color: #74716C;
}

.first-h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  color: white;
}

#first-img {
  height: 370px;
  width: 100%;
}

@media (max-width: 610px) {
  #links-tab{
    height: 60px !important;
    padding-top: 5px !important;
  }

  #down{
    padding-left: 0px !important;
  }
}

@media (max-width: 1110px) {
  #first-img {
    height: 357px !important;
  }

}

@media (max-width: 950px) {
  #first-img {
    height: 417px !important;
  }

}

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 70px;
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #6C0909;
}

.third-h5 {
  color: white;
}
