 <div class="header-height"></div>

<section id="PP" class="services section-bg">
  <div class="container">
  
    <div id="PP" class="title-new">
      <!--<h2 style="font-size: 22px; color: #c9c9c9;">
        Why Partner With Perception IT
      </h2>-->
      
      <h2 style="font-size: 22px; color: #929191;">
        Perception IT As Your Partner
      </h2>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a >Industry Expertise</a>
          </h4>
          <p class="padding-right padding-left">
            We draw on decades of experience in the field to produce a solution that matches your requirements using tried and tested methodologies
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a >Flexibility</a>
          </h4>
          <p class="padding-right padding-left">
            We know that a single off-the-shelf product is unlikely to meet your needs.
            We can ensure you get the most out of your tooling through delivery and support of customization and bespoke software.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4>
            <a 
              >Modernization</a
            >
          </h4>
          <p class="padding-right padding-left">
           Our teams are experienced in the latest practices and technologies, allowing you to migrate to or augment existing services to use the tools that will provide most value.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
