 <div class="header-height"></div>
<!--
<div class="row" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Does Your Business Need IT Consultancy?
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Leading Managed Service Providers (MSPs) must use the best technologies
      and equipment on the market to deliver services. IT services are
      constantly upgraded with no additional cost or financial risk to yourself.
      You never have to worry that your Managed IT Services will become
      obsolete.
    </p>
  </div>
</div>

<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Does Your Business Need IT Consultancy?
      DevOps - How Do Companies Benefit From IT Consultancy?
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Leading Managed Service Providers (MSPs) must use the best technologies
      and equipment on the market to deliver services. IT services are
      constantly upgraded with no additional cost or financial risk to yourself.
      You never have to worry that your Managed IT Services will become
      obsolete.
    </p>
  </div>
</div>

<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Does Your Business Need IT Consultancy?
      Industries That Can Benefit From From IT Consultancy
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Leading Managed Service Providers (MSPs) must use the best technologies
      and equipment on the market to deliver services. IT services are
      constantly upgraded with no additional cost or financial risk to yourself.
      You never have to worry that your Managed IT Services will become
      obsolete.
    </p>
  </div>
</div>

<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Does Your Business Need IT Consultancy?
      Why use perception IT?
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Leading Managed Service Providers (MSPs) must use the best technologies
      and equipment on the market to deliver services. IT services are
      constantly upgraded with no additional cost or financial risk to yourself.
      You never have to worry that your Managed IT Services will become
      obsolete.
    </p>
  </div>
</div> -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <span>Consultancy Services</span>
      <h2>Consultancy Services</h2>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Industry Expertise</a>
          </h4>
          <p class="padding-right padding-left">
            We draw on decades of experience in the field to produce a solution that matches your requirements using tried and tested methodologies
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="">Flexibility</a>
          </h4>
          <p class="padding-right padding-left">
            We know that a single off-the-shelf product is unlikely to meet your needs.
            We can ensure you get the most out of your tooling through delivery and support of customisations and bespoke software.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4>
            <a href=""
              >Modernisation</a
            >
          </h4>
          <p class="padding-right padding-left">
           Our teams are experienced in the latest practises and technologies, allowing you to migrate to or augment existing services to use the tools that will provide most value.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
