<div class="row" id="main">


  <div class="col-lg-12 " *ngIf="!width">
    <img src="../../../assets/carsole/ROJECTS -W1920 H750.svg" alt="" class="img-fluid" style="  ">
  </div>

  <div class="col-lg-12" *ngIf="width">
    <img src="../../../assets/carsole/PROJECTS PHONE VIEW -W960 x H 750 – 1.svg" alt="" class=" mobileView">
  </div>
  <div class="col-lg-12" *ngIf="width">
    <img src="../../../assets/carsole/iPhone 12, 12 Pro – 3.svg" alt="" class=" mobileView">
  </div>

</div>
<div class="row">
  <div class="col-lg-12">
    <div class="page-heading padding-left padding-right margin-top-3">
      <h3 class="pb-1">Projects</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="
        padding-left
        links-tab
        third
        d-flex
        align-items-start
        justify-content-start

      " id="links-tab">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="padding-left: 0px !important" id="search">
            <h5 class="third-h5 pt-2">Search by:</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link third-h5
            " routerLink="/projects" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <h5 class=" pt-2">Industry</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link third-h5" routerLink="/projects/software-products" routerLinkActive="active-link">
            <h5 class=" pt-2">Software Products</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link third-h5" routerLink="/projects/technology" routerLinkActive="active-link">
            <h5 class=" pt-2">Technology</h5>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link third-h5" id="service">
            <h5 class=" pt-2">Service</h5>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="padding-left mt-4 padding-right">
    <router-outlet></router-outlet>
  </div>
</div>