<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="mb-0" style="font-family: SFPro-thin;color: #E58707 ;">CUSTOMER</p>
    <p>
        Ibrahim Fibres Limited is an industrial company in Pakistan having diversified business activities including Polyester Yarn production, Polyester Staple Fiber production, Financial Services and Energy.
        Polyester Plant manufacturing operations are staggered in three production lines located within the same premises, at 38th K.M. Faisalabad – Sheikhupura Road, Faisalabad and are spread over an area of more than 100 acres of land with a capacity to produce 390,600 tons per annum of Polyester Staple Fibre (PSF).

Power Generation Plants of Ibrahim Fibres Limited consist of two production plants: 
Power Generation Plant – I and Power Generation Plant – II.
Total power generation capacity of these plants is 73.3 MW.
Financial Services:
The consortium of Ibrahim Leasing Limited and Ibrahim Group assumed the control of the Allied bank in August 2004 by injecting Rs 14.2 billion into the capital of Allied bank for acquiring 325 million additional shares.

    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Transformation</p>
    <p>Perception IT is providing 24*7 with same day part replacement services in order to support service to maintain these servers up to date and in optimal condition to cater the application load and to handle business transactions efficiently.
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Business challenge</p>
    <p>
        Keeping in view the criticality level of application, it was necessary to have this underneath hardware upgraded with latest patches and health check should be in place to avoid any kind of downtime.
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <h4 class="mt-3 mb-3" style="color: #E58707;font-family: SFPro-thin; ;">Results</h4>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f8f8f8;
      height: 120px;

      line-height: 35px;
    "
  >
    <p class="pt-3">
      Systems are up to date with Latest fix packs and all hardware components are under support agreement in case of any failure
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--30% decrease in processing times enables more responsive customer service-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
    
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Frees employees to focus on innovation by simplifying IT management-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
    
      height: 120px;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3"
    > Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Business challenge story</h3>
    <!--<p class="pt-4" style="color: #E58707;">Defining a vision - DUM MY TEXT >>>>>>>>>SUB HEADING</p>-->
    <p style="line-height: 35px;">
      Keeping in view the criticality level of application, it was necessary to have this underneath hardware upgraded with latest patches and health check should be in place to avoid any kind of downtimeKeeping in view the criticality level of application, it was necessary to have this underneath hardware upgraded with latest patches and health check should be in place to avoid any kind of downtime
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Transformation story</h3>
  <!--  <p class="pt-4" style="color: #E58707;">Supercharging business performance - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Perception IT is providing 24*7 with same day part replacement services in order to support service to maintain these servers up to date and in optimal condition to cater the application load and to handle business transactions efficiently.
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Results story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Living up to green principles - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Systems are up to date with Latest fix packs and all hardware components are under support agreement in case of any failure
    </p>
  </div>
</div>





