.first-div {
  background-color: #141F3B;
}



@media (max-width: 1490px) {
  #links-tab {
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;


  }


}

@media (max-width: 950px) {
  #first-img {
    height: 417px !important;
  }

}

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 70px;
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #4C5E62;
}

.third-h5 {
  color: white;
  /* padding: 10px; */
}

.social-links {
  padding-top: 3px;


}



.fonts {
  font-style: italic;
  font-size: small;
  font-weight: bold;
}

.first-div {
  background-color: #141F3B;
}

.first-h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  color: white;
}



@media (max-width: 1490px) {
  #links-tab {
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;


  }


}

@media (max-width: 950px) {
  #first-img {
    height: 417px !important;
  }

}

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 70px;
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #08133E;
  right: 0;
}

.third-h5 {
  color: white;
}

.social-links {
  padding-top: 3px;


}

.left-line{
  padding-left: 30px;
}
.right-line1{
  padding-right: 30px;
}

.fonts {
  font-style: italic;
  font-size: small;
  font-weight: bold;
}



@media (max-width:500px) {
  .left-line {
    border-left: none;

    display: block;
    padding: 0;
  }

}
