<div class="row">
  <div
    class="col-lg-12 links-tab padding-left third border-bottom-1"
    id="links-tab"
  >
    <div
      class="social-links"
      style="
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: SFPro-regular;
      "
    >
      <a class="right-line1" id="abc" routerLink="/contact">
        <h5 class="third-h5">Contact</h5>
      </a>
      <a class="left-line right-line1" id="abc">
        <h5 class="third-h5">Privacy Terms Of Use</h5>
      </a>

      <a class="left-line right-line1" id="abc">
        <h5 class="third-h5">Cookie Preferences</h5>
      </a>
    </div>
  </div>
</div>
