<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="mb-0" style="font-family: SFPro-thin;color: #E58707 ;">CUSTOMER</p>
    <p>
      Orb Data is a UK based company that has been offering IBM ITSM services since 1998.
      Following are some major clients.
      Helios Tower one of the biggest towers co company.
      Claranet, one of the largest internet service providers.
      
      
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Transformation</p>
    <p>Managed service support for IBM solutions
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Business challenge</p>
    <p>
        Alarm monitoring for client’s infrastructure.
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <h4 class="mt-3 mb-3" style="color: #E58707;font-family: SFPro-thin; ;">Results</h4>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f8f8f8;
      height: 120px;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Issue identification and reporting time decreased
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--30% decrease in processing times enables more responsive customer service-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
    
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
     <!-- Frees employees to focus on innovation by simplifying IT management-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      height: 120px;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" color: #E58707;font-family: SFPro-Regular;">Business challenge story</h3>
  <!--  <p class="pt-4" style="color: #E58707;">Defining a vision - DUM MY TEXT >>>>>>>>>SUB HEADING</p>-->
    <p style="line-height: 35px;">
      Integration of new products and upgradation of existing components, along with managing a large client base like Helios Tower and Claranet was a challenge.
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style="color: #E58707; font-family: SFPro-Regular;">Transformation story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Supercharging business performance - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Managed service support and service integration for Netcool 
   Creation of incidents in Netcool
 Policy implementation via Impact
 
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style="color: #E58707; font-family: SFPro-Regular;">Results story</h3>
  <!--  <p class="pt-4" style="color: #E58707;">Living up to green principles - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Issue identification time decreased which ultimately decreased issue reporting time.
    </p>
  </div>
</div>




