 <!-- ======= Cta Section ======= -->
 <section id="devops" class="devops">
   <div class="row" id="devop1">
     <div class="col-lg-6 col-md-8 col-xs-12">
       <div class="container m-5">
         <h3>
           Teamwork, Collaboration, Continuous Feedback & Efficiency
         </h3>
         <h3>- All At The Speed Of Digital!</h3>
         <h5 class="mt-4">
           <b>200</b> times more frequent deployments <b>2,555</b> times shorter lead times <b>24</b> times faster
           recovery *
         </h5>
         <h6 class="mt-4 mb-2">
           * 2016 State of DevOps 2016 Report
         </h6>
       </div>
     </div>
   </div>
   <div class="blue-background main-heading">
     <div class="container">
       <b>
         <h1 class="title"><a href="">DevOps And Cloud</a></h1>
       </b>
       <p class="description">
         Architect your bussiness for real-time adaptability,teamwork and automation accross a range of industries
       </p>
     </div>
   </div>
   <div class="links-tab">
     <div class="container">
       <div class="social-links">
         <a href="#" class="left-line">DevOps</a>
         <a href="#" class="left-line">Cloud Migration</a>
         <a href="#" class="left-line">AI Ops DevOps</a>
         <span class="dropdown">
         <a href="#" class="dropdown">Managed cloud services</a>
         <span class="drop-menue">
          <a href="#" class="drop-right-line drop-left-line">Kuberneties </a>
          <a href="#" class="drop-left-line">AWS</a>
          <a href="#" class="drop-left-line">GCP</a>
          <a href="#" class="drop-left-line">IBM cloud</a>
         </span>

         <!-- <span class="dropdown">
         <a href="#"><span>Drop Down</span></a> -->
          <!-- <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul> -->
        </span>
       </div>
     </div>
   </div>
   <div class="row gradient">
     <div class="col-lg-6 col-md-9 col-sm-10 col-xs-11 p-0 offset-lg-6 offset-md-3 offset-sm-2">
       <div id="devop2">
         <div class="row">
           <div class="col-6" id="cutom-col1">
            <div class="text-center mahroon-box">
              DEV
            </div>
            <div class="text-center white-box">
              Application Performance
            </div>
            <b class="button-white-box"><p>Decrease latency time by APM tools</p>  </b>
            <div class="text-center white-box">
              End User Analytics
            </div>
            <b class="button-white-box"><p>Monitor end user latency & check <br>
              device performance</p> 
              </b>
            <div class="text-center white-box">
              Quality Code
            </div>
            <b class="button-white-box"><p>Ensure deployments don’t degrade <br> performance </p></b>
            <div class="text-center white-box">
              Code-Level Errors
            </div>
            <b class="button-white-box"><p>Lower MTTR by finding error root caused</p></b> 
          </div>
           <div class="col-6" id="pl-6">
            <div class="text-center mahroon-box">
              OPS
            </div>
            <div class="text-center white-box">
              Application Availability
            </div>
            <b class="button-white-box"><p>Application Performance</p> </b>
            <div class="text-center white-box">
              End User Analytics
            </div>
            <b class="button-white-box"><p> Solve problems by correlating <br>
              infrastructure & application metrics</p>
              </b>
            <div class="text-center white-box">
              End User Complaints
            </div>
            <b class="button-white-box"><p> Solve problems by correlating <br>
              infrastructure & application metrics</p>
             </b>
            <div class="text-center white-box">
              Performance Analytics
            </div>
            <b class="button-white-box"><p>Use automatically generated baselines <br>
              to focus troubleshooting</p> </b> 
          </div>
         </div>
       </div>
     </div>
   </div>

   <div id="devop-content-banner">
     <h3 class="container">DevOps</h3>
   </div>
   <div id="devop-content">
     <div class="row">
       <div class="col-lg-6 col-md-12">
         <h3 class="gray-text container m-5">Entire organizations need to be agile for a business to
           realize their true value -McKinsey Digital</h3>
         <h5 class="gray-text container m-5">DevOps focuses on rapid IT service delivery through the
           adoption of agile and lean practices in the context of a system-oriented approach. By uniting software
           development and tech operations and automating their processes from end to end, companies can clear a
           seamless path from idea to production. </h5>
       </div>
       <div class="col-lg-6 col-md-12">
         <div style="width: 350px; height: 350px;margin-left: 40px;margin: auto;">
           <img src="assets/img/devop3.svg" class="img-fluid mt-5 animated" alt="" />
         </div>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D;">

       </div>
       <div style="height: 270px; background-color: #3C3E45;color: #6EC1C7;border-right: 1px solid white;">
         <div class="container pt-2">
           An amalgamation of two words, ‘development’ and ‘operations’ it aims at combining software development and
           software operations. It breaks the barrier between development and operation teams. The collaborative work
           between them leads to the benefit of combined skill.
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D;color: #6EC1C7">
         <div class="container pt-2">
           Business Value of DevOps:
         </div>
       </div>
       <div style="height: 270px; background-color: #3C3E45;color: #6EC1C7;border-right: 1px solid white;">
         <div class="container pt-2">
           DevOps primarily applies to businesses that build or assemble their own software, versus just using pre-built
           software.
           <br class="pt-2">
           DevOps offers the greatest value to businesses where speed of delivery provides a significant competitive
           advantage.
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D;color: #6EC1C7">
         <div class="container pt-2">
           Empowering teams to innovate
         </div>
       </div>
       <div style="height: 270px; background-color: #3C3E45;color: #6EC1C7;border-right: 1px solid white;">
         <div class="container pt-2">
           With Faster delivery of features, more stable operating environments, Improved communication and
           collaboration it gives
           More time to innovate (rather than fix/maintain)
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D;color: #6EC1C7">
         <div class="container pt-2">
           Why partner with Perception IT?
         </div>
       </div>
       <div style="height: 270px; background-color: #3C3E45;color: #6EC1C7; ">
         <div class="container pt-2">
           To improve the pipeline, we make it’s health and metrics visible to stakeholders through application
           performance management tools
         </div>
       </div>
     </div>
   </div>

   <div id="devop-content-banner">
     <h3 class="container">Cloud Migration</h3>
   </div>
   <div id="devop-content">
     <div class="row">
       <div class="col-lg-6 col-md-12">
         <div class="container m-5">
           <p class="gray-text">
             https://www.site24x7.com/blog/the-role-of-aiops-in-the-devops-story
             <br>
             By perfectly blending automation, performance management, and service management, AIOps enables continuous
             testing, accelerated development cycles, and refined services.
             in check, and resolve incidents in the production stage.
             <br>
             Monitoring <br>
             Alarm aggregation <br>
             Historical analysis<br>
             AI algorithms <br>
             Runbook Automation <br>
             Service Desk Integration<br>
           </p>
         </div>
       </div>
       <div class="col-lg-6 col-md-12">
         <div style="width: 350px; height: 350px;margin-left: 40px;margin: auto;">
           <img src="assets/img/devop5.svg" class="img-fluid mt-5 animated" alt="" />
         </div>
       </div>
     </div>
   </div>
   <div id="devop-content-banner">
     <h3 class="container">AI Ops DevOps</h3>
   </div>
   <div id="devop-content">
     <div class="row">
       <div class="col-lg-6 col-md-12">
         <div class="container m-5">
           <p class="gray-text">
             https://www.site24x7.com/blog/the-role-of-aiops-in-the-devops-story
             <br>
             By perfectly blending automation, performance management, and service management, AIOps enables continuous
             testing, accelerated development cycles, and refined services.
             in check, and resolve incidents in the production stage.
             <br>
             Monitoring <br>
             Alarm aggregation <br>
             Historical analysis<br>
             AI algorithms <br>
             Runbook Automation <br>
             Service Desk Integration<br>
           </p>
         </div>
       </div>
       <div class="col-lg-6 col-md-12">
         <div style="width: 350px; height: 350px;margin-left: 40px;margin: auto;">
           <img src="assets/img/devop5.svg" class="img-fluid mt-5 animated" alt="" />
         </div>
       </div>
     </div>
   </div>
   <div style="height: 40px; background-color: #3C3E45; color: #D0D1D3; border-top: 3px solid white;">
     <h3 class="container">Managed Cloud Services</h3>
   </div>
   <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D; color: #D0D1D3;">
         <div class="container pt-2">
           Kuberneties
         </div>
       </div>
       <div style="height: 320px; background-color: #3C3E45;color: #D0D1D3;border-right: 1px solid white;">
         <div class="container pt-2">
           <p>
             <span style="color: #BDFF08;">PENDING</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
             do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
             <br>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
             dolore
             magna aliqua. Ut enim ad minim veniam, quis nostrud. exercitation

           </p>
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D; color: #D0D1D3;">
         <div class="container pt-2">
           AWS
         </div>
       </div>
       <div style="height: 320px; background-color: #3C3E45;color: #D0D1D3;border-right: 1px solid white;">
         <div class="container pt-2">
           <p>
             <span style="color: #BDFF08;">PENDING</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
             do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
             <br>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
             dolore
             magna aliqua. Ut enim ad minim veniam, quis nostrud. exercitation

           </p>
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D; color: #D0D1D3;">
         <div class="container pt-2">
           GCP
         </div>
       </div>
       <div style="height: 320px; background-color: #3C3E45;color: #D0D1D3;border-right: 1px solid white;">
         <div class="container pt-2">
           <p>
             <span style="color: #BDFF08;">PENDING</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
             do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
             <br>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
             dolore
             magna aliqua. Ut enim ad minim veniam, quis nostrud. exercitation

           </p>
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 40px; background-color: #66686D; color: #D0D1D3;">
         <div class="container pt-2">
           IBM Cloud
         </div>
       </div>
       <div style="height: 320px; background-color: #3C3E45;color: #D0D1D3;border-right: 1px solid white;">
         <div class="container pt-2">
           <p>
             <span style="color: #BDFF08;">PENDING</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
             do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
             <br>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
             dolore
             magna aliqua. Ut enim ad minim veniam, quis nostrud. exercitation

           </p>
         </div>
       </div>
     </div>
   </div>
   <div style="height: 30px;background-color: #406CA0;">
   </div>
   <div class="light-gray-box1">
     <div class="row">
       <div class="col-md-3 col-sm-12">
         <b>
           <p id="p5" class="p-5">
             Does Your Business Need a
             DevOps Culture?
           </p>
         </b>
       </div>
       <div class="col-md-9 col-sm-12">
         <p id="p5-up" class="p-5">
           In general, any business that is using software or apps for innovation and growth, regardless of industry,
           should consider developing a DevOps environment.
         </p>
       </div>
     </div>
   </div>
   <div class="light-gray-box">
     <div class="row">
       <div class="col-md-3 col-sm-12">
         <b>
           <p id="p5" class="p-5">
             DevOps - How does
             the end consumer benefit,
             keeping you ahead of the c
             ompetition?
           </p>
         </b>
       </div>
       <div class="col-md-9 col-sm-12">
         <p id="p5-up" class="p-5">
           Your consumers expect new and enhanced software solutions without having to wait. Your business must keep up
           to meet their ever-increasing demands. However, a lack of proper communication and collaboration between
           teams often leads to inefficiency, causing hindrances in the workflow.
           DevOps aims to encourage process automation and collaboration between the business, development, and
           operations teams for improved teamwork, seamless management, streamlined processes, and enhanced
           productivity. Departments that previously operated as separate entities now make use of technology to
           collaborate and reduce the system development life cycle immensely. Perception IT assists you in identifying
           your core problem areas and implementing the perfect DevOps strategy for your needs which uses Continuous
           Integration, Delivery, and Deployment as core practices to achieve your goals.
         </p>
       </div>
     </div>
   </div>
   <div class="light-gray-box">
     <div class="row">
       <div class="col-md-3 col-sm-12">
         <b>
           <p id="p5" class="p-5">
             Industries that can benefit
             from Managed services
           </p>
         </b>
       </div>
       <div class="col-md-9 col-sm-12">
         <p id="p5-up" class="p-5">Any business that is using software or apps for innovation and growth, regardless of industry,
           should consider developing a DevOps environment. DevOps has however been identified to enhance performance in
           the following industries: Financial services | Healthcare / Banking / Insurance / Hospitality / Inventory
           management/ Manufacturing.</p>
       </div>
     </div>
   </div>
   <div class="light-gray-box">
     <div class="row">
       <div class="col-md-3 col-sm-12">
         <b>
           <p id="p5" class="p-5">
             Why use perception IT DevOP solutions
           </p>
         </b>
       </div>
       <div class="col-md-9 col-sm-12">
         <p id="p5-up" class="p-5"><span class="text-danger">PENDING</span> Talk about our methodology / the value points of going
           with Perception IT in specific/ experience
           Perception IT assists you in identifying your core problem areas and implementing the perfect DevOps strategy
           for your needs which uses Continuous Integration, Delivery, and Deployment as core practices to achieve your
           goals.

         </p>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 250px;border-right: 1px solid #707070;">
         <h5 class="blog-padding text-center">Testimonial</h5>
         <div
           style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 50%;">
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 250px;border-right: 1px solid #707070;">
         <div class="member d-flex align-items-start">
           <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
           <div class="member-info">
             <span id="customer" class="text-danger">Customer for over 4 year</span>
             <h4>Walter White</h4>
             <span>Chief Medical Officer</span>
             <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
             <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
           </div>
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 250px;border-right: 1px solid #707070;">
         <div class="member d-flex align-items-start">
           <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
           <div class="member-info">
             <span id="customer" class="text-danger">Customer for over 4 year</span>
             <h4>Amanda Jepson</h4>
             <span>Neurosurgeon</span>
             <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
             <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
           </div>
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 250px; ">
         <div class="member d-flex align-items-start">
           <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
           <div class="member-info">
             <span id="customer" class="text-danger">Customer for over 4 year</span>
             <h4>Sarah Jhonson</h4>
             <span>Anesthesiologist</span>
             <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
             <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div
         style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070;background-color: #ECEDF0;">
         <h5 class="blog-padding text-center">Blog Stories</h5>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div
         style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070;background-color: #ECEDF0;">
         <h5 class="blog-padding text-center">Blog Stories</h5>
         <div
           style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 50%;">
         </div>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div
         style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070;background-color: #ECEDF0;">
         <h5 class="blog-padding text-center">Blog Stories</h5>
       </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-12 p-0">
       <div style="height: 250px;border-top: 1px solid #707070;background-color: #ECEDF0;">

       </div>
     </div>
   </div>
 </section>
 <!-- End Cta Section -->
