.first-h1 {
  padding-top: 70px;
}

.first-h2 {
  padding-bottom: 70px;
}

.third {
  background-color: #406CA0;
  color: white;
}


#devop1 {
  background-image: url(../../../../assets/img/devop1.svg);
}


.testimonial-heading {
  padding-top: 20px;
  font-weight: 800;
  font-size: 22px;
  color: black;
}


.gradient {
  background: rgb(247, 247, 247);
  background: linear-gradient(90deg, rgba(247, 247, 247, 1) 55%, rgba(205, 215, 242, 1) 100%);
}

@media (max-width: 576px) {
  #pl-6 {
    padding-left: 15px !important;
  }

  #cutom-col1 {
    padding-left: 30px;
  }

  #devop2 {
    background: rgb(247, 247, 247);
    background: linear-gradient(90deg, rgba(247, 247, 247, 1) 65%, rgba(205, 215, 242, 1) 100%);
  }
}

#pl-6 {
  padding-left: 60px;
}

#devop2 {
  height: 350px;
  background-image: url(../../../../assets/img/devop2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.mahroon-box {
  background-color: #640202;
  color: white;
  border-radius: 30px;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 10px;

}

.white-box {
  background-color: white;
  color: #7E7668;
  border-radius: 30px;
  width: 180px;
}

.button-white-box {
  color: #66686D;
  font-size: small;
}

.box-body {
  background-color: #3c3e45;
  color: #6EC1C7;
}

.box-header {
  color: #6EC1C7;
}


.gray-text {
  color: #D0D1D3;
}


.question-div {
  /* margin-top: 10px; */
  padding: 5px 0px 5px 0px;
}

.answer-div {
  padding-top: 10px;
  padding-bottom: 10px;

}

.icon-box {
  height: 500px;
  color: white;
  background: #bdc0c5;
  border: 1px solid rgb(155, 152, 152);
  transition: 0.3s;
  margin-bottom: 10px;
}

.center-divs {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

@media (max-width: 990px) {
  .img-right {
    width: 100%;
    height: 400px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 42px !important;
  }
}

.img-right {
  width: 100%;
  height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 250px;
}

.box-2-1 {
  height: 245px;
  color: white;
  background: #bdc0c5;
  border: 1px solid rgb(155, 152, 152);
  transition: 0.3s;
}

.box-2 {
  margin-top: 10px;
  height: 245px;
  color: white;
  background: #bdc0c5;
  border: 1px solid rgb(155, 152, 152);
  transition: 0.3s;
  margin-bottom: 10px;
}

@media (max-width: 778px) {
  #p5 {
    padding-bottom: 0px !important;
  }

  #p5-up {
    padding-top: 0px !important;
  }

  .blog-padding {
    padding-top: 10% !important;
  }
}

.light-gray-box1 {
  background-color: #D4D4D4;
  border: 3px solid white;
}

.light-gray-box {
  background-color: #D4D4D4;
  border: 3px solid white;
  border-top: 0px solid white !important;
}

.blog-padding {
  padding-top: 30%;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.member {
  position: relative;
  /* box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08); */
  padding: 30px;
  /* border-radius: 10px; */
}

.member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.member .pic img {
  transition: ease-in-out 0.3s;
}

.member:hover img {
  transform: scale(1.1);
}

.member .member-info {
  padding-left: 30px;
}

.member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}

.member span {
  display: block;
  font-size: 15px;
  padding-bottom: 5px;
  position: relative;
  font-weight: 500;
}

#customer {
  font-size: 12px !important;
}

#customer::after {
  width: 130px;
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}


/* .doctors .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
  } */

.member p {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #a0bcd5;
}

.member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.member .social a:hover {
  background: #1977cc;
}

.member .social a+a {
  margin-left: 8px;
}



.dropdown span {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}


.dropdown:hover>span {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.dropdown span {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.dropdown:hover>span {
  top: 3;
  left: 0%;
  right: 70%;
  visibility: visible;
}

.drop-menue>a {
  color: #060F33;
}

.drop-left-line {
  border-right: 1px solid #060F33;
}

.drop-right-line {
  border-left: 1px solid #060F33;
}
