 <!-- ======= Cta Section ======= -->
 <section id="devops" class="devops">
   <div>
     <img src="assets/img/DevOps1.png" class="img-fluid animated" alt="" />
   </div>
   <div style="background-color: rgb(16, 16, 97); height: 100px;">
     <div class="container">
       <b>
         <h1 class="title"><a href="">Dev Ops</a></h1>
       </b>
       <p class="description">
         Architect your bussiness for real-time adaptability,teamwork and automation accross a range of industries
       </p>
     </div>
   </div>
   <div style="height: 35px;background-color: black; padding-top: 5px;">
     <div class="container">
       <div class="social-links d-none d-md-block">
         <a href="#" class="left-line">Supported Hardware</a>
         <a href="#" class="left-line">Services</a>
         <a href="#" class="left-line">After Sales Services</a>
         <a href="#" class="left-line">Hardware Consultancy</a>
         <a href="#" class="left-line">Warrenty Support</a>
         <a href="#" class="">Testimonial</a>
       </div>
     </div>
   </div>
   <div style="margin-top: 10px;">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="icon-box">

            </div>
        </div>
        <div class="col-lg-3 col-md-6" style="padding-right: 0px !important;padding-left: 0px !important;">
            <div class="box-2-1">
                
            </div>
            <div class="box-2">
                
            </div>
        </div>
        <div class="col-lg-3 col-md-6" >
            <div class="box-2-1">
                
            </div>
            <div class="box-2">
                
            </div>
        </div>
    </div>
  </div>
  <div style="height: 35px;background-color: rgb(16, 16, 97); margin-top: 10px;padding-top: 5px;">
    <div class="container">
        <p class="description">
            Architect your bussiness for real-time adaptability,teamwork and automation accross a range of industries
          </p>
    </div>
  </div>
  <div style="height: 50px;">

  </div>
  <div style="height: 35px;background-color: rgb(16, 16, 97); margin-top: 10px;padding-top: 5px;">
    <div class="container">
        <p class="description">
            Architect your bussiness for real-time adaptability,teamwork and automation accross a range of industries
          </p>
    </div>
  </div>
  <div style="height: 150px;">

</div>
<div style="height: 35px;background-color: rgb(16, 16, 97); margin-top: 10px;padding-top: 5px;">
    <div class="container">
        <p class="description">
            Architect your bussiness for real-time adaptability,teamwork and automation accross a range of industries
          </p>
    </div>
  </div>
  <div style="height: 100px;">

</div>
<div style="height: 35px;background-color: rgb(16, 16, 97); margin-top: 10px;padding-top: 5px;">
    <div class="container">
        <p class="description">
            Architect your bussiness for real-time adaptability,teamwork and automation accross a range of industries
          </p>
    </div>
  </div>
  <div style="height: 150px;">

</div>
<hr>
 <!-- ======= Team Section ======= -->
 <div id="doctors" class="doctors">
    <div class="container">
    <b><h1 class="testimonial-heading">Testimonial</h1></b>
      <div class="row">
        <div class="col-lg-4">
          <div class="section-title">
            <h4>Clinet : Helios</h4>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
          </div>
        </div>
        <div class="col-lg-8">
            <div class="row">

                <div class="col-lg-6">
                  <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                      <h4>Walter White</h4>
                      <span>Chief Medical Officer</span>
                      <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6 mt-4 mt-lg-0">
                  <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                      <h4>Sarah Jhonson</h4>
                      <span>Anesthesiologist</span>
                      <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6 mt-4">
                  <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                      <h4>William Anderson</h4>
                      <span>Cardiology</span>
                      <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6 mt-4">
                  <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                      <h4>Amanda Jepson</h4>
                      <span>Neurosurgeon</span>
                      <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                    </div>
                  </div>
                </div>
      
              </div>

        </div>
      </div>

    </div>
</div><!-- End Team Section -->

    
 
 </section>
 <!-- End Cta Section -->
