.devops {
  padding-top: 5px !important;
}

.title {
  padding-top: 20px;
  font-weight: 800;
  font-size: 22px;
}

.testimonial-heading{
    padding-top: 20px;
    font-weight: 800;
    font-size: 22px;
    color: black;
}

.title a {
  color: white;
  transition: 0.3s;
}

.left-line {
    border-right: 1px solid #e5e5e7;
  }

/* .title a:hover {
  color: #16df7e;
} */


.description {
  color: white;
  line-height: 24px;
  font-size: 16px;
  font-family: "SFPro";
}

.social-links a {
    color: white;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }

  .icon-box {
    height: 500px;
    color: white;
    background: #bdc0c5;
    border: 1px solid rgb(155, 152, 152);
    transition: 0.3s;
  }

  .box-2-1{
    height: 245px;
    color: white;
    background: #bdc0c5;
    border: 1px solid rgb(155, 152, 152);
    transition: 0.3s; 
  }

  .box-2{
    margin-top: 10px;
    height: 245px;
    color: white;
    background: #bdc0c5;
    border: 1px solid rgb(155, 152, 152);
    transition: 0.3s; 
  }

  /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.doctors {
    background: #fff;
  }
  
  .doctors .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    border-radius: 10px;
  }
  
  .doctors .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .doctors .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .doctors .member:hover img {
    transform: scale(1.1);
  }
  
  .doctors .member .member-info {
    padding-left: 30px;
  }
  
  .doctors .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
  }
  
  .doctors .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .doctors .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
  }
  
  .doctors .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .doctors .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .doctors .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a0bcd5;
  }
  
  .doctors .member .social a i {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .doctors .member .social a:hover {
    background: #1977cc;
  }
  
  .doctors .member .social a + a {
    margin-left: 8px;
  }

  /* section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h4 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #009970;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
   */
  
  
