 <!-- ======= Cta Section ======= -->
 <div class="overflow-hidden">
   <div class="row" id="devop1">
     <div class="col-lg-6 col-md-8 col-xs-12">
       <h1 class="padding-left pt-5 padding-right">
         Teamwork, Collaboration, Continuous Feedback & Efficiency
       </h1>
       <h1 class="padding-left pb-5 padding-right">- All At The Speed Of Digital!</h1>
       <h2 class="padding-left pb-2 padding-right">
         <b>200</b> times more frequent deployments <b>2,555</b> times shorter lead times <b>24</b> times faster
         recovery *
       </h2>
       <p class="body-2 pb-5 padding-left padding-right">
         * 2016 State of DevOps 2016 Report
       </p>
     </div>
   </div>
   <div class="page-heading padding-right padding-left margin-top-3">
     <h3 class="pb-1">DevOps And Cloud</h3>
     <h4>
       Architect your bussiness for real-time adaptability,teamwork and automation accross a range of industries
     </h4>
   </div>
   <div class="links-tab padding-left third border-bottom-1" id="links-tab">
     <div class="social-links">
       <a (click)="scroll('#DevOps')" class="align-middle">
         <h5>
           DevOps</h5>
       </a>
       <a (click)="scroll('#CloudMigration')" class="left-line align-middle">
         <h5>
           Cloud Migration</h5>
       </a>
       <a (click)="scroll('#AIOpsDevOps')" class="left-line align-middle right-line">
         <h5>
           AI Ops DevOps</h5>
       </a>
       <a class="dropdown">
         <a (click)="scroll('#ManagedCloudServices')" class="dropdown  align-middle">
           <h5>Managed cloud services<i class="bi bi-chevron-down"></i></h5>
         </a>
         <div class="drop-menue">
           <a href="#" style="padding-left: 10px !important;">
             <h5>Kuberneties</h5>
           </a>
           <a href="#">
             <h5>AWS</h5>
           </a>
           <a href="#">
             <h5>GCP</h5>
           </a>
           <a href="#">
             <h5>IBM cloud</h5>
           </a>
         </div>

       </a>
     </div>
   </div>
   <div class="row gradient">
     <div class="col-lg-6 col-md-9 col-sm-10 col-xs-11 p-0 offset-lg-6 offset-md-3 offset-sm-2">
       <div id="devop2">
         <div class="row">
           <div class="col-6" id="cutom-col1">
             <div class="text-center mahroon-box">
               DEV
             </div>
             <div class="text-center white-box">
               Application Performance
             </div>
             <b class="button-white-box">
               <p>Decrease latency time by APM tools</p>
             </b>
             <div class="text-center white-box">
               End User Analytics
             </div>
             <b class="button-white-box">
               <p>Monitor end user latency & check <br>
                 device performance</p>
             </b>
             <div class="text-center white-box">
               Quality Code
             </div>
             <b class="button-white-box">
               <p>Ensure deployments don’t degrade <br> performance </p>
             </b>
             <div class="text-center white-box">
               Code-Level Errors
             </div>
             <b class="button-white-box">
               <p>Lower MTTR by finding error root caused</p>
             </b>
           </div>
           <div class="col-6" id="pl-6">
             <div class="text-center mahroon-box">
               OPS
             </div>
             <div class="text-center white-box">
               Application Availability
             </div>
             <b class="button-white-box">
               <p>Application Performance</p>
             </b>
             <div class="text-center white-box">
               End User Analytics
             </div>
             <b class="button-white-box">
               <p> Solve problems by correlating <br>
                 infrastructure & application metrics</p>
             </b>
             <div class="text-center white-box">
               End User Complaints
             </div>
             <b class="button-white-box">
               <p> Solve problems by correlating <br>
                 infrastructure & application metrics</p>
             </b>
             <div class="text-center white-box">
               Performance Analytics
             </div>
             <b class="button-white-box">
               <p>Use automatically generated baselines <br>
                 to focus troubleshooting</p>
             </b>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div id="DevOps" class="devop-content-banner header header-height">
     <div class="body-1 padding-right padding-right padding-left">
       DevOps
     </div>
   </div>
   <div class="row box-background">
     <div class="col-lg-6 col-md-12">
       <h2 class=" padding-right padding-top padding-left">Entire organizations need to be agile for a business to
         realize their true value <sub>-McKinsey Digital</sub></h2>
       <p class="body-2 padding-right padding-bottom padding-top padding-left">DevOps focuses on rapid IT service
         delivery
         through the
         adoption of agile and lean practices in the context of a system-oriented approach. By uniting software
         development and tech operations and automating their processes from end to end, companies can clear a
         seamless path from idea to production. </p>
     </div>
     <div class="col-lg-6 col-md-12">
       <img src="assets/img/devop3.svg" class="float-end col-padding-right img-right" alt="" />
     </div>
   </div>
   <div class="row">
     <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box-0">
       <div class="box-header color text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right" style="padding-bottom: 76px !important;">
         DevOps
       </h2>
       <p class="body-text  col-padding-right col-padding-left" style="padding-bottom: 27px !important;">
         An amalgamation of two words, ‘development’ and ‘operations’ it aims at combining software development and
         software operations.
       </p>
       <p class="body-text  col-padding-right col-padding-left">
         It breaks the barrier between development and operation teams. The collaborative work
         between them leads to the benefit of combined skill.
       </p>
     </div>
     <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
       <div class="box-header color-1 text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right">
         Business Value of DevOps
       </h2>
       <p class="body-text  col-padding-right col-padding-left" style="padding-bottom: 27px !important;">
         DevOps primarily applies to businesses that build or assemble their own software, versus just using pre-built
         software.
       </p>
       <p class="body-text  col-padding-right col-padding-left">
         DevOps offers the greatest value to businesses where speed of delivery provides a significant competitive
         advantage.
       </p>
     </div>
     <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-body box-0">
       <div class="box-header color text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right">
         Empowering teams to innovate
       </h2>

       <p class="body-text col-padding-right col-padding-left">
         With Faster delivery of features, more stable operating environments, Improved communication and
         collaboration it gives
         More time to innovate (rather than fix/maintain)
       </p>
     </div>
     <div id="InfrastructureServices" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
       <div class="box-header color-1 text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right">
         Why partner with Perception IT?
       </h2>

       <p class="body-text col-padding-right col-padding-left">
         To improve the pipeline, we make it’s health and metrics visible to stakeholders through application
         performance management tools
       </p>
     </div>
   </div>
   <div class="margin-top-white">

   </div>
   <div id="CloudMigration" class="header header-height">
     <div class="body-1 padding-left padding-right">
       Cloud Migration
     </div>
   </div>
   <div class="row box-background">
     <div class="col-lg-6 col-md-12">
       <p class="body-2 padding-right padding-header-top padding-header-bottom padding-left">
         https://www.site24x7.com/blog/the-role-of-aiops-in-the-devops-story
         <br>
         By perfectly blending automation, performance management, and service management, AIOps enables continuous
         testing, accelerated development cycles, and refined services.
         in check, and resolve incidents in the production stage.
         <br>
         Monitoring <br>
         Alarm aggregation <br>
         Historical analysis<br>
         AI algorithms <br>
         Runbook Automation <br>
         Service Desk Integration<br>
       </p>
     </div>
     <div class="col-lg-6 col-md-12">
       <img src="assets/img/devop5.svg" class="float-end col-padding-right img-right" alt="" />
     </div>
   </div>
   <div id="AIOpsDevOps" class="header header-height">
     <div class="body-1 padding-left padding-right">
       AI Ops DevOps
     </div>
   </div>
   <div class="row box-background">
     <div class="col-lg-6 col-md-12">
       <p class="body-2 padding-left padding-right padding-header-top padding-header-bottom">
         https://www.site24x7.com/blog/the-role-of-aiops-in-the-devops-story
         <br>
         By perfectly blending automation, performance management, and service management, AIOps enables continuous
         testing, accelerated development cycles, and refined services.
         in check, and resolve incidents in the production stage.
         <br>
         Monitoring <br>
         Alarm aggregation <br>
         Historical analysis<br>
         AI algorithms <br>
         Runbook Automation <br>
         Service Desk Integration<br>
       </p>
     </div>
     <div class="col-lg-6 col-md-12">
       <img src="assets/img/devop5.svg" class="float-end col-padding-right img-right" alt="" />
     </div>
   </div>
   <div class="margin-top-white">

   </div>
   <div id="ManagedCloudServices" class="header box-background header-height">
     <div class="body-1 padding-left padding-right padding-left">
       Managed Cloud Services
     </div>
   </div>
   <div class="row">
     <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box-0">
       <div class="box-header color text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right">
         Kuberneties
       </h2>
       <p class="body-text  col-padding-right col-padding-left">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud.
       </p>
     </div>
     <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
       <div class="box-header color-1 text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right">
         AWS
       </h2>
       <p class="body-text  col-padding-right col-padding-left">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud.
       </p>
     </div>
     <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-body box-0">
       <div class="box-header color text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right">
         GCP
       </h2>
       <p class="body-text  col-padding-right col-padding-left">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud.
       </p>
     </div>
     <div id="InfrastructureServices" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
       <div class="box-header color-1 text-center">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
       </div>
       <h2 class="heading col-padding-left col-padding-right">
         IBM Cloud
       </h2>
       <p class="body-text  col-padding-right col-padding-left">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Ut enim ad minim veniam, quis nostrud.
       </p>
     </div>
   </div>
   <div style="background-color: #406CA0;" class="header-height">
   </div>
   <app-question-section></app-question-section>
 </div>
 <!-- <div class="row question-div margin-top-3">
   <div class="col-lg-3 col-md-3 col-sm-12">
     <div class="padding-left subtitle-1  padding-top padding-bottom  padding-right">
       Does Your Business Need a
       DevOps Culture?
     </div>
   </div>
   <div class="col-lg-9 col-md-9 col-sm-12">
     <p class="body-2 padding-left padding-right padding-bottom padding-top">
       In general, any business that is using software or apps for innovation and growth, regardless of industry,
       should consider developing a DevOps environment.</p>
   </div>
 </div>
 <div class="row question-div margin-top-3">
   <div class="col-lg-3 col-md-3 col-sm-12">
     <div class="padding-left subtitle-1  padding-top padding-bottom  padding-right">
       DevOps - How does
       the end consumer benefit,
       keeping you ahead of the c
       ompetition?
     </div>
   </div>
   <div class="col-lg-9 col-md-9 col-sm-12">
     <p class="body-2 padding-left padding-right padding-bottom padding-top">
       Your consumers expect new and enhanced software solutions without having to wait. Your business must keep up
       to meet their ever-increasing demands. However, a lack of proper communication and collaboration between
       teams often leads to inefficiency, causing hindrances in the workflow.
       DevOps aims to encourage process automation and collaboration between the business, development, and
       operations teams for improved teamwork, seamless management, streamlined processes, and enhanced
       productivity. Departments that previously operated as separate entities now make use of technology to
       collaborate and reduce the system development life cycle immensely. Perception IT assists you in identifying
       your core problem areas and implementing the perfect DevOps strategy for your needs which uses Continuous
       Integration, Delivery, and Deployment as core practices to achieve your goals.</p>
   </div>
 </div>
 <div class="row question-div margin-top-3">
   <div class="col-lg-3 col-md-3 col-sm-12">
     <div class="padding-left subtitle-1  padding-top padding-bottom  padding-right">
       Industries that can benefit
       from Managed services
     </div>
   </div>
   <div class="col-lg-9 col-md-9 col-sm-12">
     <p class="body-2 padding-left padding-right padding-bottom padding-top">
       Any business that is using software or apps for innovation and growth, regardless of industry,
       should consider developing a DevOps environment. DevOps has however been identified to enhance performance in
       the following industries: Financial services | Healthcare / Banking / Insurance / Hospitality / Inventory
       management/ Manufacturing.</p>
   </div>
 </div>
 <div class="row question-div margin-top-3">
   <div class="col-lg-3 col-md-3 col-sm-12">
     <div class="padding-left subtitle-1  padding-top padding-bottom  padding-right">
       Why use perception IT DevOP solutions
     </div>
   </div>
   <div class="col-lg-9 col-md-9 col-sm-12">
     <p class="body-2 padding-left padding-right padding-bottom padding-top">
       <span class="text-danger">PENDING</span> Talk about our methodology / the value points of going
       with Perception IT in specific/ experience
       Perception IT assists you in identifying your core problem areas and implementing the perfect DevOps strategy
       for your needs which uses Continuous Integration, Delivery, and Deployment as core practices to achieve your
       goals.</p>
   </div>
 </div> -->



 <!-- <div class="row">
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div style="height: 250px;border-right: 1px solid #707070;">
       <h5 class="blog-padding text-center">Testimonial</h5>
       <div
         style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 50%;">
       </div>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div style="height: 250px;border-right: 1px solid #707070;">
       <div class="member d-flex align-items-start">
         <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
         <div class="member-info">
           <span id="customer" class="text-danger">Customer for over 4 year</span>
           <h4>Walter White</h4>
           <span>Chief Medical Officer</span>
           <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
           <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
         </div>
       </div>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div style="height: 250px;border-right: 1px solid #707070;">
       <div class="member d-flex align-items-start">
         <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
         <div class="member-info">
           <span id="customer" class="text-danger">Customer for over 4 year</span>
           <h4>Amanda Jepson</h4>
           <span>Neurosurgeon</span>
           <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
           <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
         </div>
       </div>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div style="height: 250px; ">
       <div class="member d-flex align-items-start">
         <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
         <div class="member-info">
           <span id="customer" class="text-danger">Customer for over 4 year</span>
           <h4>Sarah Jhonson</h4>
           <span>Anesthesiologist</span>
           <span id="customer" class="text-danger">https://www.onlineocr.net/</span>
           <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
         </div>
       </div>
     </div>
   </div>
 </div> -->
 <!-- <div class="row">
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div
       style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070;background-color: #ECEDF0;">
       <h5 class="blog-padding text-center">Blog Stories</h5>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div
       style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070;background-color: #ECEDF0;">
       <h5 class="blog-padding text-center">Blog Stories</h5>
       <div
         style="background-image: url(../../../../assets/img/arrow.svg);height: 20px;background-repeat: no-repeat;width: 30px; margin-left: 50%;">
       </div>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div
       style="height: 250px;border-right: 1px solid #707070;border-top: 1px solid #707070;background-color: #ECEDF0;">
       <h5 class="blog-padding text-center">Blog Stories</h5>
     </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12 p-0">
     <div style="height: 250px;border-top: 1px solid #707070;background-color: #ECEDF0;">

     </div>
   </div>
 </div> -->
 <!-- End Cta Section -->
