<div class="row" style="margin: 0.1rem">
  <div class="col-lg-3 col-md-6 col-sm-8 box-0">
    <div class="container mt-5">
      <p class="font">
        Future proof your business, using best-of-breed technology and back up.
        <br /><br />
        • Develop the predictive capabilities needed to outperform in these
        fast-changing times. <br />
        • Get to the precise root cause and eliminate alert storms <br />
        • Minimize risk and get out of “break-fix” mode. Bringing a MS onboard
        is the smart choice to ensure an “always-on” approach to business.
      </p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-8 p-0">
    <div class="box">
      <div class="container header pt-2" >
        <h5 class="font mt-3"  >AI Ops</h5>
      </div>
      <div class="container mt-3">
        <p class="font">
          Stop guessing. Start knowing Instantly. Overcome data chaos and get
          continuous insight into your IT operations through: <br />
          <br />
          Monitoring <br />
          Alarm aggregation <br />
          Historical analysis <br />
          AI algorithms <br />
          Runbook Automation <br />
          Service Desk Integration
        </p>
      </div>
    </div>
    <div class="box-1">
      <div class="container header pt-2">
        <h5 class="font mt-3">DevOps and Cloud Migration</h5>
      </div>
      <div class="container mt-3">
        <p class="font">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-8 p-0">
    <div class="box">
      <div class="container header pt-2">
        <h5 class="font mt-3">IT Service Management</h5>
      </div>
      <div class="container mt-3">
        <p class="font">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
    <div class="box-1">
      <div class="container header pt-2">
        <h5 class="font mt-3">Infrastructure Services</h5>
      </div>
      <div class="container mt-3">
        <p class="font p-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-8 p-0">
    <div class="box">
      <div class=" container header pt-2">
        <h5 class="font mt-3">Commodity Services</h5>
      </div>
      <div class="container mt-3">
        <p class="font ">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
    <div class="box-1">
      <div class="container header pt-2">
        <h5 class="font mt-3 ">Software Applications</h5>
      </div>
      <div class="container mt-3">
        <p class="font">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
  </div>
  <div style="border: 12px solid #084527; margin-bottom: 2px"></div>
</div>
