<div class="row margin-top-3">
  <div class="col-lg-3 col-md-6 col-sm-12 box padding-top padding-bottom">
    <p class="body-1  padding-left padding-right pb-3 body-4">
      Future proof your business, using best-of-breed technology and back up.
    </p>
    <p class="body-2  padding-left padding-right">
      • Develop the predictive capabilities needed to outperform in these
      fast-changing times. • Get to the precise root cause and eliminate alert
      storms <br />
      • Minimize risk and get out of “break-fix” mode. Bringing a MS onboard is
      the smart choice to ensure an “always-on” approach to business.
    </p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        AI Ops
      </div>
    </div>

    <p
      class="body-1 padding-left padding-right padding-header-top col-padding-left"
    >
      Pending
    </p>
    <p
      class="body-2 body-3 padding-left col-padding-right padding-right pt-3 padding-header-botton col-padding-left"
    >
      Monitoring <br />
      Alarm aggregation <br />
      Historical analysis <br />
      AI algorithms <br />
      Runbook Automation <br />
      Service Desk Integration
    </p>

    <div class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        Infrastructure Services
      </div>
    </div>
    <p
      class="body-1 padding-left padding-right padding-header-top col-padding-left"
    >
      Pending
    </p>
    <p
      class="body-2 body-3 padding-left col-padding-right padding-right pt-3 padding-header-botton col-padding-left"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi nam
      quo consequuntur amet, maiores, quod harum repudiandae ab perferendis
      libero ipsa voluptate, temporibus dolor neque praesentium provident!
      Inventore, in!
    </p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-1">
    <div class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        Dev Ops and Cloud Migration
      </div>
    </div>

    <p
      class="body-1 padding-left padding-right padding-header-top col-padding-left"
    >
      Pending
    </p>
    <p
      class="body-2 body-3 padding-left col-padding-right padding-right pt-3 padding-header-botton col-padding-left"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsam
      esse, ea natus optio magnam amet voluptatibus quas ipsa, veniam vero
      placeat ab fuga temporibus ad odit, dolorum delectus? Laudantium.
    </p>

    <div class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        Commodity Services
      </div>
    </div>
    <p
      class="body-1 padding-left padding-right padding-header-top col-padding-left"
    >
      Pending
    </p>
    <p
      class="body-2 body-3 padding-left col-padding-right padding-right pt-3 padding-header-botton col-padding-left"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi nam
      quo consequuntur amet, maiores, quod harum repudiandae ab perferendis
      libero ipsa voluptate, temporibus dolor neque praesentium provident!
      Inventore, in!
    </p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        IT Service Management
      </div>
    </div>

    <p
      class="body-1 padding-left padding-right padding-header-top col-padding-left"
    >
      Pending
    </p>
    <p
      class="body-2 body-3 padding-left col-padding-right padding-right pt-3 padding-header-botton col-padding-left"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quasi
      non porro repellat ipsa, id ea ducimus voluptas a reiciendis blanditiis
      iste nobis deserunt, ipsum vitae, eos dolorum voluptatibus dignissimos!
    </p>

    <div class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        Software Applications
      </div>
    </div>
    <p
      class="body-1 padding-left padding-right padding-header-top col-padding-left"
    >
      Pending
    </p>
    <p
      class="body-2 padding-left col-padding-right padding-right pt-3 padding-header-botton col-padding-left"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi nam
      quo consequuntur amet, maiores, quod harum repudiandae ab perferendis
      libero ipsa voluptate, temporibus dolor neque praesentium provident!
      Inventore, in!
    </p>
  </div>
  <!-- <div class="col-lg-3 col-md-6 col-sm-8 p-0">
    <div class="box">
      <div class="container header pt-2">
        <h5 class="font mt-3">IT Service Management</h5>
      </div>
      <div class="container mt-3">
        <p class="font">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
    <div class="box-1">
      <div class="container header pt-2">
        <h5 class="font mt-3">Infrastructure Services</h5>
      </div>
      <div class="container mt-3">
        <p class="font p-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-8 p-0">
    <div class="box">
      <div class=" container header pt-2">
        <h5 class="font mt-3">Commodity Services</h5>
      </div>
      <div class="container mt-3">
        <p class="font ">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
    <div class="box-1">
      <div class="container header pt-2">
        <h5 class="font mt-3 ">Software Applications</h5>
      </div>
      <div class="container mt-3">
        <p class="font">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
          nam quo consequuntur amet, maiores, quod harum repudiandae ab
          perferendis libero ipsa voluptate, temporibus dolor neque praesentium
          provident! Inventore, in!
        </p>
      </div>
    </div>
  </div>-->
  <div class="divider p-0 header-height"></div>
</div>
