.header {
  background-color: #0B205D;
  height: 130px;
  padding-top: 30px;
}

.heading{
  padding-top: 57px;
  padding-bottom: 45px;
  /* font-size: 30px; */
  font-family: "SFPro-thin";
}

.body-text{
  /* font-size: 18px; */
  font-family: "SFPro-regular";
  padding-bottom: 75px !important;
  line-height: 35px;
}

.header-1 {
  background-color: #1B316F;
  height: 130px;
  padding-top: 30px;
}

h5 {
  margin: 0 !important;
}

p{
  margin: 0px;
}

.box-1 {
  border: 0.1px 0.1px 0px 0.1px  solid #BCB8B8;
  background-color: #3c3e45;
  color: white;
}

.box {
  background-color: #3c3e45;
  color: white;
}

.box-0 {
  border-left: 0.1px solid #7a7979;
  border-right: 0.1px solid #7a7979;
  background-color: #3c3e45;
  color: white;
}


.divider {
  background-color: #084527;
}

@media only screen and (max-width: 900px) and (min-width: 780px) {
 .body-3{
   height: 200px;
 }
}
@media only screen and (max-width: 779px) {
  .body-3{
    height: auto;
  }
  .body-4{
    margin-top: -40px;
  }
 }


