
<div class="row" style="margin-top: 3px">
  <div id="AIOPs" [style.background]="parentDate=='#AIOPs' ? '#74716C' : null"   class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color" >
      <img src="../../../../../assets/img/boll.svg" class="img-fluid" alt="" />
    </div>
    <h2  
      class="col-padding-left col-padding-right "
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      AIOps
    </h2>
    <p class="body-text col-padding-right col-padding-left" style="line-height: 35px; color: #dddcdc;">
      Increase the efficiency of your service operations by using AIOps to make sense of the massive volumes of operational data available within your enterprise.
    </p>
  </div>
  <div id="DCM" [style.background]="parentDate=='#DCM'  ? '#74716C' : null"  class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/call.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="heading col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      DevOps and Cloud
    </h2>

    <p
      class="body-text col-padding-right col-padding-left"
      style="line-height: 35px; color: #dddcdc;"
    >
      Reduce deployment effort and improve release schedules through automation of processes in continuous pipelines.
    </p>
    <div
      [routerLink]="['/devops']"
      class="pointer col-padding-left col-padding-right pull-right pb-3"
    >
      <span class="body-text m-1"  style=" color: #dddcdc;">Read More</span>
      <img
        src="../../../../../assets/img/left-arrow.svg"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
  <div id="ISM" [style.background]="parentDate=='#ISM' ? '#74716C' : null"  class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="heading col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
    IT Service Management & Infrastructure Monitoring
    </h2>

    <p
      class="body-text col-padding-right col-padding-left"
      style="line-height: 35px; color: #dddcdc;"
    >
      Get better visibility of your enterprise through the deployment of appropriate monitoring technology.
      Act on the information through ITSM processes defined within your service desk.
    </p>
  </div>
  <div id="InfrastructureServices" [style.background]="parentDate=='#InfrastructureServices' ? '#74716C' : null"  class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="heading col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Infrastructure Services
    </h2>

    <p
      class="body-text col-padding-right col-padding-left"
      style="line-height: 35px; color: #dddcdc;"
    >
      We provide hardware and infrastructure service level agreements, so you can be assured of the continual availability of your core services.
    </p>
    <div
      [routerLink]="['/infrastructure']"
      class="pointer col-padding-left col-padding-right pull-right pb-3"
    >
      <span class="body-text m-1" style=" color: #dddcdc;">Read More</span>
      <img
        src="../../../../../assets/img/left-arrow.svg"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</div>
<div
  class="row"
  style="background-color: #3c3e45; border-top: 0.5px solid #7a7979"
>
  <div id="SoftwareApplication" [style.background]="parentDate=='#SoftwareApplication' ? '#74716C' : null"  class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/boll.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="heading col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Software Applications
    </h2>
    <p
      class="body-text col-padding-right col-padding-left"
      style="line-height: 35px; color: #dddcdc;"
    >
      The Service Catalog and Enterprise App Store allow users to select
      available services and deploy approved software to their devices without
      help from IT staff.
    </p>
  </div>
</div>
