.featured-services {
  padding: 0;
  background-color: #f9f9fa;
  padding-bottom: 20px;
}

.featured-services .icon-box {
  padding: 20px;
  color: #5f687b;
  background: white;
  border-radius: 4px;
  border: 1px solid white;
  transition: 0.3s;
}

.featured-services .icon {
  margin: 0 0 15px 0;
}

.featured-services .icon i {
  color: #16df7e;
  font-size: 36px;
}

.featured-services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
}

 a {
  color: #5f687b;
  transition: 0.3s;
}
a:hover{
  color: rgb(16, 16, 97)
}

.featured-services .icon-box:hover {
  border-color: #eaecef;
}

/* .featured-services .icon-box:hover .title a {
  color: #16df7e;
} */

.featured-services .description {
  line-height: 24px;
  font-size: 14px;
  font-family: "SFPro";
}

.testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

@media (max-width: 1103px) {
  #box-3-1 {
    height: 230px !important;
  }

  #button-text-2 {
    margin-top: 115px !important;
  }

  #box-1 {
    height: 455px !important;
  }

  #box-2 {
    height: 455px !important;
  }
}

@media (max-width: 1053px) {
  #box-3-1 {
    height: 280px !important;
  }

  #button-text-1 {
    margin-top: 40px;
  }

  .first-card-image {
    height: 270px !important;
  }

  #bottom-text-3-1 {
    margin-top: 10px;
  }

  #box-1 {
    height: 505px !important;
  }

  #box-2 {
    height: 505px !important;
  }
}

#box-1 {
  height: 455px;
}

#box-2 {
  height: 455px;
}

#box-3-1 {
  height: 230px;
  margin-bottom: 10px;
}

#box-3-2 {
  height: 215px;
}

#row-margin {
  margin-top: 20px !important;
}

#button-text-2 {
  margin-top: 145px;
}

@media (min-width: 991px) {
  #col-1 {
    padding-right: 0px !important;
  }
}

@media (max-width: 991px) {
  #box-3-1 {
    height: 185px !important;
  }

  #box-1 {
    height: auto !important;
  }

  #box-3-2 {
    height: 160px !important;
  }

  #box-2 {
    height: 355px !important;
  }
}

@media (max-width: 765px) {
  #box-3-1 {
    height: auto !important;
  }

  #box-1 {
    height: auto !important;
  }

  #box-3-2 {
    height: 170px !important;
  }

  #box-2 {
    height: auto !important;
  }
}

@media (min-width: 765px) {
  #col-2 {
    padding-right: 0px !important;
  }
}



.testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -14px 0 0 0px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.testimonials-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 85px;
  color: #111;
}

.testimonials-subname {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 85px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #e4e6ea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: white;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #16df7e;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #16df7e;
}

/* my classes */

.first-card-image {
  max-height: 250px;
}

#bottom-text-3-2 {
  float: right;
  margin-top: 30px;
}
