.main {
  margin-right: 15px;
  background-color: #1D2957;
  color: white;
  border: #1D2957;

}





@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}

@media (max-width: 835px) {
  #links-tab {
    height: auto !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
  }
}

.first-padding-right {
  padding-right: 80px;
}






.third-h5 {
  color: black;
}

.left-line {
  border-left: 1px solid black;
}

.active-linked {
  background-color: #5d6063;
  color: white !important;
}

@media (max-width: 775px) {



  .active-link {
    display: block;
    margin: 20px auto;

  }

}

@media screen and (max-width: 775px) {

  .col-3 {
    width: 100%;
  }
  .col-9{
    width: 100%;
 }
   #more-button{
    flex-wrap: wrap;}
    #more-button,#more-text{
      margin-right: 50px;
    }
   #more-text i{
    padding-right: 35px;
    }
    .col-lg-11, a{
  margin-bottom: 10px;
    } 
}

