.main {
  margin-right: 15px;
  background-color: #1D2957;
  color: white;
  border: #1D2957;

}





@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}

@media (max-width: 835px) {
  #links-tab {
    height: auto !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
  }
}

.first-padding-right {
  padding-right: 80px;
}






.third-h5 {
  color: black;
}

.left-line {
  border-left: 1px solid black;
}

.active-linked {
  background-color: #F5F5F5;
  color: #5d6063 !important;
}

@media (max-width: 775px) {



  .active-link {
    display: block;
    margin: 20px auto;

  }
}
