<div class="row" id="main">
  <!-- <div class="margin-top-white"></div> -->
  <div class="col-md-8 col-xs-12 first-div">
    <h1 class="first-h1 padding-left first-padding-right">
      Technology… opening doors for businesses
    </h1>
    <h2 class="first-h2 padding-left first-padding-right">
      “Once a new technology rolls over you, if you’re not part of the
      steamroller, you’re part of the road.” - Stewart Brand <br />
      <small class="fonts"> founder of the Global Business Network</small>
    </h2>
  </div>
  <div class="col-md-4 col-xs-12 p-0">
    <img src="../../../../../assets/img/tech3.PNG" id="first-img" alt="" />
  </div>
</div>

<div class="row">
  <div class="col-lg-12 page-heading padding-right padding-left margin-top-3">
    <h3 class="pb-1">Technology</h3>
    <!-- <h4>
      Our MS team is always working in the background to predict a possible
      disruption and take proactive actions to remediate it.
    </h4> -->
  </div>
  <div class="links-tab padding-left third border-bottom-1" id="links-tab">
    <div class="social-links">
      <a  (click)="scroll('#Programming-Technologies')" class="align-middle" id="abc">
        <h5 class="third-h5">Programming Technologies</h5>
      </a>
      <a  (click)="scroll('#Advanced-Technologies')" class="left-line align-middle" id="abc">
        <h5 class="third-h5" style="padding-left: 16px">
          Advanced Technologies
        </h5>
      </a>
      <a  (click)="scroll('#Platforms')" class="left-line align-middle" id="abc">
        <h5 class="third-h5" style="padding-left: 16px">Platforms</h5>
      </a>

      <!-- <a href="#" class="left-line align-middle" id="abc">
      <h5 class="third-h5">Cost benefit</h5>
    </a>
    <a href="#" class="align-middle" id="abc">
      <h5 class="third-h5">Business benefit</h5>
    </a> -->
    </div>

    <!-- <h5 class="third-h5">
        Supported Hardware | Services | After Sales Service | Hardware
        Consultancy | Warranty Support | Testimonials
      </h5> -->
  </div>
</div>
