<div class="row" id="main">
  
  <div class="col-lg-12 " *ngIf="!width">
    
      <img src="../../../../assets/banners/TECHNOLOGY- Main page 2200 × 750 – 6.svg" alt="" class="" style=" width: 100vw;">
  </div>
  <div class="col-lg-12 mobileView" *ngIf="width">
    <img src="../../../../assets/banners/1-Managed service phone- 960 ×700 – 9.svg" alt="" class=" mobileView">
    
  </div>
  


</div>

<div class="row">

  <div class="links-tab padding-left third border-bottom-1" id="links-tab" style="right: 0;" (scroll)="onWindowScroll($event)" *ngIf="!width">
    <div class="social-links">

      <a class="dropdown1" ngbDropdown>
        <a class="align-middle linksTopPadding">
          <h5 ngbDropdownToggle (click)="scroll('#ManagedCloudServices')">
            Solutions
          </h5>
        </a>
        <div class="" ngbDropdownMenu>
          <a ngbDropdownItem (click)="scroll('#AIOPs')" style="padding-left: 10px !important" ngbDropdownItem>
            <h5 style="color: black">AIOps</h5>
          </a>
          <a ngbDropdownItem (click)="scroll('#IT')">
            <h5 style="color: black">Internet of Things</h5>
          </a>
          <a ngbDropdownItem (click)="scroll('#DevOps')">
            <h5 style="color: black">DevOps</h5>
          </a>

          <a ngbDropdownItem (click)="scroll('#Observability')">
            <h5 style="color: black">Observability</h5>
          </a>
        </div>
      </a>
      <a (click)="scroll('#tech-text')" class="left-line align-middle" id="abc">
        <h5 class="third-h5">Technology </h5>
      </a>
      <a (click)="scroll('#PP')" class="left-line align-middle">
       
        
        <h5 class="third-h5">Perception IT As Your Partner</h5>
      </a>

    </div>

  </div>
  
</div>

<div class="row " *ngIf="width">
  <div class=" page-heading padding-left  padding-right" id="links-tab" >
    <h3 class="pb-2">Technology</h3>
    <h4 class="pb-3" >Topics</h4>
    <select class=" form-select" aria-label="Default select example"  (change)="activeRoute($event)">
     
      <option value="#AIOPs"  >AIOps</option>
      <option value="#IT" >Internet of Things</option>
      <option value="#DevOps" > DevOps</option>
      <option value="#Observability">Observability</option>
      <option value="#tech-text">Technology</option>
      <option value="#PP">Perception IT As Your Partner</option>
    </select>
  </div>

  
</div>