.first-div {
  background-color: #141F3B;
}

.first-h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  color: white;
}

#first-img {
  height: 317px;
  width: 100%;
}

@media (max-width: 1490px) {
  #links-tab {
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;


  }


}

/* @media (max-width: 950px) {
  #first-img {
    height: 417px !important;
  }

} */

@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 70px;
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #4C5E62;
}

.third-h5 {
  color: white;
}





.fonts {
  font-style: italic;
  font-size: small;
  font-weight: bold;
}

.first-div {
  background-color: #141F3B;
}

.first-h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  color: white;
}

#first-img {
  height: 317px;
  width: 100%;
}

@media (max-width: 1490px) {
  #links-tab {
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;


  }


}


@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}


.first-padding-right {
  padding-right: 80px;
}

.first-h2 {
  margin-bottom: 70px;
  color: white;
}

.second-h4 {
  color: white;
}

.third {
  background-color: #1D2957;
  /* right: 0; */
}

.third-h5 {
  color: white;
}




.fonts {
  font-style: italic;
  font-size: small;
  font-weight: bold;
}




@media (max-width:775px) {
  .left-line {
    border-left: none;

    display: block;
    padding: 0;
  }
#links-tab{
  left: 0;
}
}

/* */
@media (max-width:1210px) {
  #first-img {
    height: 100%;

  }
}

.page-heading {
  background-color: #F1F1F1;
  color: #5d6063;
}
