<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="mb-0" style="font-family: SFPro-thin;color: #E58707 ;">CUSTOMER</p>
    <p>
        Jazz is Pakistan’s leading telecom operator, it has one of the biggest infrastructure with over 13,000 sites and 25,000 Km of fiber optic network along with largest customer base in Pakistan. It is providing 2G/3G/4G mobile services along with Fix network services in Pakistan
      
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Transformation</p>
    <p>Alarm monitoring via Netcool Omnibus and Ticket logging for auto alarms as well as manual workflows via Service desk.
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Business challenge</p>
    <p>
        Monitoring of the largest telco network from Network Operations Centre in Pakistan was a challenge for Jazz
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <h4 class="mt-3 mb-3" style="color: #E58707;font-family: SFPro-thin; ;">Results</h4>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f8f8f8;
      height: 120px;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      After these automated solution less Man force was required and outage reporting time was considerably decreased.
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      30% decrease in processing times enables more responsive customer service
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
    
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Frees employees to focus on innovation by simplifying IT management
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      height: 120px;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Business challenge story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Defining a vision - DUM MY TEXT >>>>>>>>>SUB HEADING</p>-->
    <p style="line-height: 35px;">
      Multiple Network monitoring solutions from different vendors like Huawei, Zte, Nokia and Ericsson had to be monitored separately. Alarm corelation had to be done manually. This required a lot of manpower and took more time to report and identify the outage. Moreover no ticket logging mechanism was present.
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Transformation story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Supercharging business performance - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Telco alarm monitoring, corelating and ticket creation.
Alarms are received from multiple network monitoring systems that include (Huawei, Ericsson, ZTE, Nokia, etc.) on Netcool Omnibus, these are categorized according to severity and correlated according to the policies implemented in Impact and then they are sent to Maximo for ticketing according to relevant criteria. These tickets are then processed in automated alerts via email, sms and call via third party solution.

    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Results story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Living up to green principles - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Real time alarm reporting.
     Manual intervention of Noc engineers considerably decreased.

    </p>
  </div>
</div>




