<div class="row">
  <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="box-header text-center" style="background: #ADA81A;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right" style="padding-bottom: 18px !important;">
      Engaging with the Business
    </h2>
    <ul class="body-text  col-padding-right col-padding-left">
      <li>Frequent Communication with stake holders.</li>
      <li>Technical point of contact</li>
      <li>Reporting</li>
      <li>Peer to product owner, project manager, other discipline needs </li>
    </ul>
  </div>
  <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="box-header text-center" style="background: #72991C;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Engaging with the Team
    </h2>
    <ul class="body-text  col-padding-right col-padding-left">
      <li>Provide technical direction and quality</li>
      <li>Ensure technical quality</li>
      <li>Define and set standards</li>
      <li>Delegation and Chorus</li>
      <li>Ensure Safety</li>
      <li>Delegation and Chorus</li>
      <li>Lead and build people and teams</li>
      <li>Ensure appropriate engineering practices (such as CD or automated testing)</li>
    </ul>
  </div>
  <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="box-header text-center" style="background: #436070;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Architecture
    </h2>
    <ul class="body-text  col-padding-right col-padding-left">
      <li>Vision and Metaphor </li>
      <li>Structure Emerging Design</li>
      <li>Governance</li>
      <li>Identify Tech Dept</li>
      <li>Coding</li>
      <li>Identify CFRs</li>
      <li>Remove Moral Hazards</li>
      <li>Overlook continual improvements to tooling or technical debt</li>
      <li>Ensure the system evolves to meet its changing needs and environment.</li>
    </ul>
  </div>
  <div id="InfrastructureServices" class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="box-header text-center" style="background: #774085;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Delivery and Risk
    </h2>
    <ul class="body-text  col-padding-right col-padding-left">
      <li>Risk Mitigation</li>
      <li>Prioritisation</li>
      <li>Risk Analysis</li>
      <li>Reputation Management</li>
      <li>Managing Tech Debt and CFRs</li>
    </ul>
  </div>
</div>
