<div class="row" data-aos="zoom-in-up" data-aos-delay="500">
  <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0 hovered">
    <div class=" text-center" style="background: #E58707">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
    </div>
    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="500">
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px;font-family: SFPro-thin"
    >
      Engaging with the Business
    </h2>
    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">
          Frequent Communication with stake holders.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Technical point of contact</p>
      </li>
      <li class="fonts-li"><p style="font-size: medium">Reporting</p></li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Peer to product owner, project manager, other discipline needs
        </p>
      </li>
    </ul>
    </div>
  </div>
  <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 p-0 box hovered">
    <div class=" text-center" style="background: #72991C">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
    </div>
    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="500">
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px;font-family: SFPro-thin"
    >
      Engaging with the Team
    </h2>
    <ul class="body-text col-padding-right col-padding-left" style="color: #dddcdc">
      <li class="fonts-li">
        <p style="font-size: medium">Provide technical direction and quality</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Ensure technical quality</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Define and set standards</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Delegation and Chorus</p>
      </li>
      <li class="fonts-li"><p style="font-size: medium">Ensure Safety</p></li>
      <li class="fonts-li">
        <p style="font-size: medium">Delegation and Chorus</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Lead and build people and teams</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Ensure appropriate engineering practices (such as CD or automated
          testing)
        </p>
      </li>
    </ul>
    </div>
  </div>
  <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0 hovered">
    <div class=" text-center " style="background: #436070">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
    </div>
    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="500">
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px;font-family: SFPro-thin"
    >
      Architecture
    </h2>
    <ul class="body-text col-padding-right col-padding-left" style="color: #dddcdc">
      <li class="fonts-li">
        <p style="font-size: medium">Vision and Metaphor</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Structure Emerging Design</p>
      </li>
      <li class="fonts-li"><p style="font-size: medium">Governance</p></li>
      <li class="fonts-li">
        <p style="font-size: medium">Identify Tech Dept</p>
      </li>
      <li class="fonts-li"><p style="font-size: medium">Coding</p></li>
      <li class="fonts-li"><p style="font-size: medium">Identify CFRs</p></li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Overlook continual improvements to tooling or technical debt
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Ensure the system evolves to meet its changing needs and environment.
        </p>
      </li>
    </ul>
    </div>
  </div>
  <div id="InfrastructureServices" class="col-lg-3 col-md-6 col-sm-12 p-0 box hovered">
    <div class=" text-center" style="background: #774085">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
    </div>
    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="500">
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px;font-family: SFPro-thin"
    >
      Delivery and Risk
    </h2>
    <ul class="body-text col-padding-right col-padding-left" style="color: #dddcdc">
      <li class="fonts-li"><p style="font-size: medium">Risk Mitigation</p></li>
      <li class="fonts-li"><p style="font-size: medium">Prioritization</p></li>
      <li class="fonts-li"><p style="font-size: medium">Risk Analysis</p></li>
      <li class="fonts-li">
        <p style="font-size: medium">Reputation Management</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Managing Tech Debt and CFRs</p>
      </li>
    </ul>
    </div>
  </div>
</div>
