<div class="row">
  <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header text-center" style="background: #ADA81A;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right" style="padding-bottom: 18px !important;">
      Engaging with the Business
    </h2>
    <p class="body-text  col-padding-right col-padding-left">
      
•     Frequent Communication with    stake holders. <br>
•	Technical point of contact <br>
•	 Reporting<br>
•	 Peer to product owner, project manager,  other discipline needs
    </p>
  </div>
  <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="header text-center" style="background: #72991C;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Engaging with the Team
    </h2>

    <p class="body-text col-padding-right col-padding-left">
      

•     Provide technical direction and quality <br>
•     Ensure technical quality <br>
•	 Define and set standards<br>
•	 Delegation and Chorus<br>
•	 Ensure Safety<br>
•	 Lead and build people and teams<br>
•	 On Boarding<br>
•	 Ensure appropriate engineering practices  (such as CD or automated testing)
    </p>
  </div>
  <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header text-center" style="background: #436070;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Architecture
    </h2>

    <p class="body-text col-padding-right col-padding-left">
      •     Vision and Metaphor <br>
•	 Structure Emerging Design<br>
•	 Governance<br>
•	 Identify Tech Dept<br>
•	 Coding<br>
•	 Identify CFRs<br>
•	 Remove Moral Hazards<br>
•	 Overlook continual improvements to tooling  or technical debt<br>
 •	 Ensure the system evolves to meet its  changing needs and environment. 

    </p>
  </div>
  <div id="InfrastructureServices" class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="header text-center" style="background: #774085;">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="">
    </div>
    <h2 class="heading col-padding-left col-padding-right">
      Delivery and Risk
    </h2>

    <p class="body-text col-padding-right col-padding-left">
      •     Risk Mitigation
      •	 Prioritisation
      •	 Risk Analysis
      •	 Reputation Management
      •	 Managing Tech Debt and CFRs
    </p>
  </div>
</div>
