<div class="row">
  <div
    class="col-lg-12 page-heading padding-right padding-left margin-top-5"
    id="InExpertise"
  >
    <h3 class="pt-3" style="font-family: IBMPlexSerif-ExtraLight">
      Matching you to your exact technological needs, Perception IT helps
      companies reach their full potential; keeping the future of business in
      mind.
    </h3>
  </div>
</div>
<div class="row">
  <div id="Applications" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2   id="Programming-Technologies"
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    
    >
      Programming Technologies
    </h2>

    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">Java</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">.NET</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Python</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">PHP</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Golang</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">C++</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Node.js</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">JavaScript</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">React Native</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Angular</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Flutter</p>
      </li>
    </ul>
  </div>
  <div id="Cloud" class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2  id="Advanced-Technologies"
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
     
    >
      Advanced Technologies
    </h2>

    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">Internet of Things</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Big Data</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Data Science</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Artificial Intelligence</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Blockchain</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Virtual Reality</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Computer Vision</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Security</p>
      </li>
    </ul>
  </div>
  <div id="ES" class="col-lg-3 col-md-6 col-sm-12 p-0 box-1">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      id="Platforms"
    >
      Platforms
    </h2>

    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">Microsoft Dynamics 365</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Microsoft Power BI</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Microsoft Azure</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Amazon Web Services</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Middleware</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">ServiceNow</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Jira</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">IBM</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">CA</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">HPE</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Google</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">IOS</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Android</p>
      </li>
    </ul>
  </div>
  <div id="DS" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>

    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Can’t find what you need?
    </h2>
    <div style="text-align: center">
      <button
        class="btn btn-primary"
        style="
          background-color: #131e3a;
          border: #131e3a;
          border-radius: 25px;
          padding-left: 5rem;
          padding-right: 5rem;
        "
      >
        Ask Us
      </button>
    </div>
  </div>
</div>
