.main {
  margin-right: 15px;
  background-color: #e7eaee;
  color: #5d6063;
  border: #e7eaee;
}
a{
  color: black;
}
/*  for mobile responsive */
@media screen and (max-width: 600px) {
  .col-3 {
    width: 100%;
  }
  .col-9{
    width: 100%;
  
  }
}