
 <section id="cliens" class="cliens section-bg">
  <div class="container">
    <div class="section-title " >
      <!-- <span>Our Partner</span> -->
      <h2 style="margin-bottom: 0;">Our Partners</h2>

    </div>

    <div class="row" data-aos="zoom-in" >

      <div class="col-lg col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/over partners logo's/1280px-Lenovo_logo_2015.svg.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/over partners logo's/3697051-middle.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/over partners logo's/cisco-logo-transparent.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/over partners logo's/dell-logo-vector-download-11574216103ng3d4rrcip.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/over partners logo's/Fortinet_Logo.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/over partners logo's/Hewlett_Packard_Enterprise-Logo.wine.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="../../../../assets/over partners logo's/Sophos-Logo.png" class="img-fluid" alt="">
      </div>

    </div>

  </div>
</section>
