<div class="overflow-hidden">


  <!-- <div id="DevOps" class="devop-content-banner">
    
    <div
      class="sub-header page-heading padding-left padding-right margin-top-3"
    >
      <h3 class="pb-1">DevOps</h3>
    </div>
  </div>
  <div class="row box-background">
    <div class="col-lg-6 col-md-12">
      <h2 class="padding-right padding-left body-3" style="color: #464646">
        Entire organizations need to be agile for a business to realize their
        true value <sub>-McKinsey Digital</sub>
      </h2>
      <p
        class="padding-right padding-left"
        style="line-height: 35px; color: #464646"
      >
        DevOps focuses on rapid IT service delivery through the adoption of
        agile and lean practices in the context of a system-oriented approach.
        By uniting software development and tech operations and automating their
        processes from end to end, companies can clear a seamless path from idea
        to production.
      </p>
    </div>
    <div class="col-lg-6 col-md-12">
      <img
        src="../../../../../assets/Dia/DevOpsupdate.svg"
        class="float-end col-padding-right img-right"
        alt=""
        style="padding-bottom: 25px; padding-top: 45px; width: 90%"
      />
    </div>
  </div> -->
  <div class="row">
    <div id="AIOPs" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box-0">
      <div class="header-1 text-center color">
        <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">DevOps</h2>
      <p
        class="col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc"
      >
        An amalgamation of two words, ‘development’ and ‘operations’ it aims at
        combining software development and software operations.
      </p>
      <p
        class="col-padding-right col-padding-left"
        style="padding-bottom: 45px; line-height: 35px; color: #dddcdc"
      >
        It breaks the barrier between development and operation teams. The
        collaborative work between them leads to the benefit of combined skill.
      </p>
    </div>
    <div id="DCM" class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box">
      <div class="header-1 text-center color-1">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">
        Business Value of DevOps
      </h2>
      <p
        class="col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc"
      >
        DevOps primarily applies to businesses that build or assemble their own
        software, versus just using pre-built software.
      </p>
      <p
        class="col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc; padding-bottom: 45px"
      >
        DevOps offers the greatest value to businesses where speed of delivery
        provides a significant competitive advantage.
      </p>
    </div>
    <div id="ISM" class="col-lg-3 col-md-6 col-sm-12 p-0 box-body box-0">
      <div class="header-1 text-center color">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">
        Empowering teams to innovate
      </h2>

      <p
        class="col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc; padding-bottom: 45px"
      >
        With Faster delivery of features, more stable operating environments,
        Improved communication and collaboration it gives More time to innovate
        (rather than fix/maintain)
      </p>
    </div>
    <div
      id="InfrastructureServices"
      class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box"
    >
      <div class="header-1 text-center color-1">
         <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">
        Business Benefit
      </h2>

      <p
        class="col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc; padding-bottom: 45px"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eligendi aut ipsum autem iusto ratione sit mollitia, quaerat ducimus deleniti velit dolore cumque. Adipisci assumenda excepturi magni ipsum. Incidunt, culpa?
      </p>
    </div>
  </div>
  <!-- <div class="margin-top-white"></div> -->
  <div id="CloudMigration">
    <!-- <div class="body-1 padding-left padding-right">Cloud Migration</div> -->
    <div
      class="sub-header page-heading padding-left padding-right margin-top-3"
    >
      <h3 class="pb-1">Cloud Migration</h3>
    </div>
  </div>
  <div class="row box-background">
    <div class="col-lg-6 col-md-12">
      <div
        class="padding-right padding-left"
        style="
          line-height: 35px;
          padding-top: 45px;
          padding-bottom: 25px;
          color: #464646;
        "
      >
        We can help you take advantages of the benefits of running on cloud. We
        offer a comprehensive set of packages for deploying new, or migrating
        existing monolith and on-premise software to cloud-native technologies.
        We can then help you run and deploy new releases.
       <!-- <br />
        Monitoring <br />
        Alarm aggregation <br />
        Historical analysis<br />
        AI algorithms <br />
        Runbook Automation <br />
        Service Desk Integration<br />-->
        
        <ul style="color: #464646" style="padding-left: 0px;"
      >
        <li class="fonts-li">
         Monitoring.
        </li>
        <li class="fonts-li">
         Alarm aggregation.
        </li>
        <li class="fonts-li">
        Historical analysis.
        </li>
        <li class="fonts-li">
        AI algorithms.
        </li>
        <li class="fonts-li">
        Runbook Automation.
        </li>
        <li class="fonts-li">
        Service Desk Integration.
        </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <img
        src="../../../../../assets/Dia/Migration process.svg"
        class="float-end col-padding-right img-right removeHeight"
        alt=""
        style="padding-top: 45px; padding-bottom: 30px; color: #dddcdc"
      />
    </div>
  </div>
  <div id="AIOpsDevOps">
    <!-- <div class="body-4 padding-left padding-right">AI Ops & DevOps</div> -->
    <div
      class="sub-header page-heading padding-left padding-right margin-top-3"
    >
      <h3 class="pb-1">AI Ops</h3>
    </div>
  </div>
  <div class="row box-background">
    <div class="col-lg-6 col-md-12">
      <p
        class="padding-left padding-right"
        style="
          line-height: 35px;
          padding-top: 45px;
          padding-bottom: 25px;
          color: #464646;
        "
      >
      Take your IT operations into the future by capitalizing on the latest trends in AIOps.  We can help you automate root cause analysis and response, saving you time and money and increasing the reliability of your service

      </p>
    </div>
    <div class="col-lg-6 col-md-12">
      <img
        src="../../../../../assets/Dia/Final AIOps.svg"
        class="float-end col-padding-right img-right removeHeight"
        alt=""
        style="width: 100%; padding-top: 45px; padding-bottom: 30px"
      />
    </div>
  </div>
  <!-- <div class="margin-top-white"></div> -->
  <div class="box-background">
    <!-- <div
          class="padding-left padding-right padding-left"
          style="font-family: SFPro-Bold; font-size: 16px"
        >
          Managed Cloud Services
        </div> -->
    <div
      id="ManagedCloudServices"
      class="sub-header page-heading padding-left padding-right margin-top-3"
    >
      <h3 class="pb-1">Managed Cloud Services</h3>
    </div>
  </div>
  <div class="row">
    <div
      id="AIOPs"
      class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box-0"
      id="kuberneties"
      [style.background]="parentDate == '#kuberneties' ? '#7A7A7A' : null"
    >
      <div class="header-1 text-center color">
        <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">Kubernetes</h2>
      <p
        class="body-text col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc"
      >
      Kubernetes, also known as K8s, is an open-source system for automating
        deployment, scaling, and management of containerized applications.
      </p>
    </div>
    <div
      id="DCM"
      class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box"
      id="AWS"
      [style.background]="parentDate == '#AWS' ? '#7A7A7A' : null"
    >
      <div class="header-1 text-center color-1">
        <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">AWS</h2>
      <p
        class="body-text col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc"
      >
        AWS (Amazon Web Services) is a comprehensive, evolving cloud computing
        platform provided by Amazon that includes a mixture of infrastructure as
        a service (IaaS), platform as a service (PaaS) and packaged software as
        a service (SaaS) offerings.
      </p>
    </div>
    <div
      id="ISM"
      class="col-lg-3 col-md-6 col-sm-12 p-0 box-body box-0"
      id="GCP"
      [style.background]="parentDate == '#GCP' ? '#7A7A7A' : null"
    >
      <div class="header-1 text-center color">
        <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">GCP</h2>
      <p
        class="body-text col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc"
      >
        Google Cloud Platform (GCP), offered by Google, is a suite of cloud
        computing services that runs on the same infrastructure that Google uses
        internally for its end-user products, such as Google Search, Gmail, file
        storage, and YouTube
      </p>
    </div>
    <div
      id="InfrastructureServices"
      class="col-lg-3 col-md-6 col-sm-12 box-body p-0 box"
      id="IBM"
      [style.background]="parentDate == '#IBM' ? '#7A7A7A' : null"
    >
      <div class="header-1 text-center color-1">
        <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" height="20" width="20"/>
      </div>
      <h2 class="heading col-padding-left col-padding-right">IBM Cloud</h2>
      <p
        class="body-text col-padding-right col-padding-left"
        style="line-height: 35px; color: #dddcdc"
      >
        IBM Cloud is a suite of cloud computing services from IBM that offers
        both platform as a service (PaaS) and infrastructure as a service
        (IaaS). With IBM Cloud IaaS, organizations can deploy and access
        virtualized IT resources such as compute power, storage, and
        networking over the internet.
      </p>
    </div>
  </div>
  <div style="background-color: white" class="header-height"></div>
  <app-question-section></app-question-section>
</div>
