#main {
    background-color: #f9f9fa;
    color: #6a7489;
  }
  
  .third {
    background-color: #1f96b1;
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box {
    text-align: center;
    border: 1px solid #fff;
    /*padding:80px 20px ;*/
  padding: 30px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }
  .services .icon-box:hover{
    box-shadow: 0 4px 4px 0 #929191, 0 4px 4px 0 #929191;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box .icon i {
    /* color: #16df7e; */
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #5f687b;
    transition: ease-in-out 0.3s;
    text-align: center;
  }
  
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    text-align: left;
  }
  
  .services .icon-box:hover {
    border-color: #eaecef;
  }
  
  .services .icon-box:hover h4 a {
    color: rgb(16, 16, 97)
  }
  
  .section-bg {
    background-color: #f1f1f1;
  }
  
  .sticky {
    position: fixed;
    top: 198px;
    background-color: #f1f1f1;
    width: 100%;
    height: 30px;
    z-index: 99;
    padding-top: 0px !important;
    padding-bottom: 41px !important;
  }
   
  @media only screen and (max-width:990px) {
    #add-height{
      padding-top: 22px;
    }
    
  }