<div class="header-height"></div>
<div class="row">
  <div class="col-lg-2 col-padding-left col-padding-right padding-header-top">
    <img
      src="../../../../../assets/img/jira.PNG"
      alt=""
      style="margin-bottom: 25px; margin-top: 25px"
    />
    <hr />
    <p
      class="body-fonts-1"
      style="margin-top: 33px; margin-bottom: 25px; line-height: 2rem"
    >
      The #1 software development tool used by agile teams.
    </p>
  </div>
  <div class="col-lg-10 col-padding-left col-padding-right padding-header-top">
    <div class="row">
      <div class="col first-div body-fonts-2">
        <p class="p-4 mt-2 mb-2 text-start">
          Jira Software is built for every member of your software team to plan,
          track, and release great software.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg first-color box">
        <img
          class="rounded mx-auto d-block box-1-img"
          src="../../../../../assets/img/plan.svg"
          alt=""
        />
        <h2 class="text-start box-1-h2 body-fonts-1">Plan</h2>
        <p class="text-start box-1-p body-fonts-3">
          Create user stories and issues, plan sprints, and distribute tasks
          across your software team.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg second-color box">
        <img
          class="rounded mx-auto d-block box-2-img"
          src="../../../../../assets/img/track.svg"
          alt=""
        />
        <h2 class="text-start box-2-h2 body-fonts-1">Track</h2>
        <p class="text-start box-2-p body-fonts-3" >
          Prioritize and discuss your team’s work in full context with complete
          visibility.
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg foth-color box">
        <img
          class="rounded mx-auto d-block box-3-img"
          src="../../../../../assets/img/release.svg"
          alt=""
        />
        <h2 class="text-start box-3-h2 body-fonts-1">Release</h2>
        <p class="text-start box-3-p body-fonts-3" >
          Ship with confidence and sanity knowing the information you have is
          always up-to-date.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg five-color box">
        <img
          class="rounded mx-auto d-block box-4-img"
          src="../../../../../assets/img/report.svg"
          alt=""
        />
        <h2 class="text-start box-3-h2 body-fonts-1">Report</h2>
        <p class="text-start box-3-p body-fonts-3">
          Improve team performance based on real-time, visual data that your
          team can put to use.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg third-color box-1">
        <img
          class="rounded mx-auto d-block box-5-img"
          src="../../../../../assets/img/plus.svg"
          alt=""
        />
        <p class="text-start box-5-h2 ">Extend Jira Software with apps</p>
        <p class="text-start box-5-p body-fonts-3" >
          Tempo Timesheets, Zephyr, and over 3,000 other apps ensure Jira
          Software can be custom tailored to fit any and every use case.
        </p>
      </div>
    </div>

    <div class="row second-div">
      <div class="col-lg-2 col-md-6 col-sm-12 p-4">Key Features</div>
      <div class="col-lg-10 col-md-6 col-sm-12 p-4">
        Manage IT operational assets + Create software App Store + Analyze
        change impacts + Use self-service service catalog + Manage software
        assets + Manage changes + Manage issues + Employ flexible pricing and
        deployment
      </div>
    </div>
    <div class="row" style="background-color: black">
      <div class="col p-2" style="color: white; text-align: end">Enquire</div>
    </div>
  </div>
</div>
