.first-div {
  background-color: #F0F0F0;
  /* height: 50px; */
}

.first-color {
  background-color: #203E6A;
  border-top: 0.1px solid white;
  border-left: 0.1px solid white;
  border-right: 0.1px solid white;

}

.second-color {
  background-color: #325B96;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}

.third-color {
  background-color: #E4E4E4;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;


}

.foth-color {
  background-color: #4379C6;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;
}

.five-color {
  background-color: #5291EA;
  border-top: 0.1px solid white;
  /* border-left: 0.1px solid white; */
  border-right: 0.1px solid white;

}

.box {
  color: white;
  /* width: 215px; */
  height: 480px;
  /* border: 2px solid white; */

}

.box-1 {
  /* width: 195px; */
  color: black;
  height: 480px;
  /* border: 2px solid white; */
}
.box-1-img{
  margin-bottom: 60px; margin-top: 60px
}
.box-1-h2{
  margin-bottom: 60px; padding-left: 10px; padding-right: 10px;
}
.box-1-p{
  margin-bottom: 60px;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}
.box-2-img{
  margin-bottom: 60px; margin-top: 60px
}
.box-2-h2{
  margin-bottom: 60px; padding-left: 10px; padding-right: 10px
}
.box-2-p{
  margin-bottom: 60px;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}
.box-3-img{
  margin-bottom: 60px; margin-top: 60px
}
.box-3-h2{
  margin-bottom: 60px; padding-left: 10px; padding-right: 10px
}
.box-3-p{
  margin-bottom: 60px;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}
.box-4-img{
  margin-bottom: 60px; margin-top: 60px
}
.box-4-h2{
  margin-bottom: 60px; padding-left: 10px; padding-right: 10px
}
.box-4-p{
  margin-bottom: 60px;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}
.box-5-img{
  margin-bottom: 60px; margin-top: 60px
}
.box-5-h2{
  margin-bottom: 60px; padding-left: 10px; padding-right: 10px
}
.box-5-p{
  margin-bottom: 60px;
  margin-top: -1rem;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}
.second-div {
  background-color: #F0F0F0;


}
.body-fonts-1{
  font-family: SFPro-thin;
  /* font-size: 2px; */
}
.body-fonts-2{
  font-family: SFPro-SemiBold;
  /* font-size: 2px; */
}
