<!--<div class="row box-background">
  <div class="col-lg-12 col-md-12">
    <h2 class="padding-right padding-left body-3" style="color: #464646">
      We provide expert advice on how you can improve visibility and efficiency
      of what is important to your business.
    </h2>
    <p class="padding-right padding-left" style="line-height: 35px; color: #464646; padding-bottom: 25px">
      We work with our clients to devise the most efficient ways of
      achieving specific business goals. We can identify areas you can make
      operational efficiencies that provide the most value across organization.
    </p>
  </div>

</div>-->
<div id="AIOPs">

  <div class="sub-header page-heading padding-left padding-right ">
    <h3 class="pb-1">AIOps</h3>
  </div>
</div>
<div class="row box-background">
  <div class="col-lg-6 col-md-12">
   <!-- <p class="padding-right padding-left" style="
        line-height: 35px;
        padding-top: 45px;
        padding-bottom: 25px;
        color: #464646;
      ">
      Stop guessing, Start knowing Instantly.
      Overcome data chaos and get continuous insight into your IT operations through:
      <br />
      Monitoring <br />
      Alarm aggregation <br />
      Historical analysis <br />
      AI algorithms <br />
      Runbook Automation <br />
      Service Topology Discovery<br />
      Service Desk Integration
    </p>-->
    <div class="padding-right padding-left" style="
    line-height: 35px;
    padding-top: 45px;
    padding-bottom: 25px;
    color: #464646;">
     Stop guessing, Start knowing Instantly.
     Overcome data chaos and get continuous insight into your IT operations through:
      <ul style="color: #464646" style="padding-left: 0px;"
      >
        <li class="fonts-li">
         Monitoring.
        </li>
        <li class="fonts-li">
         Alarm aggregation.
        </li>
        <li class="fonts-li">
        Historical analysis.
        </li>
        <li class="fonts-li">
        AI algorithms.
        </li>
        <li class="fonts-li">
        Runbook Automation.
        </li>
        <li class="fonts-li">
          Service Topology Discovery.
          </li>
        <li class="fonts-li">
        Service Desk Integration.
        </li>
        </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <img src="../../../../../assets/img/AIOps (1).svg" class="float-end col-padding-right img-right removeHeight img-size " alt=""
      style="padding-top: 45px; padding-bottom: 30px; color: #dddcdc; width: 65%;" />
  </div>
</div>
<div id="DCM">
  <!-- <div class="body-1 padding-left padding-right">Cloud Migration</div> -->
  <div class="sub-header page-heading padding-left padding-right margin-top-3">
    <h3 class="pb-1">DevOps and Cloud Migration</h3>
  </div>
</div>
<div class="row box-background">
  <div class="col-lg-6 col-md-12">
    <!--<p class="padding-right padding-left" style="
        line-height: 35px;
        padding-top: 45px;
        padding-bottom: 25px;
        color: #464646;">
      Achieve demonstrable cost savings by utilizing cloud technologies. Scale as and when you need the capacity,
      automate and improve your release cycles through pipelines
      <br />
      Kubernetes <br>
      Docker <br>
      CI Pipelines <br>
      Git <br>
      AWS, Azure, GCP and IBM Cloud <br>
      Migration of existing software
    </p>-->
   <div class="padding-right padding-left" style="
   line-height: 35px;
   padding-top: 45px;
   padding-bottom: 25px;
   color: #464646;">
     Achieve demonstrable cost savings by utilizing cloud technologies. Scale as and when you need the capacity,
     automate and improve your release cycles through pipelines
    <ul style="color: #464646" style="padding-left: 0px;"
    >
      <li class="fonts-li">
        Kubernetes.
      </li>
      <li class="fonts-li">
        Docker.
      </li>
      <li class="fonts-li">
        CI Pipelines.
      </li>
      <li class="fonts-li">
        Git.
      </li>
      <li class="fonts-li">
        AWS, Azure, GCP and IBM Cloud.
      </li>
      <li class="fonts-li">
        Migration of existing software.
        </li>
      </ul>
   </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <img src="../../../../../assets/Dia/DevOps2.svg"
      class="float-end col-padding-right img-right removeHeight" alt=""
      style="padding-top: 45px; padding-bottom: 30px; color: #dddcdc; width: 100%;" />
  </div>
</div>
<div id="ISM">
  <!-- <div class="body-1 padding-left padding-right">Cloud Migration</div> -->
  <div class="sub-header page-heading padding-left padding-right margin-top-3">
    <h3 class="pb-1">IT Service Management & Monitoring</h3>
  </div>
</div>
<div class="row box-background">
  <div class="col-lg-6 col-md-12">
    <!--<p class="padding-right padding-left" style="
        line-height: 35px;
        padding-top: 45px;
        padding-bottom: 25px;
        color: #464646;">
      Implement best-practice IT service management approaches to increase efficiency and improve processes:
      <br />
      Service Desk Implementation (IBM, ServiceNow, Jira) <br>
      ITSM process implementation <br>
      Monitoring Applications (IBM, CA, Open Source) <br>
      System Integrations
    </p>-->
   <div class="padding-right padding-left" style="
   line-height: 35px;
   padding-top: 45px;
   padding-bottom: 25px;
   color: #464646;">
    Implement best-practice IT service management approaches to increase efficiency and improve processes:
    <ul style="color: #464646" style="padding-left: 0px;"
    >
      <li class="fonts-li">
        Service Desk Implementation (IBM, ServiceNow, Jira).
      </li>
      <li class="fonts-li">
        ITSM process implementation.
      </li>
      <li class="fonts-li">
        Monitoring Applications (IBM, CA, Open Source).
      </li>
      <li class="fonts-li">
        System Integrations.
      </li>
      </ul>
   </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <img src="../../../../../assets/Dia/monitoring services.svg"
      class="float-end col-padding-right img-right removeHeight img-size" alt=""
      style="padding-top: 45px; padding-bottom: 30px; color: #dddcdc; width: 70%;" />
  </div>
</div>