<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 box">
    <p class="body-3 padding-left padding-right">
      We provide expert advice on how you can improve visibility and efficiency
      of what is important to your business.
    </p>
    <p class="body-4 padding-left padding-right">
      We work with our clients to devise the most efficient ways of
      achieving specific business goals. We can identify areas you can make
      operational efficiencies that provide the most value across organization.
    </p>
  </div>
  <div id="AIOPs" class="col-lg-9 col-md-6 col-sm-12 p-0 box-0">
    <div class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        AIOps
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="body-3 col-padding-left padding-left padding-right">
          Stop guessing, Start knowing Instantly.<br/>
          Overcome data chaos and get
          continuous insight into your IT operations through:
        </p>
        <p class="padding-left padding-right col-padding-left body-4">
          Monitoring <br />
          Alarm aggregation <br />
          Historical analysis <br />
          AI algorithms <br />
          Runbook Automation <br />
          Service Topology Discovery<br />
          Service Desk Integration
        </p>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div>
          <img
            src="../../../../../assets/img/AIOps (1).svg"
            alt=""
            class="padding-left padding-right body-1-img image-width"
            id="body-img" style="width: 100%;"
          />
        </div>
      </div>
    </div>

    <div id="DCM" class="header header-height">
      <div class="body-1 padding-left padding-right col-padding-left">
        DevOps and Cloud Migration
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p
          class="body-3 padding-left padding-right padding-header-top col-padding-left"
        >
          Achieve demonstrable cost savings by utilizing cloud technologies.  Scale as and when you need the capacity, automate and improve your
          release cycles through pipelines
        </p>
        <p class="body-4 padding-left col-padding-left">
          Kubernetes <br />
          Docker <br />
          CI Pipelines <br />
          Git <br />
          AWS, Azure, GCP and IBM Cloud<br />
          Migration of existing software
        </p>
      </div>
      <div class="col-lg-6">

        <img
        src="../../../../../assets/Dia/Dev-and-networking.png"
        alt=""
        class="body-1-img  padding-right image-width" style="width: 100%;"
        id="body-img"
      />
      </div>
    </div>
    <div></div>
    <div id="ISM" class="header ">
      <div class="body-1 padding-left padding-right col-padding-left">
        IT Service Management & Monitoring
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p
          class="body-3 padding-left padding-right padding-header-top col-padding-left"
        >
          Implement best-practice IT service management approaches to increase
          efficiency and improve processes:
        </p>
        <p class="padding-left padding-right col-padding-left body-4">
          Service Desk Implementation (IBM, ServiceNow, Jira)<br />
          ITSM process implementation <br />
          Monitoring Applications (IBM, CA, Open Source)<br />
          System Integrations<br />
        </p>
      </div>
      <div class="col-lg-6">
        <img src="../../../../../assets/img/it monitoring services.svg" alt="" class="body-1-img
         padding-right image-width"  id="body-img"  style="width: 100%;"/>
      </div>
    </div>
    <div></div>
  </div>
  <!-- <div class="divider p-0 header-height"></div> -->
</div>
