<div id="AIOPs">

  <div class="sub-header page-heading padding-left padding-right ">
    <h3 class="pb-1">AIOps</h3>
  </div>
</div>
<div class="row box-background">
  <div class="col-lg-6 col-md-12">

    <div class="padding-right padding-left" style="
    line-height: 35px;
    padding-top: 45px;
    padding-bottom: 25px;
    color: #464646;">
     Stop guessing, Start knowing Instantly.
     Overcome data chaos and get continuous insight into your IT operations through:
      <ul style="color: #464646" style="padding-left: 0px;" 
      >
        <li class="fonts-li space" >
         Monitoring.
        </li>
        <li class="fonts-li space">
         Alarm aggregation.
        </li>
        <li class="fonts-li space">
        Historical analysis.
        </li>
        <li class="fonts-li space">
        AI algorithms.
        </li>
        <li class="fonts-li space">
        Runbook Automation.
        </li>
        <li class="fonts-li space">
          Service Topology Discovery.
          </li>
        <li class="fonts-li space">
        Service Desk Integration.
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <img src="../../../../../assets/img/AIOps (1).svg"
      class="float-end col-padding-right img-right removeHeight img-size " alt=""
      style="padding-top: 45px; padding-bottom: 30px; color: #dddcdc; width: 65%;" />
  </div>
</div>
<div id="DCM">

  <div class="sub-header page-heading padding-left padding-right margin-top-3">
    <h3 class="pb-1">DevOps and Cloud Migration</h3>
  </div>
</div>
<div class="row box-background">
  <div class="col-lg-6 col-md-12">

    <div class="padding-right padding-left" style="
   line-height: 35px;
   padding-top: 45px;
   padding-bottom: 25px;
   color: #464646;">
     Achieve demonstrable cost savings by utilizing cloud technologies. Scale as and when you need the capacity,
     automate and improve your release cycles through pipelines
    <ul style="color: #464646" style="padding-left: 0px;"
    >
      <li class="fonts-li space">
        Kubernetes.
      </li>
      <li class="fonts-li space">
        Docker.
      </li>
      <li class="fonts-li space">
        CI Pipelines.
      </li>
      <li class="fonts-li space">
        Git.
      </li>
      <li class="fonts-li space">
        AWS, Azure, GCP and IBM Cloud.
      </li>
      <li class="fonts-li space">
        Migration of existing software.
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <img src="../../../../../assets/Dia/DevOps2.svg" class="float-end col-padding-right img-right removeHeight" alt=""
      style="padding-top: 45px; padding-bottom: 30px; color: #dddcdc; width: 100%;" />
  </div>
</div>
<div id="ISM">

  <div class="sub-header page-heading padding-left padding-right margin-top-3">
    <h3 class="pb-1">IT Service Management & Monitoring</h3>
  </div>
</div>
<div class="row box-background">
  <div class="col-lg-6 col-md-12">

    <div class="padding-right padding-left" style="
   line-height: 35px;
   padding-top: 45px;
   padding-bottom: 25px;
   color: #464646;">
    Implement best-practice IT service management approaches to increase efficiency and improve processes:
    <ul style="color: #464646" style="padding-left: 0px;"
    >
      <li class="fonts-li space">
        Service Desk Implementation (IBM, ServiceNow, Jira).
      </li>
      <li class="fonts-li space">
        ITSM process implementation.
      </li>
      <li class="fonts-li space">
        Monitoring Applications (IBM, CA, Open Source).
      </li>
      <li class="fonts-li space">
        System Integrations.
      </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <img src="../../../../../assets/Dia/monitoring services.svg"
      class="float-end col-padding-right img-right removeHeight img-size" alt=""
      style="padding-top: 45px; padding-bottom: 30px; color: #dddcdc; width: 70%;" />
  </div>
</div>