a{
  color: black;
}

@media screen and (max-width: 600px) {

  .col-3 {
    width: 100%;
  }
  .col-9{
    width: 100%;
 }
   #more-button{
    flex-wrap: wrap;}
    #more-button,#more-text{
      margin-right: 50px;
    }
   #more-text i{
    padding-right: 45px;
    }
}