
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="mb-0" style="font-family: SFPro-thin; ;">CUSTOMER</p>
    <p>
        BankIslami started its banking operations on 7 April 2006 with its first branch in SITE, Karachi By the end of 2006, the bank had 10 branches, nine in Karachi and one in Quetta. The bank further concentrated in building a nationwide network and by the end of 2007, its branch network grew to 36 branches in 23 cities. In 2008, the bank opened 66 new branches nationwide which expanded its network to 102 branches in 49 cities. By the end of 2013, the bank has achieved the target of 201 branches in 77 cities nationwide. Currently BankIslami is operating 213 branches in 80 cities of Pakistan. With the amalgamation of KASB, on 7 May 2015, all 104 branches of KASB have become part of BankIslami’s branch network. BankIslami is now the 11th largest banking network in the country with 317 branches in 93 cities nationwide.
      
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: red;font-family: SFPro-thin; ;">Transformation</p>
    <p>Perception IT optimize the database, and fine tune the application server and suggest the increase the system resources to digest the additional users load.
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: red;font-family: SFPro-thin; ;">Business challenge</p>
    <p>
        As end user increases, The help desk solution was started to underperform. Users were complaining about the slowness and instability of the system and consequently business was interrupted.
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <h4 class="mt-3 mb-3" style="color: red;font-family: SFPro-thin; ;">Results</h4>
  <div
    class="col-lg-4"
    style="
      border: 5px solid #f8f8f8;
      height: 120px;
      background-color: #f0f0f0;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      94% reduction in energy and 98% decrease in rackspace requirements boosts
      efficiency
    </p>
  </div>
  <div
    class="col-lg-4"
    style="
      border: 5px solid #f7f7f7;
      background-color: #e3e3e3;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      30% decrease in processing times enables more responsive customer service
    </p>
  </div>
  <div
    class="col-lg-4"
    style="
      border: 5px solid #f7f7f7;
      background-color: #f0f0f0;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Frees employees to focus on innovation by simplifying IT management
    </p>
  </div>
  <div
    class="col-lg-4"
    style="
      border: 5px solid #f7f7f7;
      background-color: #e3e3e3;
      height: 120px;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency
    </p>
  </div>
  <div
    class="col-lg-4"
    style="
      border: 5px solid #f7f7f7;
      background-color: #f0f0f0;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency
    </p>
  </div>
  <div
    class="col-lg-4"
    style="
      border: 5px solid #f7f7f7;
      background-color: #e3e3e3;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;">Business challenge story</h3>
    <p class="pt-4" style="color: red;">Defining a vision - DUM MY TEXT >>>>>>>>>SUB HEADING</p>
    <p style="line-height: 35px;">
      >>>>>>>>>>>> BODY TEXT With its Action Plan for Business Growth and
      Transformation (PACTE), the French government is encouraging companies to
      rethink the role that they play in society. In response,
      telecommunications group Orange S.A. unveiled its goal: it aims to be “a
      trusted partner that provides the keys to a responsible digital world”.
      It’s now up to the group’s constituent companies—including Orange
      Caraïbe—to put this philosophy into action. Operating out of the
      Guadeloupe archipelago in the Caribbean, Orange Caraïbe faces much higher
      costs for the energy to power its data center than companies in mainland
      France. As the company seeks to diversify its service portfolio, demand on
      its IT infrastructure was increasing. Xavier Pioche, IT Infrastructure
      Department Manager at Orange Caraïbe, explains: “We’re widening our scope
      beyond telecommunications to provide a broader range of digital services.
      To support our new business model, meet our environmental goals and reduce
      our costs, we wanted to replace our ageing storage system.” With its
      existing storage platform approaching end of life, Orange Caraïbe’s IT
      staff increasingly found themselves tied up with resolving issues such as
      failing mechanical disks. To prevent problems behind the scenes slowing
      down the company’s responses to customers, Orange Caraïbe decided to take
      urgent action.
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;">Transformation story</h3>
    <p class="pt-4" style="color: red;">Supercharging business performance - DUM MY TEXT</p>
    <p style="line-height: 35px;">
      Orange Caraïbe chose to transform its data center using IBM FlashSystem
      storage technology, gaining twice the capacity and improved performance in
      a small, high-density footprint. To arrive at this decision, the company
      undertook an extensive selection process. Pioche recalls: “We narrowed
      down our choices to IBM versus one other vendor, but ultimately IBM
      FlashSystem could not be beaten on the combination of price and
      performance. Another key selling point for IBM is the confidence that we
      have in their team here in Guadeloupe.” Together, Orange Caraïbe and IBM
      deployed an IBM FlashSystem storage system to support its most
      data-intensive applications. Next, the team implemented one all-flash IBM
      FlashSystem 7200 to act as its general storage platform and a hybrid IBM
      FlashSystem 7200 solution for lower-priority applications. In total, the
      company went from 250 TB to 662 TB of storage capacity in its production
      data center on Guadeloupe. It also added one IBM FlashSystem 7200 in its
      backup data center on Martinique, with all data from the production
      storage systems replicated to this fourth machine. “An IBM expert came
      on-site to help us set up the new FlashSystem devices, which all went very
      smoothly,” says Pioche. “We could tell immediately that the new
      infrastructure would be much easier to manage. The all-flash systems have
      no moving parts, and we gained a single point of control for the entire
      environment.
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;">Results story</h3>
    <p class="pt-4" style="color: red;">Living up to green principles - DUM MY TEXT</p>
    <p style="line-height: 35px;">
      For Orange Caraïbe, adapting its data center so that it is more
      eco-friendly helps it meet two goals: reducing its impact on the
      environment and decreasing expenditure on energy. Using IBM technology,
      Orange Caraïbe is succeeding on both counts. Pioche elaborates: “Our
      energy consumption dropped by 94 percent when we moved to IBM FlashSystem,
      which helps us make our operations much greener and reduces our power
      costs by the same percentage over five years. Moving to IBM FlashSystem
      also allowed us to go from three racks to one 2U space, a decrease of 98
      percent, giving us plenty of space to grow into in the future. Our
      calculations show that we’ll also save tens of thousands of euros on
      cooling our storage solution, since it’s so much more efficient and
      compact.” Orange Caraïbe is also seeing the impact of powerful IBM
      FlashSystem storage on the service it offers to customers. Pioche adds:
      “Employees using our data warehouse have seen processing times fall by 30
      percent since we deployed IBM FlashSystem technology. This translates into
      more responsive service to customers in our stores, who have to wait even
      less time for employees to navigate our CRM system.” Internally, Orange
      Caraïbe is experiencing benefits too. By taking advantage of intuitive
      management tools built into the IBM FlashSystem platform, the company has
      reduced the administrative burden on its IT team. With more free time to
      innovate and powerful IT capabilities to hand, Orange Caraïbe can
      concentrate on its continuous improvement strategy. Pioche concludes:
      “Since deploying IBM solutions, we’ve had no issues – a big advantage for
      our relatively small IT team. Their day-to-day admin is much lighter,
      freeing them up to focus on more high-value tasks. Now we can concentrate
      on what’s next for Orange Caraïbe, with a storage infrastructure that’s
      better and greener than anything we’ve had before.”
    </p>
  </div>
</div>



