<div class="row" id="links">
  
    <a style="padding-right: 35px; font-weight:bold">Filter by:</a>
    
     <div class="col-12">
      <a class="btn btn-primary main" routerLink="/product" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"> All </a>
      <a class="btn btn-primary main" routerLink="/product/industry-telecom" routerLinkActive="active" >
        Telecome
      </a>
      <a class="btn btn-primary main" routerLink="/product/industry-banking" routerLinkActive="active">
        Banking
      </a>
      <a class="btn btn-primary main"> Notifications </a>
      
   
     </div>

</div>

<hr />

<!-- <app-industry-list></app-industry-list> -->
