<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Elegant and creative solutions</h1>
        <h2>
          We are team of talented designers making websites with Bootstrap
        </h2>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section> -->
<!-- End Hero -->

<div class="row" id="main">
  <div class="col-4 text-center" id="text-color">
    <div >Perception IT wins the jazz xyz contract!</div>
  </div>
  <div class="col-4 text-center" id="text-color">
    <div class="mr-2">We are going live with PerceptData on the 3rd may 2021</div>
  </div>
  <div class="col-4 text-center" id="text-color">
    <div>link to a blog we have a new testimonial....</div>
  </div>
</div>

