
  <div class="overflow-hidden">
    <div class="row" id="devop1">
        <div class="col-lg-6 col-md-8 col-xs-12">
          <h1 class="padding-left pt-5 padding-right">
            Teamwork, Collaboration, Continuous Feedback & Efficiency
          </h1>
          <h1 class="padding-left pb-5 padding-right">
            - All At The Speed Of Digital!
          </h1>
          <h2 class="padding-left pb-2 padding-right">
            <b>200</b> times more frequent deployments <b>2,555</b> times shorter
            lead times <b>24</b> times faster recovery *
          </h2>
          <p class="body-2 pb-5 padding-left padding-right">
            * 2016 State of DevOps 2016 Report
          </p>
        </div>
      </div>
      <div class="page-heading padding-right padding-left margin-top-3">
        <h3 class="pb-1">DevOps And Cloud</h3>
        <h4>
          Architect your bussiness for real-time adaptability,teamwork and
          automation accross a range of industries
        </h4>
      </div>
    
      <div class="links-tab padding-left third border-bottom-1" id="links-tab">
        <div class="social-links">
          <a (click)="scroll('#DevOps')" class="align-middle">
            <h5>DevOps</h5>
          </a>
          <a
            (click)="scroll('#CloudMigration')"
            class="left-line align-middle linksTopPadding"
          >
            <h5>Cloud Migration</h5>
          </a>
          <a
            (click)="scroll('#AIOpsDevOps')"
            class="left-line align-middle right-line linksTopPadding"
          >
            <h5>AI Ops & DevOps</h5>
          </a>
    
          <a class="dropdown1" ngbDropdown>
            <a class="align-middle linksTopPadding">
              <h5 ngbDropdownToggle (click)="scroll('#ManagedCloudServices')" >
                Managed cloud services
              </h5>
            </a>
            <div class="" ngbDropdownMenu>
              <a
                ngbDropdownItem
                (click)="scroll('#kuberneties')"
               style="padding-left: 10px !important"
                ngbDropdownItem
                ><h5 style="color: black">  Kuberneties</h5></a
              >
              <a ngbDropdownItem (click)="scroll('#AWS')"
                ><h5 style="color: black">AWS</h5></a
              >
              <a ngbDropdownItem (click)="scroll('#GCP')"
                ><h5 style="color: black">GCP</h5></a
              >
              <a ngbDropdownItem (click)="scroll('#IBM')"
                ><h5 style="color: black">IBM cloud</h5></a
              >
            </div>
          </a>
        </div>
      </div>
  </div>
