<div class="overflow-hidden">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-xs-12" id="devop1">
      <h1 class="padding-left pt-5 padding-right pb-5">Built For Speed</h1>

      <h2 class="padding-left pb-5 padding-right">
        We architect your business for real-time adaptability, teamwork and
        automation
      </h2>
    </div>
    <!-- <div class="col-lg-4 " >
      <img src="../../../../../assets/Dia/devop2.jpg" id="first-img" alt="" />
      <div>
        <div class="row">
          <div class="col-6" id="cutom-col1">
            <div class="text-center mahroon-box">DEV</div>
            <div class="text-center white-box">Application Performance</div>

            <div class="text-center white-box mt-3">End User Analytics</div>
            <b class="button-white-box"> </b>
            <div class="text-center white-box mt-3">Quality Code</div>
            <b class="button-white-box"> </b>
            <div class="text-center white-box mt-3">Code-Level Errors</div>
          </div>
          <div class="col-6" id="pl-6">
            <div class="text-center mahroon-box">OPS</div>
            <div class="text-center white-box">Application Availability</div>

            <div class="text-center white-box mt-3">End User Analytics</div>

            <div class="text-center white-box mt-3">End User Complaints</div>

            <div class="text-center white-box mt-3">Performance Analytics</div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4 col-xs-12 p-0">
      <img src="../../../../../assets/Dia/DEVOPSnew1.svg" id="first-img" alt="" />
    </div>
  </div>
  <div class="page-heading padding-right padding-left margin-top-3">
    <h3 class="pb-1">DevOps And Cloud</h3>

    <h4>
      Supercharge your internal processes and stay ahead of the competition
    </h4>
  </div>

  <div class="links-tab padding-left third border-bottom-1" id="links-tab">
    <div class="social-links">
      <a (click)="scroll('#DevOps')" class="align-middle">
        <h5>DevOps</h5>
      </a>
      <a
        (click)="scroll('#CloudMigration')"
        class="left-line align-middle linksTopPadding"
      >
        <h5>Cloud Migration</h5>
      </a>
      <a
        (click)="scroll('#AIOpsDevOps')"
        class="left-line align-middle right-line linksTopPadding"
      >
        <h5>AI Ops</h5>
      </a>

      <a class="dropdown1" ngbDropdown>
        <a class="align-middle linksTopPadding">
          <h5 ngbDropdownToggle (click)="scroll('#ManagedCloudServices')">
            Managed Cloud Services
          </h5>
        </a>
        <div class="" ngbDropdownMenu>
          <a
            ngbDropdownItem
            (click)="scroll('#kuberneties')"
            style="padding-left: 10px !important"
            ngbDropdownItem
            ><h5 style="color: black">Kuberneties</h5></a
          >
          <a ngbDropdownItem (click)="scroll('#AWS')"
            ><h5 style="color: black">AWS</h5></a
          >
          <a ngbDropdownItem (click)="scroll('#GCP')"
            ><h5 style="color: black">GCP</h5></a
          >
          <a ngbDropdownItem (click)="scroll('#IBM')"
            ><h5 style="color: black">IBM cloud</h5></a
          >
        </div>
      </a>
      <a (click)="scroll('#PP')" class="left-line align-middle">
        <h5 class="third-h5">Why Partner With Perception IT</h5>
      </a>
    </div>
  </div>
</div>
