<div class="row">
  <div class="col-lg-12">
    <div
      class="page-heading padding-right padding-left margin-top-5"
      id="TECHNOLOGY"
    >
      <h3 class="pt-3">Technologies We Work With</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <!-- cloud -->
<div style="height: 360px;">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Cloud
    </h2>

    <div class="row col-padding-left padding-right">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/Microsoft_Azure-Logo.wine.svg"
          height="50"
          width="80"
          alt=""

        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Amazon_Web_Services-Logo.wine.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mb-5 mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Google_Cloud_Platform-Logo.wine.svg"
          class="img-fluid"
          alt=""
          height="50"
          width="80"
        />
      </div>
    </div>
  </div>
    <!-- second div -->
    <div >
      <div class="header-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        DevOps
      </h2>
      <div class="row col-padding-left padding-right">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/apache-spark-vector-logo.svg"
            alt=""
            height="50"
            width="80"
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/kafka-seeklogo.com.svg"
            alt=""
            height="50"
            width="80"
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/datalake.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/docker-vector-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/Kubernets.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/jenkins-seeklogo.com.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div
        class="row col-padding-left padding-right mt-3"
        style="padding-bottom: 45px"
      >
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/OpenShift-Logo.wine.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/Terraform.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- 3rd div -->
    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Ticketing systems
      </h2>
      <div class="row col-padding-left padding-right">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/jira-service-desk-logo@logotyp.us.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/Servicenow.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div
        class="row col-padding-left padding-right mt-3"
        style="padding-bottom: 45px"
      >
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/Hp services manager.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/Red_Hat-Logo.wine.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <!-- plateform -->
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div style="height: 360px;">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>

    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Platforms
    </h2>

    <div class="row col-padding-left padding-right">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mb-5 mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/jira-service-desk-logo@logotyp.us.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Servicenow.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
  </div>

    <!-- 4th div -->

    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Monitoring tools
    </h2>

    <div class="row col-padding-left padding-right">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Cacti.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/SolarWinds-Logo.wine.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/ManageEngine logo.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/logos/CA-01.svg" height="50" width="80" alt="" />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/zabbix.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/prtg-seeklogo.com-1.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/nagios.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/1200px-Grafana_logo.svg.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Elasticsearch-01.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 mb-5">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/datadoghq-ar21.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <!-- <div class="col-lg-5" id="rcorners2" style=" max-height: 100%; max-width: 100%; width: auto; height: auto">
        <img
          src="../../../../../assets/logos/nagios.svg"
          height="50"
        width="80"
          alt=""
        />
      </div> -->
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Databases / data storages
      </h2>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/NoSQl.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/MySQL-Logo.wine.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/ibm db2.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Apache_Cassandra-Logo.wine.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/MongoDB-Logo.wine.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/postgresql-horizontal.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/oracle-weblogic.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Redis-Logo.wine.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 mb-5">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/Maria DB.svg"
          height="50"
          width="80"
          alt=""
        />
      </div>

    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box">
   <div >
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div >
    <div >
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Remote collaboration
      </h2>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/remote/ms-teams.svg" height="50" width="80" alt="" />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img src="../../../../../assets/remote/skype.svg" height="50" width="80" alt="" />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 ">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/remote/team-viewer.svg" height="50" width="80" alt="" />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img src="../../../../../assets/remote/zoomus.svg" height="50" width="80" alt="" />
      </div>
    </div>

    <div class="row col-padding-left padding-right mt-3 ">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/remote/vpn.svg" height="50" width="80" alt="" />
      </div>
      <div
        class="col-lg-5"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img src="../../../../../assets/remote/rdp.svg" height="50" width="80" alt="" />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 mb-5">
      <div
        class="col-lg-5"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/remote/gotomeeting.svg" height="50" width="80" alt="" />
      </div>

    </div>
  </div>
  <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Big Data
      </h2>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/apache-spark-vector-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/Apache_Cassandra-Logo.wine.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/kafka-seeklogo.com.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/MongoDB-Logo.wine.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/big/amazon-documentdb.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/amazon-dynamodb-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/big/amazon-s3.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/apache-hbase-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/big/apache-zookeper-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/aws-elasticache.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/big/azure-blob-storage.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/azure-cosmos-db-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/big/azure-data-lake-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/google-cloud-datastore-1.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 mb-5">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/big/hadoop-logo.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/hive.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
    </div>

    <div>
      <div class="header-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="
          padding-top: 45px;
          padding-bottom: 25px;
          font-family: SFPro-thin;

        "
      >
        Application Service
      </h2>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/ibm websphere.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/oracle-weblogic.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/wildfly-seeklogo.com.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/Apache_Tomcat-Logo.wine.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/Red_Hat-Logo.wine.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/jboss by red hat.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 mb-5">
        <div
          class="col-lg-5"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/iis-insurance-institute-of-switzerland-logo-vector.svg"
            height="50"
            width="80"
            alt=""
          />
        </div>
        <!-- <div
          class="col-lg-5"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/jboss by red hat.svg"
            height="50"
            width="80"
            alt=""
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
