<div class="row">
  <div class="col-lg-12">
    <div
      class="page-heading padding-right padding-left margin-top-5"
      id="TECHNOLOGY"
    >
      <h3 class="pt-3">Technologies We Work With</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0 col-xxl-3 col-xl-3">
    <!-- cloud -->
<div style="height: 500px;">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Cloud
    </h2>

    <div class="row col-padding-left padding-right">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/Microsoft_Azure-Logo.wine.svg"
          height="50"
          width="100"
          alt=""

        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Amazon_Web_Services-Logo.wine.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mb-5 mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Google_Cloud_Platform-Logo.wine.svg"

          alt=""
          height="50"
          width="100"
        />
      </div>
    </div>
  </div>
    <!-- second div -->
    <div style="height: 790px;">
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        DevOps
      </h2>
      <div class="row col-padding-left padding-right">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/spark.svg"
            alt=""
            height="50"
            width="100"
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/kafka (1).svg"
            alt=""
            height="50"
            width="100"
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/delta-lake-1.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/image2vector.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/kub.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/jenkins.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div
        class="row col-padding-left padding-right mt-3"
        style="padding-bottom: 45px"
      >
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/openshiftnew.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/terraform.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- 3rd div -->
    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Ticketing systems
      </h2>

      <div class="row col-padding-left padding-right ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/service-desk.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/Servicenow.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div
        class="row col-padding-left padding-right mt-3"

      >
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/hp.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/helpdesk.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3" style="padding-bottom: 45px;">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;

          "
        >
          <img
            src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <!-- <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
            height="50"
            width="100"
            alt=""
          />
        </div> -->
      </div>
    </div>
  </div>

  <!-- plateform -->
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box col-xxl-3 col-xl-3">
    <div style="height: 500px;">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>

    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Platforms
    </h2>


    <div class="row col-padding-left padding-right  ">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/service-desk.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Servicenow.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <!-- <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
          height="50"
          width="100"
          alt=""
        />
      </div> -->
    </div>
  </div>

    <!-- 4th div -->

    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Monitoring tools
    </h2>

    <div class="row col-padding-left padding-right">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/list/Cacti.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/SolarWinds-Logo.wine.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/ManageEngine logo.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/list/CA technology.svg" height="50" width="100" alt="" />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/list/zabbix.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/prtg.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/nagios.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/grafana.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/list/Elastic.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 mb-5">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/datadoghq-ar21.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <!-- <div class="col-lg-5 col-xl-5 withMargin" id="rcorners2" style=" max-height: 100%; max-width: 100%; width: auto; height: auto">
        <img
          src="../../../../../assets/logos/nagios.svg"
          height="50"
        width="100"
          alt=""
        />
      </div> -->
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box col-xxl-3 col-xl-3">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Databases / data storages
      </h2>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/nosql.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/MySQL-Logo.wine.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/logos/ibm-logo@logotyp.us.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/list/cascendra.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/mongoDB.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/list/postgresql.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/orcel.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img
          src="../../../../../assets/logos/Redis-Logo.wine.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 mb-5">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img
          src="../../../../../assets/list/mariadb.svg"
          height="50"
          width="100"
          alt=""
        />
      </div>

    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box col-xxl-3 col-xl-3">
   <div >
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div >
    <div >
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Remote collaboration
      </h2>
    </div>
    <div class="row col-padding-left padding-right mt-3">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/list/teamsMS (1).svg" height="50" width="100" alt="" />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img src="../../../../../assets/remote/skype.svg" height="50" width="100" alt="" />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 ">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/remote/team-viewer.svg" height="50" width="100" alt="" />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img src="../../../../../assets/remote/zoomus.svg" height="50" width="100" alt="" />
      </div>
    </div>

    <div class="row col-padding-left padding-right mt-3 ">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/list/vpn.svg" height="50" width="100" alt="" />
      </div>
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="max-height: 100%; max-width: 100%; width: auto; height: auto"
      >
        <img src="../../../../../assets/remote/rdp.svg" height="50" width="100" alt="" />
      </div>
    </div>
    <div class="row col-padding-left padding-right mt-3 mb-5">
      <div
        class="col-lg-5 col-xl-5 withMargin"
        id="rcorners2"
        style="
          margin-right: 10px;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        "
      >
        <img src="../../../../../assets/list/gotomeeting.svg" height="50" width="100" alt="" />
      </div>

    </div>
  </div>
  <div>
      <div class="header-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Big Data
      </h2>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/spark.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/cascendra.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/kafka (1).svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/mongoDB.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/amazondb.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/amazon-dynamodb-logo.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/s3.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/hbase.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/Apache_ZooKeeper_logo.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/big/aws-elasticache.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/azure.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/cosmodb.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/azuredb.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/datashtore.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 mb-5">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/Hadoop_logo.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/Apache_Hive_logo.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
    </div>

    <div>
      <div class="header-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="
          padding-top: 45px;
          padding-bottom: 25px;
          font-family: SFPro-thin;

        "
      >
        Application Service
      </h2>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/list/websharpe.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/list/orcel.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/wildfly-seeklogo.com.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/Apache_Tomcat-Logo.wine.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>
      <div class="row col-padding-left padding-right mt-3 ">
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="
            margin-right: 10px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
          "
        >
          <img
            src="../../../../../assets/logos/Red_Hat-Logo.wine.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
        <div
          class="col-lg-5 col-xl-5 withMargin"
          id="rcorners2"
          style="max-height: 100%; max-width: 100%; width: auto; height: auto"
        >
          <img
            src="../../../../../assets/logos/jboss by red hat.svg"
            height="50"
            width="100"
            alt=""
          />
        </div>
      </div>

    </div>
  </div>
</div>
