<div class="row">
  <div class="col-lg-12">
    <div
      class="page-heading padding-right padding-left margin-top-5"
      id="TECHNOLOGY"
    >
      <h3 class="pt-3">Technologies We Work With</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <!-- cloud -->
    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Cloud
      </h2>
    </div>

    <div class="row padding-left padding-right mt-2 ">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Microsoft_Azure-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Amazon_Web_Services-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row padding-left padding-right mb-5">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Google_Cloud_Platform-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <!-- second div -->
    <div>
      <div class="header-1 text-center color ">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        DevOps
      </h2>
      <div class="row padding-left padding-right">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/spark.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/kafka.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right" >
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/deltalake.PNG"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/docker.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right " >
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/Kubernetes-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/jenkines.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right" style="padding-bottom: 45px">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/OpenShift-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/terraform.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- 3rd div -->
    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Ticketing systems
      </h2>
      <div class="row padding-left padding-right" >
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/IBM-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/service desk.svg"
            class="img-fluid"
            alt=""
          />
        </div>

      </div>
      <div class="row padding-left padding-right" >
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/jira-service-desk-seeklogo.com.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/servicenow-1.svg"
            class="img-fluid"
            alt=""
          />
        </div>

      </div>
      <div class="row padding-left padding-right" style="padding-bottom: 45px;">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/Hewlett-Packard-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/help desk.svg"
            class="img-fluid"
            alt=""
          />
        </div>

      </div>
    </div>
  </div>
  <!-- plateform -->
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div>
      <div class="header-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>

      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Platforms
      </h2>
    </div>

    <div class="row padding-left padding-right "  >
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/IBM-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
        <!-- <h5 class="pt-0" style="color: black;">Control Desk</h5> -->
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/IBM-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row padding-left padding-right mb-5">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/jira-service-desk-seeklogo.com.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/servicenow-1.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>

    <!-- 4th div -->

    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Monitoring tools
      </h2>
    </div>

    <div class="row padding-left padding-right">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Cacti.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/SolarWinds-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
      </div>


    </div>
    <div class="row padding-left padding-right">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/manageengine.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/zabbix-1.svg"
          class="img-fluid"
          alt=""
        />
      </div>


    </div>
    <div class="row padding-left padding-right">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/prtg-seeklogo.com-1.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Nagios.svg"
          class="img-fluid"
          alt=""
        />
      </div>


    </div>
    <div class="row padding-left padding-right">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Datadog.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <!-- <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Nagios.svg"
          class="img-fluid"
          alt=""
        />
      </div> -->


    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Databases / data storages
      </h2>
    </div>
    <div class="row padding-left padding-right">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/DB2.svg"
          class="img-fluid"
          alt=""
        />
        <!-- <h5 class="pt-0" style="color: black;">Control Desk</h5> -->
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Apache_Cassandra-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row padding-left padding-right">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/MongoDB-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
        <!-- <h5 class="pt-0" style="color: black;">Control Desk</h5> -->
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Oracle_Database-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row padding-left padding-right">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Redis-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
        <!-- <h5 class="pt-0" style="color: black;">Control Desk</h5> -->
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/mariadb.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Remote collaboration
      </h2>
    </div>
    <div class="row padding-left padding-right"  >
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Redis-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
        <!-- <h5 class="pt-0" style="color: black;">Control Desk</h5> -->
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/mariadb.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="row padding-left padding-right"  style="padding-bottom: 45px">
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/Redis-Logo.wine.svg"
          class="img-fluid"
          alt=""
        />
        <!-- <h5 class="pt-0" style="color: black;">Control Desk</h5> -->
      </div>
      <div class="col-lg-6" id="rcorners2">
        <img
          src="../../../../../assets/img/mariadb.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
      Big data
      </h2>
      <div class="row padding-left padding-right">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/spark.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/kafka.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right" >
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/deltalake.PNG"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/docker.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/Kubernetes-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/jenkines.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right" style="padding-bottom: 45px">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/OpenShift-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/terraform.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
      Application Service
      </h2>
      <div class="row padding-left padding-right">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/spark.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/kafka.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right" >
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/deltalake.PNG"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/docker.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/Kubernetes-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/jenkines.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="row padding-left padding-right" style="padding-bottom: 45px">
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/OpenShift-Logo.wine.svg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-lg-6" id="rcorners2">
          <img
            src="../../../../../assets/img/terraform.svg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
