.color {
  background-color: #131E3A;
}

.color-1 {
  background-color: #1D2957
}

h5 {
  margin: 0 !important;
}

p {
  margin: 0px;
}

.box-1 {
  border: 0.1px 0.1px 0px 0.1px solid #60029B;
  background-color: #3c3e45;
  color: white;
}

.box {
  border-right: 0.1px solid #c8c8ca;
  background-color: #efeff1;
  color: black;

}

.box-0 {
  /* border-left: 0.1px solid #707070; */
  border-right: 0.1px solid #c8c8ca;
  background-color: #efeff1;
  color: black;
}


.divider {
  background-color: #084527;
}

@media only screen and (max-width: 900px) and (min-width: 780px) {
  .body-3 {
    height: 200px;
  }
}

@media only screen and (max-width: 779px) {
  .body-3 {
    height: auto;
  }

  .body-4 {
    margin-top: -40px;
  }
}

.header-1 {
  padding: 21px;
}

.header-2 {
  padding-top: 45px;
  /* padding-bottom: 25 !important; */
  /* line-height: 35px; */
}

#TECHNOLOGY {
  background-color: #F9F9F9;
  color: #3C3E45;
}

#rcorners2 {
  border-radius: 10px;
  border: 1px solid #c3c3c5;
  /* padding: 20px; */
  /* width: 200px; */
  /* height: 150px; */
  /* background-color: white; */
}

@media only screen and (max-width: 500px) {
  .bottom-padding {
    padding-bottom: 30px;

  }

}

@media all and (min-width: 1024px) and (max-width: 1280px) {

  /* Write your CSS properties here */
  .withMargin {


    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media only screen and (max-width: 775px)  {
  .removeHeight{
    height: auto !important;
    padding-bottom: 30px;
  }
 }
