.color {
  background-color: #60029B;
}

.color-1 {
  background-color: #6B1F9B
}

h5 {
  margin: 0 !important;
}

p{
  margin: 0px;
}

.box-1 {
  border: 0.1px 0.1px 0px 0.1px  solid #60029B;
  background-color: #3c3e45;
  color: white;
}

.box {
  background-color: #3c3e45;
  color: white;
}

.box-0 {
  /* border-left: 0.1px solid #707070; */
  border-right: 0.1px solid #888A90;
  background-color: #888A90;
  color: white;
}


.divider {
  background-color: #084527;
}

@media only screen and (max-width: 900px) and (min-width: 780px) {
 .body-3{
   height: 200px;
 }
}
@media only screen and (max-width: 779px) {
  .body-3{
    height: auto;
  }
  .body-4{
    margin-top: -40px;
  }
 }

.header-1{
  padding: 21px;
}
.header-2{
  padding-top: 45px;
  /* padding-bottom: 25 !important; */
  /* line-height: 35px; */
}
#TECHNOLOGY{
  background-color: #3C075D;
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #888A90;
  /* padding: 20px; */
  /* width: 200px; */
  /* height: 150px; */
  background-color: white;
}
