
  <div class="overflow-hidden">
    <div class="first-div">
        <div class="col-md-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <h1 class="padding-left first-h1">
            Perception IT is leading the way in delivering IT operations solutions
          </h1>
          <h2 class="padding-left first-h2">
            Perception IT manages the IT operational infrastructure for companies
            with huge infrastructure and stringent SLAs
          </h2>
        </div>
      </div>
      <!--<div class="page-heading padding-left padding-right margin-top-3">
        <h3 class="pb-1">About Us</h3>
        <h4>Perceiving the present and future</h4>
      </div>-->
      <!--<div class="links-tab padding-left third border-bottom-1" id="links-tab" (scroll)="onWindowScroll($event)" *ngIf="!width">
        <div class="social-links">
          <a  class="align-middle" (click)="scroll('#SM')">
            <h5 class="third-h5">Systems Management</h5>
          </a>
          <a  class="left-line align-middle" (click)="scroll('#DevOps')">
            <h5 class="third-h5">DevOps</h5>
          </a>
          <a  class="left-line align-middle " (click)="scroll('#SD')">
            <h5 class="third-h5">Service Desk</h5>
          </a>
          <a  class="left-line align-middle" (click)="scroll('#CM')">
            <h5 class="third-h5">Cloud Migration</h5>
          </a>
          <a (click)="scroll('#PP')" class="left-line align-middle">
            <h5 class="third-h5">Why Partner With Perception IT</h5>
          </a>
        </div>
        <div style="height: 2px"></div>
      </div>-->
      <div class="third-div">
        <div class="row" >
          <div class="col-md-6 offset-md-6" >
            <h1 class="padding-right padding-left pt-5" id="abouttext">
              We are uniquely positioned to drive change in your business through
              the latest technologies
            </h1>
            <p class="padding-right padding-left body-3 pt-3 pb-5">
              Our experience bridges large-scale operations with new cloud and
              devops technologies, enabling your business to realize its true
              potential.
            </p>
          </div>
        </div>
      </div>
      
      <div class="links-tab padding-left third border-bottom-1" id="links-tab" (scroll)="onWindowScroll($event)"
      *ngIf="!width">
      <div class="social-links">
        <a (click)="scroll('#SM')" class="align-middle">
          <h5 class="third-h5">Systems Management</h5>
        </a>
        <a (click)="scroll('#DevOps')" class="left-line align-middle linksTopPadding">
          <h5 class="third-h5"> DevOps</h5>
        </a>
        <a (click)="scroll('#SD')" class="left-line align-middle linksTopPadding">
          <h5 class="third-h5"> Service Desk</h5>
        </a>
        <a (click)="scroll('#CM')" class="left-line align-middle linksTopPadding">
          <h5 class="third-h5"> Cloud Migration</h5>
        </a>
        <a (click)="scroll('#PP')" class="left-line align-middle">
          <!--<h5 class="third-h5">Why Partner With Perception IT</h5>-->
          <h5 class="third-h5">Perception IT As Your Partner</h5>
        </a>
      </div>
      <div style="height: 2px;">
    
      </div>
  </div>
  <!--<div class="row mt-3 mb-3" *ngIf="width">
    <div class="padding-left col-lg-12 padding-right" id="links-tab" >
      <label class="mb-2" >Topics</label>
      <select class=" form-select" aria-label="Default select example"  (change)="activeRoute($event)">
       
        <option value="#SM"  >Systems Management</option>
        <option value="#DevOps" >DevOps</option>
        <option value="#SD" >Service Desk</option>
        <option value="#CM">Cloud Migration</option>
        <option value="#PP">Why Partner With Perception IT</option>
      </select>
    </div>
  
    
  </div>-->

  <div class="row " *ngIf="width" >
    <div class=" page-heading padding-left  padding-right" id="links-tab" style="right: 0;" >
      <h3 class="pb-2">About Us</h3>
      <h4 class="pb-3" >Topics</h4>
      <select class=" form-select" aria-label="Default select example"  (change)="activeRoute($event)">
       
        <option value="#SM"  >Systems Management</option>
        <option value="#DevOps" >DevOps</option>
        <option value="#SD" > Service Desk</option>
        <option value="#CM">Cloud Migration</option>
        <option value="#PP">Perception IT As Your Partner</option>
      </select>
    </div>
  
    
  </div>
