<div class="row ">
    <div class="col-lg-12">
      <div class="page-heading padding-left padding-right margin-top-3 sticky">
        <h3
        style=" cursor: pointer;"
        class="pb-1"><a routerLink="/product" style="color: white;"><i class="fa fa-long-arrow-left "></i> Projects</a> </h3>

      </div>
    </div>
  </div>
  <div class="row " id="main" style="margin-top: 71px;">
    <!-- <div class="margin-top-white"></div> -->
    <div class="col-md-8 col-xs-12 first-div">
      <h1 class="first-h1 padding-left first-padding-right">
        Saving time, money and effort with a more eco-friendly, powerful data
        center
      </h1>
      <h4 class="first-h2 padding-left first-padding-right" style="line-height: 35px;">
        By boosting the eco credentials and performance of its data center with
        IBM® FlashSystem® technology, the company is playing its part in building
        a responsible digital world that benefits both its customers and the
        planet.
      </h4>
    </div>
    <div class="col-md-4 col-xs-12 p-0">
      <img src="../../../assets/img/more.PNG" id="first-img" alt="" />
    </div>
  </div>
  <div class="header-height"></div>
  <div class="row padding-left padding-right">
    <div class="col-lg-2">
      <p>Project</p>
      <hr />
      <p>Industry</p>
      <hr />
      <p>Solution</p>
      <hr />
      <p>Technology</p>
      <hr />
      <p>Service</p>
      <hr />
      <p>Solution components :</p>
    </div>
    <div class="col-lg-9">
      <p> Hardware Server Service Level Agreement
        </p>
      <hr />
      <p>Textile & Manufacturer </p>
      <hr />
      <p>telecom</p>
      <hr />
      <p>Lenovo Servers</p>
      <hr />
      <p>telecom</p>
      <hr />
      <p>
        Spectrum Control & Storage Insights/Pro <br />
        Spectrum Virtualize <br />
        Storage: IBM FlashSystem 7200
      </p>
    </div>
    <div class="d-flex mb-3 padding-right" >
      <h6 class="" style="border: 1px solid black; border-radius: 25px; background-color: #E6E6E6;">
        <p class="p-2 mb-0"><a (click)="scroll('#helps')" class="pointer"> Need help with a similar project?</a></p>
      </h6>
    </div>
    <hr>
  </div>



