<div class="row" id="main">

  <!--<div class="col-md-8 col-xs-12 first-div">
    <h1 class="first-h1 padding-left first-padding-right">
      Minimize expenditure and maximize output with IT support from a single source.
    </h1>
    <h2 class="first-h2 padding-left first-padding-right">
      Right size your IT structural support with service level agreements
    </h2>
  </div>
  <div class="col-md-4 col-xs-12 p-0">
    <img src="../../../../assets/img/it-cover.webp" id="first-img" alt="" />
  </div>-->
  <div class="col-lg-12 " *ngIf="!width">
    <img src="../../../../../assets/carsole/INFRASTRUCTURE SUPPORT W1920 H750 – 2.svg" alt=""  style=" width: 100vw; ">
</div>
<div class="col-lg-12 mobileView" *ngIf="width">
  <img src="../../../../../assets/carsole/IT support 1 960 ×700.svg" alt="" class=" mobileView">
  </div>
  <div class="col-lg-12" *ngIf="width">
      <img src="../../../../../assets/carsole/support 2 - 960 × 654.svg" alt="" class=" mobileView" >
  </div>
</div>
<div class="page-heading padding-left padding-right margin-top-3">
  <h3 class="pb-1">Infrastructure Support</h3>

</div>
<div class="links-tab padding-left third border-bottom-1" id="links-tab" (scroll)="onWindowScroll($event)">
  <div class="social-links">
    <a (click)="scroll('#Expertise')" class="align-middle ">
      <h5 class="third-h5">Infrastructure Expertise</h5>
    </a>
    <!-- <a (click)="scroll('#TECHNOLOGY')" class="left-line align-middle">
      <h5 class="third-h5">Technologies We Work With</h5>
    </a>
    <a (click)="scroll('#NMS')" class="left-line align-middle">
      <h5 class="third-h5">Networking Management Services</h5>
    </a> -->
    <a (click)="scroll('#PP')" class="left-line align-middle">
      <h5 class="third-h5">Why Partner With Perception IT</h5>
    </a>

  </div>

  <div style="height: 2px"></div>
</div>