/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.css"; */

@font-face {
  font-family: "SFPro";
  src: local("SFPro"), url(./assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSerif-Regular";
  src: local("IBMPlexSerif-Regular"), url(./assets/fonts/IBMPlexSerif-Regular.ttf) format("truetype");
}

.margin-left-right {
  margin-left: 10px;
  margin-right: 10px;
}

/* @import '~font-awesome/css/font-awesome.css'; */
body {
  font-family: "SFPro";
  color: #444444;
}

a {
  color: #14c871;
  text-decoration: none;
}

a:hover {
  color: #206bfb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBMPlexSerif-Regular";
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f9fa;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5f687b;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f0f1f3;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}
