/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.css"; */

@font-face {
  font-family: "SFPro";
  src: local("SFPro"), url(./assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SFPro-UltraLight";
  src: local("UltraLight"), url(./assets/fonts/SFProDisplay-Ultralight.ttf) format("truetype");
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 4px -4px rgb(92, 91, 91);
	   -moz-box-shadow: 0 8px 4px -4px rgb(92, 91, 91);
	        box-shadow: 0 8px 4px -4px rgb(92, 91, 91);
}

@font-face {
  font-family: "SFPro-Light";
  src: local("SFPro-Light"), url(./assets/fonts/SFProDisplay-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "SFPro-SemiBold";
  src: local("SFPro-SemiBold"), url(./assets/fonts/SFProDisplay-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "SFPro-Bold";
  src: local("SFPro-Bold"), url(./assets/fonts/SFProDisplay-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "SFPro-thin";
  src: local("SFPro-thin"), url(./assets/fonts/SFProDisplay-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "SFPro-Regular";
  src: local("SFPro-Regular"), url(./assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}


@font-face {
  font-family: "IBMPlexSerif-Regular";
  src: local("IBMPlexSerif-Regular"), url(./assets/fonts/IBMPlexSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSerif-Medium";
  src: local("IBMPlexSerif-Medium"), url(./assets/fonts/IBMPlexSerif-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSerif-ExtraLight";
  src: local("IBMPlexSerif-ExtraLight"), url(./assets/fonts/IBMPlexSerif-ExtraLight.ttf) format("truetype");
}

.sticky {
  position: fixed;
  top: 120px;
  width: 100%;
  z-index: 99;
}

@media (max-width: 1160px) {
  .sticky {
    top: 67px !important;
  }
}

.padding-left{
  padding-left: 40px;
}

.col-padding-left{
  padding-left: 60px;
}
.col-padding-right{
  padding-right: 42px !important;
}

.padding-right{
  padding-right: 30px;
}

.padding-header-top{
  padding-top: 30px;
}

.padding-top{
  padding-top: 65px;
}

.padding-bottom{
  padding-bottom: 65px;
}
.body-1-buttom{
  padding-bottom: 30px;
}

.padding-header-bottom{
  padding-bottom: 30px;
}

.header-height{
  height: 35px;
}

.margin-top-3{
  margin-top: 1px;
}

.border-bottom-1{
  border-bottom: 1px solid white;
}

.page-heading {
  background-color: #55565a;
  height: 100px;
  color: white;
  position: relative;
}

.margin-top-white{
  height: 1px;
}

.header {
  background-color: #707070;
  color: white;
  padding-top: 8px;
}

.header-big {
  background-color: #707070;
  color: white;
}

.box-background{
  background-color: #3c3e45;
  color: white;
}

.question-div {
  background-color: #f9f9fa;
  color: #6a7489;
}

.box-0 {
  /* border-top: 0.1px solid #BCB8B8; */
  border-left: 0.1px solid #BCB8B8;
  border-right: 0.1px solid #BCB8B8;
}

h1{
  font-family: "IBMPlexSerif-ExtraLight";
  font-size: 35px;
  margin: 0px;
}

h2{
  font-family: "IBMPlexSerif-ExtraLight";
  font-size: 25px;
  margin: 0px;
}

h3{
  font-family: "SFPro-SemiBold";
  font-size: 25px;
  margin: 0px;

}

h4{
  font-family: "SFPro";
  font-size: 18px;
  margin: 0px;
}

.pointer{
  cursor: pointer;
}

h5{
  font-family: "SFPro";
  font-size: 16px;
  margin:0px;
}

.body-1{
  font-family:"SFPro-Bold";
  font-size: 16px;
  line-height: 30px;
}
.shadow{
  box-shadow: 0 3px 6px #000000;
}

.body-2{
  font-family: "SFPro";
  font-size: 14px;
  line-height: 25px;
}

.subtitle-1{
  font-family: "SFPro-Light";
  font-size: 26px;
}

.gray-text{
  color: #6a7489;
}

.social-links {
  padding-top: 12px;
  padding-bottom: 10px;
}

.links-tab{
  box-shadow: 0 3px 6px #000000;
}

.social-links a {
  color: white;
  display: inline-block;
  padding: 0px 12px;
}

.social-links a:hover {
  cursor: pointer;
}

.social-links a h5:hover {
  color: rgb(219, 214, 214);
}

.social-links a:first-child {
  padding-left: 0px;
}

.sticky-height{
  height: 50px;
}

.overflow-hidden{
  overflow: hidden;
}
/* .left-line {
  border-left: 0.5px solid #e5e5e7;
} */

.right-line {
  border-right: 1px solid #e5e5e7;
}

.left-line {
  border-left: 1px solid #e5e5e7;
}

.margin-left-right {
  margin-left: 10px;
  margin-right: 10px;
}

.social-links > a:hover{
  color: #929496;
}

.social-links > a>a:hover{
  color: #929496;
}

.drop-menue > a:hover{
  color: #929496;
  border-bottom: 3px solid #406CA0;
  background-color: #e7eaee;
}

body {
  font-family: "SFPro";
  color: #444444;
}

a {
  color: #14c871;
  text-decoration: none;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f9fa;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5f687b;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f0f1f3;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}
