<div class="header-height third"></div>
<section id="services" class="services section-bg">
  <div class="text-center">
    <img
      src="../../../../../assets/img/icon.svg"
      class="img-fluid"
      alt=""
      height="50"
      width="80"
    />
  </div>
  <div>
    <div id="PP" class="section-title">
      <h2 style="font-size: 22px">
        Why Perception IT Should Be Your Managed Services Partner
      </h2>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
    </div>

    <div class="row padding-left padding-right">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Industry Expertise</a>
          </h4>
          <p class="padding-right padding-left">
            We manage services for large-scale enterprises, and can bring knowledge, experience and tried and tested methodologies to your company.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="">Latest Technologies</a>
          </h4>
          <p class="padding-right padding-left">
            We understand that you have to support the old and the new.
            Our hybrid approach allows you to keep using the technologies that underpin your business, but augment these with modern cloud, DevOps and big data innovations.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Keeping ahead of the competition</a>
          </h4>
          <p class="padding-right padding-left">
           As experts in our domain, we can advise you of the latest trends and how they can help your business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services" class="services section-bg">
  <div>
    <div id="CB" class="section-title">
      <h2>Managed Services Benefits</h2>
    </div>

    <div class="row padding-left padding-right">
      <div class="col-lg-4 col-md-6 ">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Running a service yourself is expensive</a>
          </h4>
          <p class="padding-right padding-left">
            Keeping a service going 24 hours a day, seven days a week requires
            a team of IT professionals who must be recruited,
            trained, managed and then kept up to date with new trends and
            developments.
            <br />
            Our managed service offerings remove these entire issue entirely.  Our team of experts will ensure that there is always a specialist
            available to address any issues with your service.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 >
            <a href="">Low capital outlay and predictable monthly costs</a>
          </h4>
          <p class="padding-right padding-left">
            The investment in specialist hardware and software will be high. A
            managed service offers the highest quality enterprise and carrier
            grade solutions to customers. A fixed monthly payment plan means you
            know what you’re going to get and how much it’s going to cost over
            the contract. No unexpected upgrade charges or changes in charges,
            guaranteed.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Future proof business, using best-of-breed technology</a>
          </h4>
          <p class="padding-right padding-left">
            Leading Managed Service Providers (MSPs) must use the best
            technologies and equipment on the market to deliver services. IT
            services are constantly upgraded with no additional cost or
            financial risk to yourself. You never have to worry that your
            Managed IT Services will become obsolete.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 ">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Flexible service</a></h4>
          <p class="padding-right padding-left">
            Managed IT Service Providers can be extremely flexible; a
            pay-as-you-go payment plan allows for quick growth when necessary,
            or cost savings when you need to consolidate.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4><a href="">Expertise</a></h4>
          <p class="padding-right padding-left">
            By selecting managed services you gain access to staff with
            specialist skills. Sometimes you will only need this skill once, so
            save the expense of training your staff for skills they will never
            use. Redcentric have invested £100m in its infrastructure and is
            backed by one of best 24/7 x 365 technical support and operations
            team.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Focus on your business, not on managing IT</a></h4>
          <p class="padding-right padding-left">
            Offloading IT means you no longer have to spend valuable hours
            managing IT when you could be growing your business. Never waste
            time trying to connect with multiple carriers about IT problems or
            invoices.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
