<!--

<div class="row" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Future proof business, using best-of-breed technology
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Leading Managed Service Providers (MSPs) must use the best technologies
      and equipment on the market to deliver services. IT services are
      constantly upgraded with no additional cost or financial risk to yourself.
      You never have to worry that your Managed IT Services will become
      obsolete.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Low capital outlay and predictable monthly costs
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      The investment in specialist hardware and software will be high. A managed
      service offers the highest quality enterprise and carrier grade solutions
      to customers. A fixed monthly payment plan means you know what you’re
      going to get and how much it’s going to cost over the contract. No
      unexpected upgrade charges or changes in charges, guaranteed.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Flexible service
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Managed IT Service Providers can be extremely flexible; a pay-as-you-go
      payment plan allows for quick growth when necessary, or cost savings when
      you need to consolidate.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Highly resilient, secure infrastructure
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      A Managed Service Provider’s data centres and managed network
      infrastructure is much more robust than a standard Enterprise IT service.
      Infrastructure is run under 24/7 x 365 management, with government
      approval security procedures
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Expertise
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      By selecting managed services you gain access to staff with specialist
      skills. Sometimes you will only need this skill once, so save the expense
      of training your staff for skills they will never use. Redcentric have
      invested £100m in its infrastructure and is backed by one of best 24/7 x
      365 technical support and operations team.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Centralisation
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      With a managed network you can benefit from the ability to centralise all
      your applications and servers within managed data centres, this leads to
      improved performance of staff, regardless of location. Access to
      centralised data centres within the network can also provide access to
      virtual services, as well as storage and backup infrastructure.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Increased service levels
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      A Managed IT Service provides greater control of service levels and
      performance. With service level agreements in place you can be sure of
      continuity of service. A managed service company will also offer 24/7 x
      365 support.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Disaster recovery and business continuity
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      The delivery of services is the life blood of the Managed Service Provider
      (MSP). They have designed networks and data centres that will be
      available, resilient and redundant for maintaining business continuity.
      You can take advantage of this significant technological investment. Your
      data will be safe and you voice services will continue to be delivered
      even if you main office is lost.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Focus on your business, not on managing IT
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Offloading IT means you no longer have to spend valuable hours managing IT
      when you could be growing your business. Never waste time trying to
      connect with multiple carriers about IT problems or invoices.
    </p>
  </div>
</div>

<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      Running a service, yourself is expensive
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      • Keeping a service going 24 hours a day, seven days a week requires a
      team of IT professionals. That’s a team that must be recruited, trained,
      managed and then kept up to date with new trends and developments. Your
      team will have an on-call rota to handle problems that arise out-of-hours,
      but with a small team it’s likely that whoever is on call will not be the
      expert you need. They will have to call someone else, which will delay the
      fix even further.
    </p>
    <p class="body-2 padding-left padding-right">
      • MSPs remove that entire issue entirely. With a whole team of experts on
      hand, they can ensure that there is always a specialist monitoring your
      service. That allows them to get on with fixing a problem, whenever it
      occurs. And you, the customer, are not responsible for recruiting and
      training those people. Their training is covered by the service charge but
      that is spread among the MSP’s customers, so you are sharing a cost rather
      than shouldering it yourself.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      You don’t have to Invest in purchase and maintenance of IT equipment
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      • You aren’t buying equipment, setting it up, maintaining it and
      dedicating precious office space to it. And don’t ignore the benefit of
      freeing up office space that was once taken up by servers, routers and
      other tin boxes. Imagine a law firm, for example, and consider how much
      more value they get from office space that has fee-earning lawyers in it,
      compared with space that’s devoted to IT.
    </p>
    <p class="body-2 padding-left padding-right">
      • MSPs can do this for less because they buy at a scale that brings costs
      down significantly. Moreover, the customer is buying only a piece of that
      equipment, so the costs are even lower.
    </p>
  </div>
</div>
<div class="row margin-top-3" id="main">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="padding-left subtitle-1 padding-top padding-right">
      A capability that you anticipate needing for only a short time `need not
      require capital investment.
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12">
    <p class="body-1 padding-left padding-right padding-top">PENDING</p>
    <p class="body-2 padding-left padding-right padding-top">
      Adding new capabilities can add complexity, too. Having an MSP means
      adding a new service can be as simple as picking up the phone. This can be
      particularly useful with a capability that you anticipate needing for only
      a short time or for services that you might want to bring in-house later
    </p>
  </div>
</div> -->
<div class="header-height"></div>
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <span>Manage Services Business Benefit</span>
      <h2>Manage Services Business Benefit</h2>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="">Future proof business, using best-of-breed technology</a>
          </h4>
          <p>
            Leading Managed Service Providers (MSPs) must use the best
            technologies and equipment on the market to deliver services. IT
            services are constantly upgraded with no additional cost or
            financial risk to yourself. You never have to worry that your
            Managed IT Services will become obsolete.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="">Low capital outlay and predictable monthly costs</a>
          </h4>
          <p>
            The investment in specialist hardware and software will be high. A
            managed service offers the highest quality enterprise and carrier
            grade solutions to customers. A fixed monthly payment plan means you
            know what you’re going to get and how much it’s going to cost over
            the contract. No unexpected upgrade charges or changes in charges,
            guaranteed.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Flexible service</a></h4>
          <p>
            Managed IT Service Providers can be extremely flexible; a
            pay-as-you-go payment plan allows for quick growth when necessary,
            or cost savings when you need to consolidate.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="">Highly resilient, secure infrastructure</a></h4>
          <p>
            A Managed Service Provider’s data centres and managed network
            infrastructure is much more robust than a standard Enterprise IT
            service. Infrastructure is run under 24/7 x 365 management, with
            government approval security procedures.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4><a href="">Expertise</a></h4>
          <p>
            By selecting managed services you gain access to staff with
            specialist skills. Sometimes you will only need this skill once, so
            save the expense of training your staff for skills they will never
            use. Redcentric have invested £100m in its infrastructure and is
            backed by one of best 24/7 x 365 technical support and operations
            team.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Centralisation</a></h4>
          <p>
            With a managed network you can benefit from the ability to
            centralise all your applications and servers within managed data
            centres, this leads to improved performance of staff, regardless of
            location. Access to centralised data centres within the network can
            also provide access to virtual services, as well as storage and
            backup infrastructure.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Increased service levels</a></h4>
          <p>
            A Managed IT Service provides greater control of service levels and
            performance. With service level agreements in place you can be sure
            of continuity of service. A managed service company will also offer
            24/7 x 365 support.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Disaster recovery and business continuity</a></h4>
          <p>
            The delivery of services is the life blood of the Managed Service
            Provider (MSP). They have designed networks and data centres that
            will be available, resilient and redundant for maintaining business
            continuity. You can take advantage of this significant technological
            investment. Your data will be safe and you voice services will
            continue to be delivered even if you main office is lost.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Focus on your business, not on managing IT</a></h4>
          <p>
            Offloading IT means you no longer have to spend valuable hours
            managing IT when you could be growing your business. Never waste
            time trying to connect with multiple carriers about IT problems or
            invoices.
          </p>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Centralisation</a></h4>
          <p>
            With a managed network you can benefit from the ability to
            centralise all your applications and servers within managed data
            centres, this leads to improved performance of staff, regardless of
            location. Access to centralised data centres within the network can
            also provide access to virtual services, as well as storage and
            backup infrastructure.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- End Services Section -->
