<div class="row" id="main">
  <div class="col-lg-4 col-sm-8 p-5">
    <h6 class="title">
      <strong
        >Does Your Business Need <br />
        IT Consultancy?</strong
      >
    </h6>
  </div>
  <div class="col-lg-8 col-sm-8 p-5">
    <p class="description">
      PENDING Your consumers expect new and enhanced software solutions without
      having to wait. Your business must keep up to meet their ever-increasing
      demands. However, a lack of proper communication and collaboration between
      teams often leads to inefficiency, causing hindrances in the workflow.
      DevOps aims to encourage process automation and collaboration between the
      business, development, and operations teams for improved teamwork,
      seamless management, streamlined processes, and enhanced productivity.
      Departments that previously operated as separate entities now make use of
      technology to collaborate and reduce the system development life cycle
      immensely. Perception IT assists you in identifying your core problem
      areas and implementing the perfect DevOps strategy for your needs which
      uses Continuous Integration, Delivery, and Deployment as core practices to
      achieve your goals.
    </p>
  </div>
</div>
<div class="row" id="main">
  <div class="col-lg-4 col-sm-8 p-5">
    <h6 class="title">
      <strong
        >DevOps - How Do Companies <br />
        Benefit From IT Consultancy?</strong
      >
    </h6>
  </div>
  <div class="col-lg-8 col-sm-8 p-5">
    <p class="description">
      sit amet consectetur adipisicing elit. Eveniet ullam corporis quo,
      doloremque a corrupti, id voluptatem libero est possimus ad perspiciatis
      officiis fuga ipsa maxime ab molestiae alias excepturi.
    </p>
  </div>
</div>
<div class="row" id="main">
  <div class="col-lg-4 col-sm-8 p-5">
    <h6 class="title">
      <strong
        >Industries That Can Benefit <br />
        From From IT Consultancy</strong
      >
    </h6>
  </div>
  <div class="col-lg-8 col-sm-8 p-5">
    <p class="description">
      sit amet consectetur adipisicing elit. Eveniet ullam corporis quo,
      doloremque a corrupti, id voluptatem libero est possimus ad perspiciatis
      officiis fuga ipsa maxime ab molestiae alias excepturi.
    </p>
  </div>
</div>
<div class="row" id="main">
  <div class="col-lg-4 col-sm-8 p-5">
    <h6 class="title"><strong>Why use perception IT?</strong></h6>
  </div>
  <div class="col-lg-8 col-sm-8 p-5">
    <p class="description">
      sit amet consectetur adipisicing elit. Eveniet ullam corporis quo,
      doloremque a corrupti, id voluptatem libero est possimus ad perspiciatis
      officiis fuga ipsa maxime ab molestiae alias excepturi.
    </p>
  </div>
</div>
