<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="mb-0" style="font-family: SFPro-thin; color: #E58707;">CUSTOMER</p>
    <p>
        Dominic Clover as a Banker wants to develop and implement an encrypted software application for organization to submit their progress and compare their progress with industry average.
      
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Transformation</p>
    <p>There was no tool to compare the business with other key player in market.
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Business challenge</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloremque quasi qui ipsam et id!
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <h4 class="mt-3 mb-3" style="color: #E58707;font-family: SFPro-thin; ;">Results</h4>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f8f8f8;
      height: 120px;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
        Data is available to compare with different stakeholders
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--30% decrease in processing times enables more responsive customer service-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
    
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
     <!-- Frees employees to focus on innovation by simplifying IT management-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      height: 120px;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Business challenge story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Defining a vision - DUM MY TEXT >>>>>>>>>SUB HEADING</p>-->
    <p style="line-height: 35px;">
        There was no tool to compare the business with other key player in market.
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Transformation story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Supercharging business performance - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
        Start understanding your businesses true performance by anonymously comparing your Key Performance Indicators to that of your peers. AIM categories businesses by Standard Industry Codes and calculates the average performance of the businesses in each classification. All submitted data is anonymised and completely unattributable to any business. Each business's unique results are encrypted and can only be unlocked with their own private key. This secure process ensures an accurate comparison without any risk of disclosure to anyone
      
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" font-family: SFPro-Regular;color: #E58707;">Results story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Living up to green principles - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
        Data is available to compare with different stakeholders
      
    </p>
  </div>
</div>






