<div class="header-height"></div>
<section id="services" class="services section-bg">
  <div class="text-center">
    <img
      src="../../../../../assets/img/icon.svg"
      class="img-fluid"
      alt=""
      height="50"
      width="80"
    />
  </div>
  <div>
    <div id="PP" class="section-title">
      <h2 style="font-size: 22px">
        Why Perception IT Should Be Your Infrastructure Support Partner
      </h2>
      <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
    </div>

    <div class="row padding-left padding-right">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href=""> Service availability</a>
          </h4>
          <p class="padding-right padding-left">
            We adjust our response times to your business hours, regardless of
            location.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href=""> Proactive approach</a>
          </h4>
          <p class="padding-right padding-left">
            We focus on preventive maintenance prioritizing problem management
            over incident handling.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" id="add-height">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href=""> Wide infrastructure coverage</a>
          </h4>
          <p class="padding-right padding-left">
            We design, implement and support both basic-level and
            enterprise-level solutions.
          </p>
        </div>
      </div>
    </div>
    <div class="header-height" style="color: white"></div>
    <div class="row padding-left padding-right">
      <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href=""> Experience </a>
          </h4>
          <p class="padding-right padding-left">
            Knowledge and track record
          </p>
        </div>
      </div> -->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href=""> Pricing policy</a>
          </h4>
          <p class="padding-right padding-left">
            Our billing terms are flexible and transparent without extra or
            hidden charges.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href=""> Integrity</a>
          </h4>
          <p class="padding-right padding-left">
            Consistency in seeing projects through to completion and ongoing
            support and maintenance
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" id="add-height">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href=""> Stability</a>
          </h4>
          <p class="padding-right padding-left">
            Longevity of Perception IT, both in the business community, as well
            as maintenance and longevity of management and employees
          </p>
        </div>
      </div>
      <div class="header-height" style="color: white"></div>

    <div class="row padding-left padding-right">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href=""> Technology</a>
          </h4>
          <p class="padding-right padding-left">
            Perception IT’s consistent pursuit and exploration of cutting-edge
            technology and implementation for our client base
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex  align-items-stretch mt-4 mt-md-0"    >
        <div class="icon-box"  style="width: 600px;">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4>
            <a href="" > Experience</a>
          </h4>
          <p class="text-center">
            Knowledge and track record
          </p>
        </div>
      </div>
    </div>
      
    </div>
    
    
  </div>
</section>
