<div class="row" id="main">
  <div class="col-lg-3 col-sm-8 p-5">
    <h6 class="title">
      <strong
        >Business’s Benefit from <br />
        Infrastructure Support <br />
        systems
      </strong>
    </h6>
  </div>
  <div class="col-lg-9 col-sm-8 p-5">
    <p class="description">
      <b>Remove Performance Hindrances</b><br />
      Performance hindrances can be caused by many factors including inadequate
      hardware support as well as upgrades not being performed in a timely
      manner. Having an Infrastructure support in place to ensure these
      activities are performed properly and timely can greatly reduce
      performance hindrances. <br />
      <b> Remove Productivity Loss due to Down Time</b><br />
      As with performance hindrances, ensuring proper monitoring is in place and
      the hardware is kept up to date, greatly reduces the possibility of
      downtime. <br />
      <b>Always Have Trained Key Resources and Hardware Available</b><br />
      This is a key deciding factor for many businesses to move to an
      infrastructure support model as the storage of hardware as well as the
      training cost and effort of the technicians, belong to the Infrastructure
      support company and not to the business.
    </p>
  </div>
</div>
<div class="row" id="main">
  <div class="col-lg-3 col-sm-8 p-5">
    <h6 class="title">
      <strong
        >Advantages of having <br />
        Perception IT as your <br />
        preferred partner</strong
      >
    </h6>
  </div>
  <div class="col-lg-9 col-sm-8 p-5">
    <p class="description">
      <b
        >We are a Tech lead company doing business in different Industries in
        Pakistan and abroad so can present the right solution for the customer
        requirement.</b
      >
      <br />
      <b>• Skill set & expertise:</b> With Perception IT, you always have the
      most current skill sets and highly technical enabled pool of experts
      available to you and your business’s specific supported applications.
      Enabling you to focus on more strategic aspects of your business rather
      than worry about application issues.<br />
      <b>• Flexible coverage & additional solutions: </b> We offer coverage
      options to suit any business needs from regular business hours to 24×7.
      Our scalable model also allows customers to include additional solutions
      based on business needs.<br />
      <b> • Flexi plans:</b> Our flexible plans are designed to meet the budgets
      of medium to large set-ups who require the guarantee of repairs for their
      IT Equipment.<br />
      <b> • Experienced team:</b> Our experienced team analyse the complete
      solution deployed.<br />
      <b>• Speed:</b> Spares are available from the local warehouses for speedy
      parts replacement.<br />
      <b>• Top vendors:</b> We partner with top vendors to make available the
      the best solutions designed for medium and enterprise customers. We can
      work on multi-vendor IT domains with the experienced team.<br />
      <b>• Our of warranty cover:</b> We have the best offers available for out
      of warranty equipment’s (Servers/Storage/Networks etc.).
    </p>
  </div>
</div>
