
<app-projects-info></app-projects-info>
<app-more-question-section></app-more-question-section>
<app-help></app-help>
<div class="overflow-hidden"><app-footer-section></app-footer-section></div>
<div class="row">
  <div class="col-lg-12">
    <p style="background-color: #F0F0F0; font-family: SFPro-light;" class="p-4">
      This document is current as of the initial date of publication and may
      be changed by IBM at any time. Not all offerings are available in every
      country in which IBM operates. The performance data and client examples
      cited are presented for illustrative purposes only. Actual performance
      results may vary depending on specific configurations and operating
      conditions. THE INFORMATION IN THIS DOCUMENT IS PROVIDED “AS IS” WITHOUT
      ANY WARRANTY, EXPRESS OR IMPLIED, INCLUDING WITHOUT ANY WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND ANY WARRANTY OR
      CONDITION OF NON-INFRINGEMENT. IBM products are warranted according to
      the terms and conditions of the agreements under which they are
      provided.  <br> The client is responsible for ensuring compliance with laws
      and regulations applicable to it. IBM does not provide legal advice or
      represent or warrant that its services or products will ensure that the
      client is in compliance with any law or regulation. <br> Actual available
      storage capacity may be reported for both uncompressed and compressed
      data and will vary and may be less than stated.
    </p>
  </div>
</div>
