<div class="" id="contactimg">



  <div class="row padding-left padding-right" style="background-color: #f5f7f7">
    <div class="col-8 pt-4">
      <form [formGroup]="emailForm" (ngSubmit)="createEmail()">
        <p>
          Drop us a line, and our representative will contact you to arrange an initial
          discussion.
        </p>

        <div class="row pt-2" id="field">
          <div class="col-3">
            <input class="form-control" placeholder="Full Name" type="text" formControlName="fName" />
          </div>
          <div class="col-3">
            <input class="form-control" placeholder="Company" type="text" formControlName="company" />
          </div>
          <div class="col-3">
            <input class="form-control" placeholder="Work Email" type="text" formControlName="workEmail" />
          </div>
          <div class="col-3">
            <!-- <input class="form-control" placeholder="Work Phone" type="text" formControlName="workPhone" /> -->
            <ngx-intl-tel-input class="wrapper" [enableAutoCountrySelect]="true" [enablePlaceholder]="false"
              [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Pakistan" [phoneValidation]="true"
              [separateDialCode]="separateDialCode" formControlName="workPhone">
            </ngx-intl-tel-input>
          </div>
        </div>


        <div class="row pt-4">
          <div class="col-12">
            <textarea class="form-control" name="" id="" cols="20" rows="7" placeholder="How can we help you?"
              formControlName="description"></textarea>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  I agree to have Perception IT contact me via email, phone,
                  messenger.
                </label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                  I agree to have Perception IT provide my request information to
                  Perception IT affiliated development center.
                </label>
              </div>
              <p class="mt-4" id="p-text">
                In compliance with GDPR your personal information will be
                collected and stored for ten years on servers located in the
                United States. After this term is expired, your information will
                be erased.
              </p>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col pt-2" style="
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
            ">
              <button class="btn " style="background-color: #1D2957; color: white;"> Contact Us</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4 padding-left padding-right">
      <h5 class="pt-4" style="font-weight: bold">Perception IT Pakistan</h5>
      <div class="row pt-4 " id="contact-icon">
        <div class="col-lg-2">

          <p><i style="color: #929191; " class="fa fa-phone fa-2x" aria-hidden="true"></i></p>
          <p><i style="color: #929191; " class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></p>
          <p><i style="color: #929191;" class="fa fa-envelope fa-2x" aria-hidden="true"></i></p>
          <p><i style="color: #929191;" class="fa fa-map-marker fa-2x  pt-2" aria-hidden="true"></i></p>
        </div>
        <div class="col-lg-10 ">

          <p class=""> +92 4235710686</p>
          <p class="pt-2"> +92 301 8436565</p>
          <p class="pt-3 ">info@perception-it.com</p>
          <p class="pt-2"> 1st Floor, Liberty Gate Plaza<br />
            MM Alam Road, Lahore, Pakistan</p><br />
          <!--   <p class="mt-3 ">Registered in Pakistan: 0098452</p>-->
        </div>
      </div>

      <h5 class="pt-4" style="font-weight: bold">Perception IT UK</h5>
      <div class="row  pt-4" id="contact-icon">
        <div class="col-lg-2">

          <p><i style="color: #929191; " class="fa fa-phone fa-2x" aria-hidden="true"></i></p>
          <p><i style="color: #929191; " class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></p>
          <p><i style="color: #929191;" class="fa fa-envelope fa-2x" aria-hidden="true"></i></p>
          <p><i style="color: #929191;" class="fa fa-map-marker fa-2x pt-2" aria-hidden="true"></i></p>
        </div>
        <div class="col-lg-10 p-0">

          <p class=""> +44 7454 797767</p>
          <p class="pt-2"> +44 7454 797767</p>
          <p class="pt-3 ">info@perception-it.com</p>
          <p class="pt-2">Office 6962 PO Box 6945<br />
            London W1A 6US, United Kingdom </p><br />
          <!--  <p class="mt-3 ">Registered in England: 7274289</p>-->
        </div>
      </div>
    </div>

  </div>
</div>