<div class="row margin-top-3">
  <div class="col-lg-3 col-md-6 col-sm-12 box-0 padding-top">
      <p class="body-1 padding-left padding-right">
        Simplify IT management with onsite and remote services. 
        </p>
        <p class="body-2 padding-left padding-right">
        Perception IT provides technology for large, high volume transaction,
        high availability, high performance computer systems and
        infrastructures. Perception IT provides comprehensive range of
        Enterprise software/hardware Solutions that address the diverse customer
        requirements from low-end to high-end server solutions over Cloud/
        hybrid/ On-prem.
      </p>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 box-1 p-0">
      <div class="header header-height">
        <div class="body-1 padding-left padding-right col-paddig-left">
          Supported Hardware
        </div>
      </div>
      <p class="body-1 padding-left padding-right padding-header-top col-paddig-left">
        Simplify IT management with onsite and remote services. 
        </p>
        <p class="body-2 padding-left col-paddig-right padding-right padding-header-top padding-header-botton col-paddig-left">
          Branded and unbranded Servers <br>
          Office IT infrastructure set up 
          Servers <br />
          Networking <br />
          Back ups
        </p>
      <div class="header header-height body-1 padding-left col-paddig-left">
        Warranty
      </div>
        <p class="body-2 padding-left col-paddig-right padding-right padding-header-top padding-header-botton col-paddig-left">
          We support your IT, technology warranties and industry specific
          systems as part of our continuing commitment to provide you with great
          service.
        </p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 box-0 p-0">
    <div class="header header-height body-1 padding-left col-paddig-left">
     Services
    </div>
      <p class="body-2 padding-left col-paddig-right padding-right padding-header-top padding-botton col-paddig-left">
        Pre-sales services <br />
        Consultancy on Solutions Road Map <br />
        Installation and deployments <br />
        Integration and customization <br />
        Post sales Services <br />
        Resident Engineer(s) for Support & Services <br />
        Customised Trainings
      </p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 box-0 p-0">
    <div class="header header-height body-1 padding-left col-paddig-left">
      After Sales Services
    </div>
      <p class="body-2 padding-left padding-right col-paddig-right padding-header-top padding-botton col-paddig-left">
        Dedicated Service Desk <br />
        Preventative Maintenance & Health check options <br />
        Up to 24x7x365 Priority 1 Support <br />
        Choice of Response Times <br />
        Highly skilled & qualified engineers on call <br />
        Spare parts for all branded and un-branded system <br />
        Quality Assurance
      </p>
  </div>
  <div class="divider p-0 header-height"></div>
</div>
