<div class="row" style="margin: 0.2em">
  <div class="col-lg-3 col-md-6 col-sm-8 box-0">
    <div class="container mt-5">
      <p class="font">
        Simplify IT management with onsite and remote services. <br /><br />
        Perception IT provides technology for large, high volume transaction,
        high availability, high performance computer systems and
        infrastructures. Perception IT provides comprehensive range of
        Enterprise software/hardware Solutions that address the diverse customer
        requirements from low-end to high-end server solutions over Cloud/
        hybrid/ On-prem.
      </p>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-8 p-0">
    <div class="box">
      <div class="container header">
        <h5 class="font">Supported Hardware</h5>
      </div>
      <div class="container p-4">
        <p class="font">
          Branded and unbranded Servers <br />
          Office IT infrastructure set up <br />
          Servers <br />
          Networking <br />
          Back ups
        </p>
      </div>
    </div>
    <div class="box-1">
      <div class="container header">
        <h5 class="font">Warranty</h5>
      </div>
      <div class="container mt-3">
        <p class="font p-3">
          We support your IT, technology warranties and industry specific
          systems as part of our continuing commitment to provide you with great
          service.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-8 box-0 p-0">
    <div class="container header">
      <h5 class="font">Services</h5>
    </div>
    <div class="container mt-3">
      <p class="font p-3">
        Pre-sales services <br />
        Consultancy on Solutions Road Map <br />
        Installation and deployments <br />
        Integration and customization <br />
        Post sales Services <br />
        Resident Engineer(s) for Support & Services <br />
        Customised Trainings
      </p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-8 box-0 p-0">
    <div class="container header">
      <h5 class="font">After Sales Services</h5>
    </div>
    <div class="container mt-3">
      <p class="font p-3">
        Dedicated Service Desk <br />
        Preventative Maintenance & Health check options <br />
        Up to 24x7x365 Priority 1 Support <br />
        Choice of Response Times <br />
        Highly skilled & qualified engineers on call <br />
        Spare parts for all branded and un-branded system <br />
        Quality Assurance
      </p>
    </div>
  </div>
  <div style="border: 12px solid #084527; margin-bottom: -4px"></div>
</div>
