<div class="row">
  <div class="col-lg-12">
    <div
      class="page-heading padding-right padding-left margin-top-5"
      id="InExpertise"
    >
      <h3 class="pt-3">Infrastructure Expertise</h3>
    </div>
  </div>
</div>
<div class="row">
  <div id="Applications" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="removeHeight" style="height: 496px;">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Applications
    </h2>

    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">
          Functional and technical Applications<br />support.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Application analytics.</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Remote performance management.</p>
      </li>
    </ul>
  </div>
    <div>
      <div class="header-1 text-center color">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Servers (windows and Linux)
      </h2>

      <ul
        class="body-text col-padding-right col-padding-left"
        style="color: #dddcdc"
      >
        <li class="fonts-li">
          <p style="font-size: medium">24/7 server monitoring.</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Server updating and hardening.</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Security monitoring and audit.</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Performance optimization.</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Backup management.</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Emergency patching.</p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">Disaster recovery.</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="Cloud" class="col-lg-3 col-md-6 col-sm-12 p-0 box">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Cloud
    </h2>

    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">
          Private and Hybrid cloud infarstructure <br />
          design and integration.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Private,public and hybrid cloud <br />
          Infrastructure administration,<br />
          maintenance, security audit and support.
        </p>
      </li>
    </ul>
    <div>
      <div class="header-1 text-center color-1">
        <img
          src="../../../../../assets/img/upway.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <h2
        class="col-padding-left col-padding-right"
        style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
      >
        Network and security
      </h2>

      <ul
        class="body-text col-padding-right col-padding-left"
        style="color: #dddcdc"
      >
        <li class="fonts-li">
          <p style="font-size: medium">
            Failover network desgin, policy, <br />
            implementation and configuration.
          </p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">
            LAN and VPN integration, <br />
            maintenance and support,<br />
            Network discovery, monitoring and<br />
            performance analysis. <br />
            configuration.
          </p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">
            Bandwidth management,<br />
            IDS/IPS and firewall integration,<br />
            configuration,maintenance and <br />
            support.
          </p>
        </li>
        <li class="fonts-li">
          <p style="font-size: medium">
            Antiviruses integration,<br />
            configuration, maintenance and<br />
            upgrade.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div id="ES" class="col-lg-3 col-md-6 col-sm-12 p-0 box-1">
    <div class="header-1 text-center color">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>
    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Enterprise systems
    </h2>

    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">
          Data center integration, <br />
          maintenance, support and mrigration.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Directory services integration,<br />
          monitoring, upgrade and support.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Email and VoIP systems integration, <br />
          monitoring and update.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Intranet and collaboration solutions<br />
          integration, mrigration,maintenance<br />
          and support.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          CRM systems integration,mrigration,maintenance and support.
        </p>
      </li>
    </ul>
  </div>
  <div id="DS" class="col-lg-3 col-md-6 col-sm-12 p-0 box-0">
    <div class="header-1 text-center color-1">
      <img src="../../../../../assets/img/upway.svg" class="img-fluid" alt="" />
    </div>

    <h2
      class="col-padding-left col-padding-right"
      style="padding-top: 45px; padding-bottom: 25px; font-family: SFPro-thin"
    >
      Data storages
    </h2>

    <ul
      class="body-text col-padding-right col-padding-left"
      style="color: #dddcdc"
    >
      <li class="fonts-li">
        <p style="font-size: medium">Desgin and implementation.</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Configuration and administration.</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">
          Capacity management and <br />monitoring.
        </p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Performance tuning.</p>
      </li>
      <li class="fonts-li">
        <p style="font-size: medium">Storage disaster recovery.</p>
      </li>
    </ul>
  </div>
</div>

