.header {
  background-color: #707070;
  color: white;
  padding-top: 3px;
}

h5 {
  margin: 0 !important;
}

/* p{
  font-size: 14px!important;
  line-height: 30px !important;
} */

.box-1 {
  border: 0.5px solid #BCB8B8;
  /* height: 480px; */
  background-color: #3c3e45;
  color: white;
}

/* @media (min-width: 770px) {
  .box-1 {
    padding: 0px !important;
  }
} */

.box {
  border: 0.5px solid #BCB8B8;
  /* height: 480px; */
  background-color: #3c3e45;
  color: white;
}

.box-0 {
  border: 0.5px solid #BCB8B8;
  background-color: #3c3e45;
  color: white;
}

.font {
  font-family: SF Pro;
  padding: 25px 70px 0 70px
}

/* .sub-header {
  padding: 18px 70px 0 70px
} */

.divider {
  background-color: #084527;
}
