<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="mb-0" style="font-family: SFPro-thin;color: #E58707 ;">CUSTOMER</p>
    <p>
      The RentiD Digital Assistant app is property management software designed to help both landlords and tenants. ... The web app guides landlords and tenants through the letting process, facilitates good communication between all parties and provides access to relevant products and services at competitive prices.
      
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Transformation</p>
    <p>Property management software provides communicate residential landlords, property managers and tenants
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <div class="col-lg-12" style="line-height: 35px">
    <p class="pt-4 mb-0" style="color: #E58707;font-family: SFPro-thin; ;">Business challenge</p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus fugit provident ipsum ad iusto.
      
    </p>
  </div>
</div>
<div style="height: 5px"></div>
<div class="row padding-left padding-right" style="background-color: #f5f5f5">
  <h4 class="mt-3 mb-3" style="color: #E58707;font-family: SFPro-thin; ;">Results</h4>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f8f8f8;
      height: 120px;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Issue identification and reporting time decreased
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--30% decrease in processing times enables more responsive customer service-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
    
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
     <!-- Frees employees to focus on innovation by simplifying IT management-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      height: 120px;
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
  <div
    class="col-lg-4 color-1"
    style="
      border: 5px solid #f7f7f7;
     
      line-height: 35px;
    "
  >
    <p class="pt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet optio nihil sint deserunt qui possimus!
      <!--Faster XYZ in energy and 98% decrease in rackspace requirements boosts
      efficiency-->
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style=" color: #E58707;font-family: SFPro-Regular;">Business challenge story</h3>
  <!--  <p class="pt-4" style="color: #E58707;">Defining a vision - DUM MY TEXT >>>>>>>>>SUB HEADING</p>-->
    <p style="line-height: 35px;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sequi ullam dolorem suscipit, quam quisquam laborum natus iste iusto eum vitae harum consequuntur in atque!
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style="color: #E58707; font-family: SFPro-Regular;">Transformation story</h3>
   <!-- <p class="pt-4" style="color: #E58707;">Supercharging business performance - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Communicate directly with your tenants in order to foster good relationships and be pro-active about renewing their tenancy. get access to everything you need to find new tenants quickly including advertising your property on Rightmove, Zoopla and PrimeLocation and pulling together a great listing with professional photography, floor plans and 3D virtual tours
 
    </p>
  </div>
</div>
<div class="header-height"></div>
<div class="row padding-left padding-right">
  <div class="col-lg-12">
    <h3 style="color: #E58707; font-family: SFPro-Regular;">Results story</h3>
  <!--  <p class="pt-4" style="color: #E58707;">Living up to green principles - DUM MY TEXT</p>-->
    <p style="line-height: 35px;">
      Issue identification time decreased which ultimately decreased issue reporting time. Downtime of systems decreased, and quality of service improved.
    </p>
  </div>
</div>





