<app-hero-section></app-hero-section>

<div class="padding-left links-tab third" id="links-tab">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" style="padding-left: 0">
        <h5 class="third-h5">Search by:</h5>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/product"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <h5 class="third-h5">Industry</h5>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="left-line nav-link"
        routerLink="/product/solution/solution-list"
        routerLinkActive="active-link"
      >
        <h5 class="third-h5">Solution</h5>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link left-line">
        <h5 class="third-h5">Technology</h5>
      </a>
    </li>
    <li class="nav-item">
      <a class="left-line nav-link">
        <h5 class="third-h5">Service</h5>
      </a>
    </li>
  </ul>
</div>

<div class="padding-left mt-4 padding-right">
  <router-outlet></router-outlet>
</div>

<app-help></app-help>
