<div class="overflow-hidden">
  <app-hero-section></app-hero-section>

  <div class="row">
    <div class="col-lg-12">
      <div
        class="
          padding-left
          links-tab
          third
          d-flex
          align-items-start
          justify-content-start
        "
        id="links-tab"
      >
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link"
              style="padding-left: 0px !important"
              id="search"
            >
              <h5 class="third-h5 pt-2">Search by:</h5>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/product"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <h5 class="third-h5 pt-2">Industry</h5>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/product/solution/solution-list"
              routerLinkActive="active-link"
            >
              <h5 class="third-h5 pt-2">Software Products</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            routerLink="/product/technology/tech-list"
            routerLinkActive="active-link"
            >
            <h5 class="third-h5 pt-2">Technology</h5>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="service">
              <h5 class="third-h5 pt-2">Service</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="padding-left mt-4 padding-right">
      <router-outlet></router-outlet>
    </div>

    <app-help></app-help>
  </div>
  <div class="overflow-hidden"><app-footer-section></app-footer-section></div>
  <div class="row">
    <div class="col-lg-12">
      <p style="background-color: #F0F0F0; font-family: SFPro-light;" class="p-4">
        This document is current as of the initial date of publication and may
        be changed by IBM at any time. Not all offerings are available in every
        country in which IBM operates. The performance data and client examples
        cited are presented for illustrative purposes only. Actual performance
        results may vary depending on specific configurations and operating
        conditions. THE INFORMATION IN THIS DOCUMENT IS PROVIDED “AS IS” WITHOUT
        ANY WARRANTY, EXPRESS OR IMPLIED, INCLUDING WITHOUT ANY WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND ANY WARRANTY OR
        CONDITION OF NON-INFRINGEMENT. IBM products are warranted according to
        the terms and conditions of the agreements under which they are
        provided.  <br> The client is responsible for ensuring compliance with laws
        and regulations applicable to it. IBM does not provide legal advice or
        represent or warrant that its services or products will ensure that the
        client is in compliance with any law or regulation. <br> Actual available
        storage capacity may be reported for both uncompressed and compressed
        data and will vary and may be less than stated.
      </p>
    </div>
  </div>
</div>
