.first-div {
  background-color: #080501;
}

.first-h1 {
  margin-top: 70px;
  margin-bottom: 35px;
  color: white;
}







@media (max-width: 550px) {
  .first-padding-right {
    padding-right: 30px !important;
  }
}



.first-padding-right {
  padding-right: 80px;
}



.third {
  background-color: #1D2957;
}

.third-h5 {
  color: white;
}


.custom-border {
  position: relative;
}

.custom-border:after {
  content: " ";
  position: absolute;
  border-left: 1px white solid;
  top: 35%;
  right: 0;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.active-link {


  background-color: #55565a;



}



@media (max-width: 600px) {

    #search{
      padding: 8px 0px;

    }
      .nav-item, a {
      display:block;
      width: 200px;

      }
      .nav-item, a , h5{
       padding: 0px;
        }
        .active-link{
          background-color: transparent;
        }
        #service{
          padding-bottom: 20px;
        }
  }

  /* .nav-item,
  a,
  h5 {
    padding: 0px;
  } */


