<div class="links-tab padding-left third border-bottom-1" id="links-tab">
  <div class="social-links">
    <a  class="align-middle">
      <h5 class="third-h5">
        Industry</h5>
    </a>
    <a  class="left-line align-middle">
      <h5 class="third-h5">
        Solution</h5>
    </a>
    <a  class="left-line align-middle">
      <h5 class="third-h5">
        Technology</h5>
    </a>
    <a class="left-line align-middle">
      <h5 class="third-h5">
        Service</h5>
    </a>
    <!-- <a  class="left-line align-middle">
      <h5 class="third-h5">
        Warranty Support</h5>
    </a>
    <a  class="left-line align-middle">
      <h5 class="third-h5">
        Testimonials</h5>
    </a> -->
  </div>
  <!-- <div style="height: 2px;">

  </div> -->
</div>
